@charset "utf-8";

/* 引入字体 */
@font-face {
	font-family: CamptonBook;
	src: url(../../common/EN/fonts/Campton/Rene.Bieder_Campton.Book.otf);
}
@font-face {
	font-family: CamptonBookLight;
	src: url(../../common/EN/fonts/Campton/Rene.Bieder_Campton.Light.otf);
}
@font-face {
	font-family: CamptonBookBold;
	src: url(../../common/EN/fonts/Campton/Rene.Bieder_Campton.Bold.otf);
	font-weight:bold;
}

/* 定义变量 */
@url:"../../images/EN/";
/* 定义颜色变量 */
@green:#8ec060;
@purple:#1f2c5c;
@linear:-webkit-linear-gradient(0deg, #42958a 0%, #1f2c5c 100%);
@FBold:CamptonBookBold;
@FLight:CamptonBookLight;

.greenRgb(@opacity){
	color: rgba(142,192,96,@opacity);
}
.purpleRgb(@opacity){
	color: rgba(31,44,92,@opacity);
}
.purpleBgRgb(@opacity){
	background: rgba(31,44,92,@opacity);
}

/* 公共样式 */
input{
	-webkit-appearance: none; /* 解决IOS输入框内部阴影问题 */
}
.clear-both{
	clear: both;
}
body{
	background: #FAFBFF;
}

/* 内容样式 */
.lm-header{
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	text-align: center;
	background: @linear;
	.h-menu{
		float: left;
		font-family:@FBold;
		font-size:18px;
		>img{margin-right: 20px;}
	}
	.h-right{
		float: right;
		>div{
			float: left;
		}
		.v-line{
			margin-left: 20px;
			margin-right: 20px;
		}
		.dot-login{
			margin-left: 10px;
			margin-right: 10px;
		}
		.h-login>img,.h-registered>img{margin-right: 6px;}
	}
}
.lm-section-main{
	position: relative;
	top: -60px;
	width: 100%;
	height: 768px;
	min-height: 300px;
}
.lm-cloud{
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	width: 94%;
	height: 100%;
	box-shadow:0 0 100px 0 rgba(31,44,92,0.50);
	background: url('@{url}cloud-bg.jpg') center no-repeat;
}
.lm-cloud-container{
	position: absolute;
	top:60px;
	right: 0;
	width: 94%;
	height: 220px;
	background-image:-webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
}
.lm-cloud-content{
	position: absolute;
	top:60px;
	left: 11%;
	width: 678px;
	>h1{
		opacity:0.9;
		font-family:@FBold;
		font-size:64px;
		line-height:70px;
		span{color: @green;}
	}
}
.lm-aside-flight{
	position: absolute;
	top: 120px;
	left: 28px;
	z-index: 1;
	width: 110px;
	height: 400px;
	border-radius: 2px;
	background: #fff;
	>ul{
		li{
			width: 110px;
			height: 100px;
			a{
				display: inline-block;
				width: 110px;
				height: 100px;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent !important;
				color:#e9ecfa;
				text-align: center;
				background-size: 50px 50px !important;
				span{
					position: relative;
					top:70px;
					text-align:left;
					line-height: 10px;
				}
			}
			.active{
				// border-left-color: #8EC060;
				color: @purple;
			}
		}
		.li-slide{
			position: absolute;
			left: 0;
			top:30px;
			width: 6px;
			height: 40px;
			background: #8EC060;
			animation-timing-function:ease-out;
			-webkit-animation-timing-function:ease-out; /* Safari and Chrome */
		}
		.li-child1{
			a{background: url('@{url}ticket-icon.png') center 30% no-repeat;}
			.active{background: url('@{url}ticket-icon-active.png') center 30% no-repeat;}
		}
		.li-child2{
			a{background: url('@{url}hotel-icon.png') center 30% no-repeat;}
			.active{background: url('@{url}hotel-icon-active.png') center 30% no-repeat;}
		}
		.li-child3{
			a{background: url('@{url}car-icon.png') center 30% no-repeat;}
			.active{background: url('@{url}car-icon-active.png') center 30% no-repeat;}
		}
		.li-child4{
			a{background: url('@{url}flight-icon.png') center 30% no-repeat;}
			.active{background: url('@{url}flight-icon-active.png') center 30% no-repeat;}
		}
	}
	>a{
		display: block;
		position: absolute;
		bottom: -170px;
		left: 60px;
		width: 80px;
		height: 80px;
		border-radius: 2px;
	}
	.flight-up-arrow{
		background: url('@{url}f-arrow-up.png') center no-repeat @purple;
	}
	.flight-down-arrow{
		left: 170px;
		background: url('@{url}f-arrow-down.png') center no-repeat @green;
	}
}
.lm-aside-blur{
	position: absolute;
	left: 0;
	top: 50%;
	width: 6%;
	height: 50%;
	overflow: hidden;
	.blur-img{
		-webkit-filter: blur(4px);filter: blur(4px);
	}
}
.lm-aside-code{
	position: absolute;
	right: 0;
	top: 100px;
	width:74px;
	height:332px;
	background: url('@{url}QR-code-icon.png') center no-repeat,url('@{url}QR-code-bg.png') center no-repeat;
}
.lm-important{
	position: absolute;
	bottom: 150px;
	right: 0; 
	width:500px;
	height:60px;
	line-height: 60px;
	padding-left: 30px;
	background:#fff;
	box-shadow:0 0 50px 0 rgba(31,44,92,0.20);
	border-radius:30px 0 0 30px;
	>h3{
		position: relative;
		float: left;
		width:110px;
		height:30px;
		line-height: 30px;
		margin-top: 15px;
		padding-left: 30px;
		font-size: 14px;
		background-image:@linear;
		border-radius:0 20px 20px 0;
		>p{
			display: inline-block;
			position: absolute;
			left: -20px;
			top: -5px;
			width:40px;
			height:40px;
			line-height: 40px;
			text-align: center;
			background:#fff;
			box-shadow:0 0 10px 0 rgba(31,44,92,0.20);
			border-radius:100%;
		}
	}
	>p{
		float: left;
		width: 350px;
		margin-left: 10px;
		opacity:0.7;
		color:#000;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
}
.flight-com{
	position: absolute;
	top: 280px;
	left: 16%;
	z-index: 99;
	.ticket-tip{
		opacity:0.5;
		font-size:24px;
		animation-delay:.3s;
		-webkit-animation-delay:.3s; /* Safari 和 Chrome */
	}
	.select-way{
		height: 0;
		margin-top: 0;
		overflow: hidden;
		transition: all .6s;
		-webkit-transition: all .6s;
		>a{
			display: inline-block;
			height:30px;
			line-height: 30px;
			padding-left: 16px;
			padding-right: 16px;
			margin-right: 10px;
			.purpleRgb(0.5);
			background:#fff;
			box-shadow:0 0 50px 0 rgba(31,44,92,0.10);
			border-radius:2px;
		}
		.active{
			background: @green;
			color: #fff;
		}
	}
}
.select-air-com{
	margin-top: 30px;
	overflow: hidden;
	>div{
		visibility: hidden;
		position: relative;
		float: left;
		width: 310px;
		height: 60px;
		line-height: 60px;
		margin-right: 40px;
		margin-bottom: 20px;
		border-radius: 2px;
		>input{
			width: 100%;
			height: 100%;
			padding-left: 70px;
			padding-right: 10px;
			font-size: 20px;
			color: @purple;
			border: 2px solid transparent;
			border-radius: 2px;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: @purple; opacity:.3;font-size: 20px; 
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: @purple;opacity:.3;font-size: 20px;
		}

		input:-ms-input-placeholder{
			color: @purple;opacity:.3;font-size: 20px;
		}

		input::-webkit-input-placeholder{
			color: @purple;opacity:.3;font-size: 20px;
		}
		.t-from-input {
			background: url('@{url}city-from.png') 20px no-repeat #fff;
		}
		.t-to-input {
			background: url('@{url}city-to.png') 20px no-repeat #fff;
		}
	}
	.ticket-from{
		visibility: visible;
		animation-delay: .6s;
		-webkit-animation-delay: .6s; /* Safari 和 Chrome */
	}
	.ticket-date{
		animation-delay: .3s;
		-webkit-animation-delay: .3s; /* Safari 和 Chrome */
	}
	.local-change {
		position: absolute;
		right: -30px;
		top: 20px;
		display: block;
		width: 20px;
		height: 18px;
		background: url('@{url}ticket-change.png') center no-repeat;
		cursor: pointer;
		opacity: 0;
	}
	.t-date-result {
		display: block;
		width: 100%;
		height: 100%;
		padding-left: 70px;
		font-size: 20px;
		color: @purple;
		background: url('@{url}date.png') 20px no-repeat #fff;
	}
	.ticket-people{
		margin-right: 0;
		animation-delay: .6s;
		-webkit-animation-delay: .6s; /* Safari 和 Chrome */
		.t-people-result{
			width: 100%;
			height: 100%;
			padding-left: 20px;
			padding-right: 20px;
			background: #fff;
			>p{
				float: left;
				width: 80px;
				padding-left: 36px;
				font-size: 20px;
				color: @purple;
				text-align: right;
			}
			.p-adult{background: url('@{url}adult.png') 0 center no-repeat;}
			.p-child{
				margin-left: 15px;
				margin-right: 15px;
				background: url('@{url}child.png') 0 center no-repeat;
			}
			.p-infant{background: url('@{url}infant.png') 0 center no-repeat;}
		}
	}
}
.search-flight-wrap{
	visibility: hidden;
	margin-top: 20px;
	padding-left: 350px;
	a{
		float: left;
		display: inline-block;
		width:310px;
		height:60px;
		line-height: 60px;
		text-align: center;
		font-size: 20px;
		color: #fff;
		border:none;
		outline: none;
		border-radius:2px;
	}
	.flight-cancel{
		margin-right: 40px;
		background:#ff8989;
		animation-delay: .9s;
		-webkit-animation-delay: .9s; /* Safari 和 Chrome */
	}
	.flight-search{
		background: @linear;
		animation-delay: 1.2s;
		-webkit-animation-delay: 1.2s; /* Safari 和 Chrome */
	}
}
.popup-container{
	position: relative;
}
.popup-box{
	position: absolute;
	left: 0;
	transition: left .5s ease-out;
	-webkit-transition: left .5s ease-out;
	&::before{
		position: absolute;
		top: -23px;
		left: 150px;
		z-index: 9;
		opacity: 0;
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		border-bottom: 14px solid #fff;
		transition: opacity .2s ease-out;
		-webkit-transition: opacity .2s ease-out;
	}
}
.popup-box-before::before{
	opacity: 1;
	transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
}
.popup-content{
	position: absolute;
	top: -10px;
	left: 0px;
	z-index: 1;
	font-size: 16px;
	.purpleRgb(.5);
	background:#fff;
	border-radius: 2px;
	box-shadow:0 0 30px 0 #1f2c5c;
	transition: opacity .2s ease-out,-webkit-transform .2s ease-out;
	transition: transform .2s ease-out,opacity .2s ease-out;
	transition: transform .2s ease-out,opacity .2s ease-out,-webkit-transform .2s ease-out;
	.popup-airport{
		width: 628px;
		padding:20px 20px 10px;
		>h2{
			font-family: @FBold;
			font-size: 20px;
			.purpleRgb(.8);
			margin-bottom: 20px;
		}
		.flight-list-wrap{
			overflow: hidden;
			>li{
				float: left;
				width: 50%;
				padding-left: 30px;
				margin-bottom: 10px;
				background: url('@{url}city-icon.png') left center no-repeat;
				cursor: pointer;
				transition: all .3s;
				-webkit-transition: all .3s;
				&:hover{
					color: @green;
					background: url('@{url}city-icon-active.png') left center no-repeat;
					transition: all .3s;
					-webkit-transition: all .3s;
				}
				>span{
					.purpleRgb(1);
				}
			}
			.active{
				color: @green;
				background: url('@{url}city-icon-active.png') left center no-repeat;
			}
		}
	}
	.popup-search-width{

	}
	.popup-airport-to{display: none;}
	.popup-date{
		display: none;
		width: 598px;
		.date-title {
			padding-left: 20px;
			padding-top: 20px;
			font-size: 20px;
			font-family: @FBold;
			.purpleRgb(.8); 
		}
	}
	.popup-people{
		display: none;
		width: 410px;
		height: 290px;
		padding: 20px 30px 30px;
		.people-title{
			font-size: 20px;
			font-family: @FBold;
			.purpleRgb(.8); 
		}
		.s-people-com{
			height: 50px;
			margin-top: 20px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.people-prompt{
			float: left;
			.p1{
				color: rgba(0,0,0,.7);
				>img{
					margin-right: 10px;
					vertical-align: text-bottom;
				}
			}
			.p2{
				margin-top: 5px;
				font-family: @FLight;
				font-size: 14px;
				color: rgba(0,0,0,.3);
				cursor: pointer;
				>img{
					margin-left: 10px;
					margin-right: 10px;
					vertical-align: top;
				}
			}
		}
		.people-number{
			float: right;
			width:200px;
			height:50px;
			line-height: 46px;
			padding: 4px;
			text-align: center;
			color: #fff;
			background: @linear;
			border-radius:2px;
			>a{
				display: inline-block;
				width:42px;
				height:42px;
				color: #fff;
				border-radius:2px;
				transition: all .3s;
				-webkit-transition: all .3s;
			}
			.add-people{
				float: right;
				background: url('@{url}add-people.png') center no-repeat rgba(255,255,255,.3);
				&:hover{
					background: url('@{url}add-people.png') center no-repeat rgba(255,255,255,.7);
					transition: all .3s;
					-webkit-transition: all .3s;
				}
			}
			.sub-people{
				float: left;
				background: url('@{url}sub-people.png') center no-repeat rgba(255,255,255,.3);
				&:hover{
					background: url('@{url}sub-people.png') center no-repeat rgba(255,255,255,.7);
					transition: all .3s;
					-webkit-transition: all .3s;
				}
			}
			.off-sub-operation{
				background: url('@{url}sub-people.png') center no-repeat rgba(255,255,255,.1);
				cursor: not-allowed;
				&:hover{
					background: url('@{url}sub-people.png') center no-repeat rgba(255,255,255,.1);
				}
			}
			.off-add-operation{
				background: url('@{url}add-people.png') center no-repeat rgba(255,255,255,.1);
				cursor: not-allowed;
				&:hover{
					background: url('@{url}add-people.png') center no-repeat rgba(255,255,255,.1);
				}
			}
			>span{
				font-family: @FBold;
				font-size: 24px;
			}
		}
		.disable{
			color: @purple;
			background: url('@{url}add-people.png') center no-repeat rgba(31,44,92,.04);
			.add-people{
				background: url('@{url}add-people.png') center no-repeat rgba(31,44,92,.3);
				&:hover{
					background: url('@{url}add-people.png') center no-repeat rgba(31,44,92,.7);
					transition: all .3s;
					-webkit-transition: all .3s;
				}
			}
			.sub-people{
				background: url('@{url}sub-people.png') center no-repeat rgba(31,44,92,.3);
				&:hover{
					background: url('@{url}sub-people.png') center no-repeat rgba(31,44,92,.7);
					transition: all .3s;
					-webkit-transition: all .3s;
				}
			}
			.off-sub-operation{
				background: url('@{url}sub-people.png') center no-repeat rgba(31,44,92,.1);
				cursor: not-allowed;
				&:hover{
					background: url('@{url}sub-people.png') center no-repeat rgba(31,44,92,.1);
				}
			}
			.off-add-operation{
				background: url('@{url}add-people.png') center no-repeat rgba(31,44,92,.1);
				cursor: not-allowed;
				&:hover{
					background: url('@{url}add-people.png') center no-repeat rgba(31,44,92,.1);
				}
			}
		}
	}
}
.popup-inactive{
	opacity: 0;
	visibility: hidden;
	transform: perspective(600px) rotateX(-10deg);
	-webkit-transform: perspective(600px) rotateX(-10deg);
	-ms-transform: perspective(600px) rotateX(-10deg);
	-o-transform: perspective(600px) rotateX(-10deg);
}
.popup-active{
	opacity: 1;
	visibility: visible;
	transform: perspective(600px) rotateX(0);
	-webkit-transform: perspective(600px) rotateX(0);
	-ms-transform: perspective(600px) rotateX(0);
	-o-transform: perspective(600px) rotateX(0);
}
.lm-scroll-down{
	position: absolute;
	left: 50%;
	bottom: 50px;
	width: 26px;
	height: 50px;
	margin-left: -13px;
	margin-top: -25px;
	background: url('@{url}scroll-down.png') center no-repeat;
}
.lm-flight-mask,.lm-flight-mask2{
	display: none;
	position: fixed;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
	opacity:0.5;
	background:#000;
}
.lm-flight-mask2{
	z-index: 10;
}

/* 屏幕缩放 */
@media screen and (max-width: 1800px) {
	.lm-cloud-content{
		left: 5%;
	}
	.flight-com{
		left: 11%;
	}
}
@media screen and (max-width: 1660px) {
	.flight-com,.lm-cloud-content,.lm-aside-flight,.lm-important{
		-webkit-transform: scale(.8); 
		transform: scale(.8); 
		-webkit-transform-origin: top;
		transform-origin: top;
	}
	.lm-important{
		right: -50px;
	}
	.flight-com{
		left: 7%;
	}
}
@media screen and (max-width: 1480px) {
	.flight-com,.lm-cloud-content,.lm-aside-flight,.lm-important{
		-webkit-transform: scale(.7); 
		transform: scale(.7); 
		-webkit-transform-origin: top;
		transform-origin: top;
	}
	.lm-cloud-container{
		height: 160px;
	}
	.flight-com{
		top: 220px;
	}
	.lm-important{
		right: -75px;
		bottom: 70px;
	}
	.lm-cloud-content{
		left: 0%;
		top: 40px;
	}
	.flight-com{
		left: -2%;
	}
}
@media screen and (max-width: 1350px) {
	.flight-com{
		left: 22%;
	}
	.lm-cloud-content{
		left: 21%;
	}
	.search-flight-wrap{
		padding-left: 0;
	}
}