@charset "utf-8";
/* 定义变量 */
/* 定义颜色变量 */
/* 公共样式 */
input {
  -webkit-appearance: none;
  /* 解决IOS输入框内部阴影问题 */
}
.clear-both {
  clear: both;
}
body {
  background: #FAFBFF;
}
/* 内容样式 */
.lm-header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  background: -webkit-linear-gradient(0deg, #42958a 0%, #1f2c5c 100%);
}
.lm-header .h-menu {
  float: left;
  font-family: Campton-Bold;
  font-size: 18px;
}
.lm-header .h-menu > img {
  margin-right: 20px;
}
.lm-header .h-right {
  float: right;
}
.lm-header .h-right > div {
  float: left;
}
.lm-header .h-right .v-line {
  margin-left: 20px;
  margin-right: 20px;
}
.lm-header .h-right .dot-login {
  margin-left: 10px;
  margin-right: 10px;
}
.lm-header .h-right .h-login > img,
.lm-header .h-right .h-registered > img {
  margin-right: 6px;
}
.lm-section-main {
  position: relative;
  top: -60px;
  width: 100%;
  min-height: 300px;
}
.lm-cloud {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 94%;
  height: 100%;
  box-shadow: 0 0 100px 0 rgba(31, 44, 92, 0.5);
  background: url('../../images/EN/cloud-bg.jpg') center no-repeat;
}
.lm-cloud-content {
  position: absolute;
  top: 120px;
  left: 16%;
  width: 678px;
}
.lm-cloud-content > h1 {
  opacity: 0.9;
  font-family: Campton-Bold;
  font-size: 64px;
  line-height: 70px;
}
.lm-cloud-content > h1 span {
  color: #8ec060;
}
.lm-cloud-content > p {
  opacity: 0.5;
  font-size: 24px;
  margin-top: 20px;
}
.lm-aside-flight {
  position: absolute;
  top: 120px;
  left: 28px;
  z-index: 1;
  width: 110px;
  height: 400px;
  border-radius: 2px;
  background: #fff;
}
.lm-aside-flight > ul li {
  width: 110px;
  height: 100px;
}
.lm-aside-flight > ul li a {
  display: inline-block;
  width: 110px;
  height: 100px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent !important;
  color: #fff;
  text-align: center;
  background-size: 50px 50px !important;
}
.lm-aside-flight > ul li a span {
  position: relative;
  top: 70px;
  color: #1f2c5c;
  text-align: left;
  line-height: 10px;
}
.lm-aside-flight > ul .li-slide {
  position: absolute;
  left: 0;
  top: 30px;
  width: 6px;
  height: 40px;
  background: #8EC060;
}
.lm-aside-flight > ul .li-child1 a {
  background: url('../../images/EN/ticket.png') center 30% no-repeat;
}
.lm-aside-flight > ul .li-child1 .active {
  background: url('../../images/EN/ticket.png') center 30% no-repeat;
}
.lm-aside-flight > a {
  display: block;
  position: absolute;
  bottom: -170px;
  left: 60px;
  width: 80px;
  height: 80px;
  border-radius: 2px;
}
.lm-aside-flight .flight-up-arrow {
  background: url('../../images/EN/f-arrow-up.png') center no-repeat #1f2c5c;
}
.lm-aside-flight .flight-down-arrow {
  left: 170px;
  background: url('../../images/EN/f-arrow-down.png') center no-repeat #8ec060;
}
.lm-aside-blur {
  position: absolute;
  left: 0;
  top: 50%;
  width: 6%;
  height: 50%;
  overflow: hidden;
}
.lm-aside-blur .blur-img {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.lm-aside-code {
  position: absolute;
  right: 0;
  top: 300px;
  width: 74px;
  height: 332px;
  background: url('../../images/EN/QR-code-icon.png') center no-repeat, url('../../images/EN/QR-code-bg.png') center no-repeat;
}
.lm-important {
  position: absolute;
  bottom: 150px;
  right: 0;
  width: 500px;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
  border-radius: 30px 0 0 30px;
}
.lm-important > h3 {
  position: relative;
  float: left;
  width: 110px;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  padding-left: 30px;
  font-size: 14px;
  background-image: -webkit-linear-gradient(0deg, #42958a 0%, #1f2c5c 100%);
  border-radius: 0 20px 20px 0;
}
.lm-important > h3 > p {
  display: inline-block;
  position: absolute;
  left: -20px;
  top: -5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(31, 44, 92, 0.2);
  border-radius: 100%;
}
.lm-important > p {
  float: left;
  width: 350px;
  margin-left: 10px;
  opacity: 0.7;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.flight-com {
  position: absolute;
  top: 360px;
  left: 16%;
}
.flight-com .select-way > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
  color: rgba(31, 44, 92, 0.5);
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  border-radius: 2px;
}
.flight-com .select-way .active {
  background: #8ec060;
  color: #fff;
}
.select-air-com {
  margin-top: 30px;
}
.select-air-com > div {
  position: relative;
  float: left;
  width: 310px;
  height: 60px;
  line-height: 60px;
  margin-right: 40px;
  margin-bottom: 30px;
  border-radius: 2px;
}
.select-air-com > div > input {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  padding-right: 10px;
  font-size: 20px;
  color: #1f2c5c;
  border: 2px solid transparent;
  border-radius: 2px;
}
.select-air-com > div :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #1f2c5c;
  opacity: .3;
  font-size: 20px;
}
.select-air-com > div ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #1f2c5c;
  opacity: .3;
  font-size: 20px;
}
.select-air-com > div input:-ms-input-placeholder {
  color: #1f2c5c;
  opacity: .3;
  font-size: 20px;
}
.select-air-com > div input::-webkit-input-placeholder {
  color: #1f2c5c;
  opacity: .3;
  font-size: 20px;
}
.select-air-com > div .t-from-input {
  background: url('../../images/EN/city-from.png') 20px no-repeat #fff;
}
.select-air-com > div .t-to-input {
  background: url('../../images/EN/city-to.png') 20px no-repeat #fff;
}
.select-air-com .local-change {
  position: absolute;
  right: -30px;
  top: 20px;
  display: block;
  width: 20px;
  height: 18px;
  background: url('../../images/EN/ticket-change.png') center no-repeat;
  cursor: pointer;
}
.select-air-com .t-date-result {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 70px;
  font-size: 20px;
  color: #1f2c5c;
  background: url('../../images/EN/date.png') 20px no-repeat #fff;
}
.select-air-com .ticket-people .t-people-result {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
}
.select-air-com .ticket-people .t-people-result > p {
  float: left;
  width: 80px;
  padding-left: 40px;
  font-size: 20px;
  color: #1f2c5c;
  text-align: right;
}
.select-air-com .ticket-people .t-people-result .p-adult {
  background: url('../../images/EN/adult.png') 0 center no-repeat;
}
.select-air-com .ticket-people .t-people-result .p-child {
  margin-left: 15px;
  margin-right: 15px;
  background: url('../../images/EN/child.png') 0 center no-repeat;
}
.select-air-com .ticket-people .t-people-result .p-infant {
  background: url('../../images/EN/infant.png') 0 center no-repeat;
}
/* 手机端 */
