@charset "utf-8";
/* 定义变量 */
/* 定义颜色变量 */
/* 公共样式 */
input {
  -webkit-appearance: none;
  /* 解决IOS输入框内部阴影问题 */
}
body {
  background: #FAFBFF;
}
/* 内容样式 */
.lm-header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  background: -webkit-linear-gradient(0deg, #42958a 0%, #1f2c5c 100%);
}
.lm-header .h-menu {
  float: left;
  font-family: Campton-Bold;
  font-size: 18px;
}
.lm-header .h-menu > img {
  margin-right: 20px;
}
.lm-header .h-right {
  float: right;
}
.lm-header .h-right > div {
  float: left;
}
.lm-header .h-right .v-line {
  margin-left: 20px;
  margin-right: 20px;
}
.lm-header .h-right .dot-login {
  margin-left: 10px;
  margin-right: 10px;
}
.lm-header .h-right .h-login > img,
.lm-header .h-right .h-registered > img {
  margin-right: 6px;
}
.lm-cloud {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 94%;
  height: 100%;
  box-shadow: 0 0 100px 0 rgba(31, 44, 92, 0.5);
  background: url('../../images/EN/cloud-bg.jpg') center no-repeat;
}
.lm-cloud-content {
  position: absolute;
  top: 120px;
  left: 16%;
  width: 678px;
}
.lm-cloud-content > h1 {
  opacity: 0.9;
  font-family: Campton-Bold;
  font-size: 64px;
  line-height: 70px;
}
.lm-cloud-content > h1 span {
  color: #8ec060;
}
.lm-cloud-content > p {
  opacity: 0.5;
  font-size: 24px;
  margin-top: 20px;
}
.lm-aside-flight {
  position: absolute;
  top: 120px;
  left: 28px;
  z-index: 1;
  width: 110px;
  height: 400px;
  background: #fff;
}
.lm-aside-flight > ul li {
  width: 110px;
  height: 100px;
}
.lm-aside-flight > ul li a {
  display: inline-block;
  width: 110px;
  height: 100px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent !important;
  color: #fff;
  text-align: center;
  background-size: 50px 50px !important;
}
.lm-aside-flight > ul li a span {
  position: relative;
  top: 70px;
  color: #1f2c5c;
  text-align: left;
  line-height: 10px;
}
.lm-aside-flight > ul .li-slide {
  position: absolute;
  left: 0;
  top: 30px;
  width: 6px;
  height: 40px;
  background: #8EC060;
}
.lm-aside-flight > ul .li-child1 a {
  background: url('../../images/EN/ticket.png') center 30% no-repeat;
}
.lm-aside-flight > ul .li-child1 .active {
  background: url('../../images/EN/ticket.png') center 30% no-repeat;
}
.lm-aside-flight > a {
  display: block;
  position: absolute;
  bottom: -170px;
  left: 60px;
  width: 80px;
  height: 80px;
}
.lm-aside-flight .flight-up-arrow {
  background: url('../../images/EN/f-arrow-up.png') center no-repeat #1f2c5c;
}
.lm-aside-flight .flight-down-arrow {
  left: 170px;
  background: url('../../images/EN/f-arrow-down.png') center no-repeat #8ec060;
}
.lm-aside-blur {
  position: fixed;
  left: 0;
  top: 50%;
  width: 6%;
  height: 50%;
  overflow: hidden;
}
.lm-aside-blur .blur-img {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.lm-aside-code {
  position: fixed;
  right: 0;
  top: 300px;
  width: 74px;
  height: 332px;
  background: url('../../images/EN/QR-code-icon.png') center no-repeat, url('../../images/EN/QR-code-bg.png') center no-repeat;
}
/* 手机端 */
