@charset "utf-8";
/* 定义变量 */
@url:"../../images/EN/";
/* 定义颜色变量 */
@green:#8ec060;
@purple:#1f2c5c;
@linear:-webkit-linear-gradient(0deg, #42958a 0%, #1f2c5c 100%);
@FBold:Campton-Bold;

.greenRgb(@opacity){
	color: rgba(142,192,96,@opacity);
}
.purpleRgb(@opacity){
	color: rgba(31,44,92,@opacity);
}

/* 公共样式 */
input{
	-webkit-appearance: none; /* 解决IOS输入框内部阴影问题 */
}
.clear-both{
	clear: both;
}
body{
	background: #FAFBFF;
}

/* 内容样式 */
.lm-header{
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	text-align: center;
	background: @linear;
	.h-menu{
		float: left;
		font-family:@FBold;
		font-size:18px;
		>img{margin-right: 20px;}
	}
	.h-right{
		float: right;
		>div{
			float: left;
		}
		.v-line{
			margin-left: 20px;
			margin-right: 20px;
		}
		.dot-login{
			margin-left: 10px;
			margin-right: 10px;
		}
		.h-login>img,.h-registered>img{margin-right: 6px;}
	}
}
.lm-section-main{
	position: relative;
	top: -60px;
	width: 100%;
	min-height: 300px;
}
.lm-cloud{
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	width: 94%;
	height: 100%;
	box-shadow:0 0 100px 0 rgba(31,44,92,0.50);
	background: url('@{url}cloud-bg.jpg') center no-repeat;
}
.lm-cloud-content{
	position: absolute;
	top:120px;
	left: 16%;
	width: 678px;
	>h1{
		opacity:0.9;
		font-family:@FBold;
		font-size:64px;
		line-height:70px;
		span{color: @green;}
	}
	>p{
		opacity:0.5;
		font-size:24px;
		margin-top: 20px;
	}
}
.lm-aside-flight{
	position: absolute;
	top: 120px;
	left: 28px;
	z-index: 1;
	width: 110px;
	height: 400px;
	border-radius: 2px;
	background: #fff;
	>ul{
		li{
			width: 110px;
			height: 100px;
			a{
				display: inline-block;
				width: 110px;
				height: 100px;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent !important;
				color: #fff;
				text-align: center;
				background-size: 50px 50px !important;
				span{
					position: relative;
					top:70px;
					color:@purple;
					text-align:left;
					line-height: 10px;
				}
			}
			.active{
				// border-left-color: #8EC060;
			}
		}
		.li-slide{
			position: absolute;
			left: 0;
			top:30px;
			width: 6px;
			height: 40px;
			background: #8EC060;
		}
		.li-child1{
			a{background: url('@{url}ticket.png') center 30% no-repeat;}
			.active{background: url('@{url}ticket.png') center 30% no-repeat;}
		}
		// .li-child2{
		// 	a{background: url('@{url}hotel-icon.png') center 30% no-repeat;}
		// 	.active{background: url('@{url}hotel-icon-active.png') center 30% no-repeat;}
		// }
		// .li-child3{
		// 	a{background: url('@{url}car-icon.png') center 30% no-repeat;}
		// 	.active{background: url('@{url}car-icon-active.png') center 30% no-repeat;}
		// }
		// .li-child4{
		// 	a{background: url('@{url}flight-icon.png') center 30% no-repeat;}
		// 	.active{background: url('@{url}flight-icon-active.png') center 30% no-repeat;}
		// }
	}
	>a{
		display: block;
		position: absolute;
		bottom: -170px;
		left: 60px;
		width: 80px;
		height: 80px;
		border-radius: 2px;
	}
	.flight-up-arrow{
		background: url('@{url}f-arrow-up.png') center no-repeat @purple;
	}
	.flight-down-arrow{
		left: 170px;
		background: url('@{url}f-arrow-down.png') center no-repeat @green;
	}
}
.lm-aside-blur{
	position: absolute;
	left: 0;
	top: 50%;
	width: 6%;
	height: 50%;
	overflow: hidden;
	.blur-img{
		-webkit-filter: blur(4px);filter: blur(4px);
	}
}
.lm-aside-code{
	position: absolute;
	right: 0;
	top: 300px;
	width:74px;
	height:332px;
	background: url('@{url}QR-code-icon.png') center no-repeat,url('@{url}QR-code-bg.png') center no-repeat;
}
.lm-important{
	position: absolute;
	bottom: 150px;
	right: 0; 
	width:500px;
	height:60px;
	line-height: 60px;
	padding-left: 30px;
	background:#fff;
	box-shadow:0 0 50px 0 rgba(31,44,92,0.20);
	border-radius:30px 0 0 30px;
	>h3{
		position: relative;
		float: left;
		width:110px;
		height:30px;
		line-height: 30px;
		margin-top: 15px;
		padding-left: 30px;
		font-size: 14px;
		background-image:@linear;
		border-radius:0 20px 20px 0;
		>p{
			display: inline-block;
			position: absolute;
			left: -20px;
			top: -5px;
			width:40px;
			height:40px;
			line-height: 40px;
			text-align: center;
			background:#fff;
			box-shadow:0 0 10px 0 rgba(31,44,92,0.20);
			border-radius:100%;
		}
	}
	>p{
		float: left;
		width: 350px;
		margin-left: 10px;
		opacity:0.7;
		color:#000;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
}
.flight-com{
	position: absolute;
	top: 360px;
	left: 16%;
	.select-way{
		>a{
			display: inline-block;
			height:30px;
			line-height: 30px;
			padding-left: 16px;
			padding-right: 16px;
			margin-right: 10px;
			.purpleRgb(0.5);
			background:#fff;
			box-shadow:0 0 50px 0 rgba(31,44,92,0.10);
			border-radius:2px;
		}
		.active{
			background: @green;
			color: #fff;
		}
	}
}
.select-air-com{
	margin-top: 30px;
	>div{
		position: relative;
		float: left;
		width: 310px;
		height: 60px;
		line-height: 60px;
		margin-right: 40px;
		margin-bottom: 30px;
		border-radius: 2px;
		>input{
			width: 100%;
			height: 100%;
			padding-left: 70px;
			padding-right: 10px;
			font-size: 20px;
			color: @purple;
			border: 2px solid transparent;
			border-radius: 2px;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: @purple; opacity:.3;font-size: 20px; 
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: @purple;opacity:.3;font-size: 20px;
		}

		input:-ms-input-placeholder{
			color: @purple;opacity:.3;font-size: 20px;
		}

		input::-webkit-input-placeholder{
			color: @purple;opacity:.3;font-size: 20px;
		}
		.t-from-input {
			background: url('@{url}city-from.png') 20px no-repeat #fff;
		}
		.t-to-input {
			background: url('@{url}city-to.png') 20px no-repeat #fff;
		}
	}
	.local-change {
		position: absolute;
		right: -30px;
		top: 20px;
		display: block;
		width: 20px;
		height: 18px;
		background: url('@{url}ticket-change.png') center no-repeat;
		cursor: pointer;
	}
	.t-date-result {
		display: block;
		width: 100%;
		height: 100%;
		padding-left: 70px;
		font-size: 20px;
		color: @purple;
		background: url('@{url}date.png') 20px no-repeat #fff;
	}
	.ticket-people{
		.t-people-result{
			width: 100%;
			height: 100%;
			padding-left: 20px;
			padding-right: 20px;
			background: #fff;
			>p{
				float: left;
				width: 80px;
				padding-left: 40px;
				font-size: 20px;
				color: @purple;
				text-align: right;
			}
			.p-adult{background: url('@{url}adult.png') 0 center no-repeat;}
			.p-child{
				margin-left: 15px;
				margin-right: 15px;
				background: url('@{url}child.png') 0 center no-repeat;
			}
			.p-infant{background: url('@{url}infant.png') 0 center no-repeat;}
		}
	}
}


/* 手机端 */
@media screen and (max-width: 767px) {
	
}