@charset "utf-8";

/* 引入字体 */
@font-face {
	font-family: CamptonBookBold;
	src: url(../../common/EN/fonts/Campton/Rene.Bieder_Campton.Bold.otf);
	font-weight:bold;
}

/* 定义变量 */
@url:"../../images/EN/";
@url2:"../../imgage_demo/";
/* 定义颜色变量 */
@green:#8ec060;
@purple:#1f2c5c;
@FBold:CamptonBookBold;

.lm-memberActive-Tue{
	width:100%;
	height:340px;
}

/* 手机端 */
@media (max-width: 767px) {
	.lm-memberActive-Tue{
		height:132px;
	}
}