@charset "utf-8";
@font-face {
  font-family: CamptonBookBold;
  src: url(../../common/EN/fonts/Campton/Rene.Bieder_Campton.Bold.otf);
  font-weight: bold;
}
/* 定义变量 */
.lm-section {
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}
.lm-title {
  width: 100%;
  text-align: center;
}
.lm-title h1 {
  font-size: 36px;
  color: #1f2c5c;
  font-family: CamptonBookBold;
}
.lm-content {
  width: 100%;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.lm-content > div {
  position: relative;
  float: left;
  width: 660px;
  height: 60px;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  border-radius: 2px;
}
.lm-content > div > input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #1f2c5c;
  padding-left: 70px;
  padding-right: 20px;
}
.lm-content > div :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(31, 44, 92, 0.3);
  font-size: 20px;
}
.lm-content > div ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(31, 44, 92, 0.3);
  font-size: 20px;
}
.lm-content > div input:-ms-input-placeholder {
  color: rgba(31, 44, 92, 0.3);
  font-size: 20px;
}
.lm-content > div input::-webkit-input-placeholder {
  color: rgba(31, 44, 92, 0.3);
  font-size: 20px;
}
.lm-content .flight-num-wrap,
.lm-content .name-wrap {
  margin-right: 40px;
}
.lm-content .dropdownMenu-wrap {
  display: none;
  position: absolute;
  top: 90px;
  z-index: 9;
  width: 660px;
  height: 318px;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
}
.lm-content .dropdownMenu-wrap:before {
  position: absolute;
  top: -14px;
  left: 109px;
  z-index: 9;
  filter: alpha(opacity=0);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
  transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
}
.lm-content .dropdownMenu-wrap .menu-com {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  color: rgba(31, 44, 92, 0.5);
  background: #fff;
  z-index: 999;
  border-radius: 2px;
  border-top: none;
  overflow-y: scroll;
}
.lm-content .dropdownMenu-wrap .menu-com > li {
  float: left;
  width: 25%;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 10px;
  background: url('../../images/EN/city-icon.png') left center no-repeat;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-content .dropdownMenu-wrap .menu-com > li:hover {
  color: #8ec060;
  background: url('../../images/EN/city-icon-active.png') left center no-repeat;
}
.lm-content .dropdownMenu-wrap .menu-com > li span {
  color: #1f2c5c;
}
.lm-content .dropdownMenu-wrap .menu-com > li a {
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 0px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lm-content .dropdownMenu-wrap .menu-com > li a:hover {
  background: #8ec060;
  color: #fff;
}
.lm-content .dropdownMenu-wrap .menu-com .no-result-match {
  width: 100%;
}
.lm-content .dataMenu-wrap {
  width: 312px;
  height: 279px;
}
.lm-content .name-wrap {
  position: relative;
}
.lm-content .name-wrap input {
  width: 50%;
  float: left;
}
.lm-content .name-wrap .input-line {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin-top: -16px;
  display: block;
  width: 2px;
  height: 32px;
  background: rgba(31, 44, 92, 0.3);
  border-radius: 1px;
}
.lm-content .name-wrap .firstName-input {
  padding-left: 20px;
}
.lm-content .flight-num-wrap input {
  background: url('../../images/EN/flight-number.png') 20px center no-repeat;
}
.lm-content .date-wrap input {
  background: url('../../images/EN/date.png') 20px center no-repeat;
}
.lm-content .name-wrap .lastName-input {
  background: url('../../images/EN/baggageName.png') 20px center no-repeat;
}
.lm-content .passport-wrap input {
  background: url('../../images/EN/passport.png') 20px center no-repeat;
}
.lm-select-baggage {
  position: relative;
  width: 100%;
  clear: both;
  margin-top: 50px;
  text-align: center;
}
.lm-select-baggage > img {
  display: none;
  width: 100%;
}
.lm-select-baggage .baggagePurchase-1 {
  display: block;
}
.lm-select-baggage .baggage-wrap {
  position: absolute;
  top: 50px;
  width: 100%;
  font-size: 24px;
  color: rgba(31, 44, 92, 0.5);
}
.lm-select-baggage .baggage-wrap input::-webkit-outer-spin-button,
.lm-select-baggage .baggage-wrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.lm-select-baggage .baggage-wrap input[type="number"] {
  -moz-appearance: textfield;
  width: 70px;
  height: 40px;
  text-align: center;
  color: #1f2c5c;
  font-family: CamptonBookBold;
  background: rgba(31, 44, 92, 0.1);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
.lm-baggage-price {
  margin-top: 20px;
  padding: 0 20px 30px;
  border-bottom: 1px dashed rgba(31, 44, 92, 0.2);
  overflow: hidden;
}
.lm-baggage-price .price-result {
  float: left;
}
.lm-baggage-price .price-result .totle-price {
  font-size: 20px;
  color: #1f2c5c;
}
.lm-baggage-price .price-result .totle-price span {
  font-size: 36px;
  color: #1f2c5c;
  font-family: CamptonBookBold;
  margin-left: 20px;
}
.lm-baggage-price .price-result .agree-clause {
  margin-top: 20px;
  font-size: 18px;
  color: #1f2c5c;
}
.lm-baggage-price .price-result .agree-clause a {
  color: #42958a;
}
.lm-baggage-price .price-result .agree-clause input[type='checkbox'] {
  width: 26px;
  height: 26px;
  background: rgba(31, 44, 92, 0.2);
  -webkit-appearance: none;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-right: 20px;
  margin-top: 0;
  vertical-align: text-bottom;
}
.lm-baggage-price .price-result .agree-clause input[type=checkbox]:checked {
  background: #42958a;
}
.lm-baggage-price .cal-price {
  float: right;
  width: 300px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  background: #1f2c5c;
  border-radius: 2px;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.lm-baggage-price .cal-price:hover {
  background: #8ec06c;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.lm-pay-method {
  margin-top: 30px;
  margin-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;
}
.lm-pay-method .pay-title {
  font-size: 20px;
  font-family: CamptonBookBold;
  color: #131c3e;
}
.lm-pay-method .pay-title img {
  margin-right: 20px;
}
.lm-pay-method .pay-content {
  margin-top: 30px;
  overflow: hidden;
}
.lm-pay-method .pay-content .pay-select {
  float: left;
}
.lm-pay-method .pay-content .pay-select > a {
  display: inline-block;
  width: 200px;
  height: 80px;
}
.lm-pay-method .pay-content .AliPay {
  background: url('../../images/EN/AliPay.png') center no-repeat;
  margin-right: 36px;
}
.lm-pay-method .pay-content .AliPay.active {
  background: url('../../images/EN/AliPay-active.png') center no-repeat;
  margin-right: 36px;
}
.lm-pay-method .pay-content .PayPal {
  background: url('../../images/EN/PayPal.png') center no-repeat;
}
.lm-pay-method .pay-content .PayPal.active {
  background: url('../../images/EN/PayPal-active.png') center no-repeat;
}
.lm-pay-method .pay-content .pay-baggage {
  width: 160px;
  height: 60px;
  line-height: 60px;
  float: right;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 2px;
  background: #1f2c5c;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.lm-pay-method .pay-content .pay-baggage:hover {
  background: #8ec06c;
  transition: background .3s;
  -webkit-transition: background .3s;
}
/* 修改日期样式 */
.daterangepicker.ltr .calendar.left {
  margin-top: 6px;
}
/* 屏幕适配 */
@media screen and (max-width: 1440px) {
  .lm-section {
    width: 990px;
  }
  .lm-content > div {
    width: 460px;
  }
  .lm-content .flight-num-wrap,
  .lm-content .name-wrap {
    margin-right: 30px;
  }
  .lm-baggage-price .cal-price {
    width: 220px;
  }
  .lm-pay-method .pay-content .pay-baggage {
    width: 120px;
  }
}
@media screen and (max-width: 992px) {
  .lm-section {
    width: 100%;
  }
  .lm-content > div {
    width: 100%;
  }
  .lm-content .flight-num-wrap,
  .lm-content .name-wrap {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .lm-section {
    padding: .3rem .15rem .1rem;
    margin-top: 0;
  }
  .lm-title h1 {
    font-size: .2rem;
  }
  .lm-content {
    margin-top: 0.2rem;
    padding: 0;
  }
  .lm-content > div {
    height: 40px;
    line-height: 40px;
    margin-bottom: 0.1rem;
  }
  .lm-content > div > input {
    font-size: 16px;
    background-size: 24px !important;
    background-position: 13px center !important;
    padding-left: 50px;
  }
  .lm-content > div :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
  }
  .lm-content > div ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 14px;
  }
  .lm-content > div input:-ms-input-placeholder {
    font-size: 14px;
  }
  .lm-content > div input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .lm-content .dropdownMenu-wrap {
    width: 100%;
    top: 60px;
  }
  .lm-content .dropdownMenu-wrap .menu-com {
    font-size: 14px;
  }
  .lm-content .dropdownMenu-wrap .menu-com > li {
    width: 50%;
    line-height: 24px;
  }
  .lm-content .name-wrap .input-line {
    height: 22px;
    margin-top: -11px;
  }
  .lm-content .name-wrap .lastName-input {
    padding-right: 10px;
  }
  .lm-content .name-wrap .firstName-input {
    padding-left: 10px;
  }
  .daterangepicker {
    width: 300px;
  }
  .lm-select-baggage {
    padding-top: .2rem;
  }
  .lm-select-baggage .baggage-wrap {
    font-size: .14rem;
    top: .36rem;
  }
  .lm-select-baggage .baggage-wrap input[type="number"] {
    width: .5rem;
    height: .3rem;
  }
  .lm-baggage-price {
    padding: 0;
    padding-bottom: .2rem;
    margin-top: .2rem;
  }
  .lm-baggage-price .price-result .totle-price {
    font-size: .14rem;
  }
  .lm-baggage-price .price-result .totle-price span {
    font-size: .24rem;
  }
  .lm-baggage-price .price-result .agree-clause {
    font-size: .12rem;
    margin-top: .1rem;
  }
  .lm-baggage-price .price-result .agree-clause input[type='checkbox'] {
    width: .12rem;
    height: .12rem;
    margin-right: .06rem;
    vertical-align: text-top;
  }
  .lm-baggage-price .cal-price {
    float: left;
    width: 1.5rem;
    height: .4rem;
    line-height: .4rem;
    margin-top: .1rem;
    font-size: .14rem;
  }
  .lm-pay-method {
    margin-top: .2rem;
    margin-bottom: .4rem;
    padding: 0;
  }
  .lm-pay-method .pay-title {
    font-size: .16rem;
  }
  .lm-pay-method .pay-title img {
    height: .24rem;
    margin-right: .1rem;
  }
  .lm-pay-method .pay-content {
    margin-top: .2rem;
  }
  .lm-pay-method .pay-content .AliPay {
    margin-right: .18rem;
  }
  .lm-pay-method .pay-content .AliPay,
  .lm-pay-method .pay-content .PayPal {
    background-size: 1.2rem .48rem;
  }
  .lm-pay-method .pay-content .pay-select > a {
    width: 1.2rem;
    height: .48rem;
  }
  .lm-pay-method .pay-content .pay-baggage {
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    margin-top: 0;
    font-size: .14rem;
  }
}
