@charset "utf-8";
@font-face {
  font-family: CamptonBookBold;
  src: url(../../common/EN/fonts/Campton/Rene.Bieder_Campton.Bold.otf);
  font-weight: bold;
}
/* 定义变量 */
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.clear-both {
  clear: both;
}
.lm-section {
  width: 1200px;
  margin: 30px auto 30px;
}
input {
  border: 1px solid #ccc;
}
/* ie兼容性 */
