@charset "utf-8";
@font-face {
  font-family: CamptonBookBold;
  src: url(../../common/EN/fonts/Campton/Rene.Bieder_Campton.Bold.otf);
  font-weight: bold;
}
/* 定义变量 */
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.clear-both {
  clear: both;
}
body:before {
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../../images/resource/ticketHotle-bg.jpg') center no-repeat;
  background-size: cover;
}
.lm-section {
  position: relative;
  overflow: hidden;
}
.lm-section-main {
  width: 1210px;
  margin: 30px auto 150px;
}
.main-data-wrap .city-com {
  position: relative;
  width: 200px;
}
.main-data-wrap .city-com a {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}
.main-data-wrap .city-com input {
  width: 160px;
  height: 30px;
  background: transparent;
  color: #fff;
  font-size: 20px;
  visibility: hidden;
}
.main-data-wrap .cityMenu-wrap {
  display: none;
  position: absolute;
  top: 50px;
  left: -20px;
  z-index: 1;
  width: 660px;
  padding: 20px 20px 10px;
}
.main-data-wrap .cityMenu-wrap:before {
  position: absolute;
  top: -14px;
  left: 109px;
  z-index: 9;
  filter: alpha(opacity=0);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
  transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
}
.main-data-wrap .dataMenu-wrap,
.main-data-wrap .hotel-dataMenu-wrap {
  padding: 0;
  width: 588px;
  top: 86px;
  left: 0;
}
.main-data-wrap .dataMenu-wrap:before,
.main-data-wrap .hotel-dataMenu-wrap:before {
  left: 155px;
  top: -13px;
}
.main-data-title {
  text-align: center;
  margin-bottom: 30px;
}
.main-data-title > div {
  display: inline-block;
}
.main-data-title > div .three-code {
  height: 80px;
  font-size: 56px;
  color: #fff;
  font-family: CamptonBookBold;
}
.main-data-title > div .to-cityMenu-wrap {
  left: -166px;
}
.main-data-title > div .to-cityMenu-wrap:before {
  left: 250px;
}
.main-data-title > div .menu-com {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  color: rgba(31, 44, 92, 0.5);
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  -webkit-box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  z-index: 999;
  border-radius: 2px;
  border-top: none;
}
.main-data-title > div .menu-com > li {
  float: left;
  width: 50%;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 10px;
  background: url('../../images/EN/city-icon.png') left center no-repeat;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.main-data-title > div .menu-com > li span {
  color: #1f2c5c;
}
.main-data-title > div .menu-com > li:hover {
  color: #8ec06c;
  background: url('../../images/EN/city-icon-active.png') left center no-repeat;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.main-data-title > div .menu-com .active {
  color: #8ec06c;
  background: url('../../images/EN/city-icon-active.png') left center no-repeat;
}
.main-data-title .stroke-type-wrap {
  width: 210px;
  vertical-align: top;
  padding-top: 10px;
  overflow: hidden;
}
.main-data-title .stroke-type-wrap .select-way {
  overflow: hidden;
  margin-top: 10px;
}
.main-data-title .stroke-type-wrap .select-way a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: rgba(31, 44, 92, 0.5);
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  -webkit-box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  border-radius: 2px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.main-data-title .stroke-type-wrap .select-way a:hover {
  color: #8ec06c;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.main-data-title .stroke-type-wrap .select-way .round-trip {
  float: left;
}
.main-data-title .stroke-type-wrap .select-way .one-way {
  float: right;
}
.main-data-title .stroke-type-wrap .select-way .active {
  color: #fff;
  background: #8ec06c;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.main-data-title .stroke-type-wrap .select-way .active:hover {
  color: #fff;
}
.main-data-content > div {
  position: relative;
  width: 310px;
  height: 60px;
  float: left;
  margin-right: 40px;
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  -webkit-box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  border-radius: 2px;
}
.main-data-content > div > span,
.main-data-content > div > input {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  padding-left: 70px;
  font-size: 20px;
  color: #1f2c5c;
  border-radius: 2px;
  cursor: pointer;
}
.main-data-content > div .date-result {
  background: url('../../images/EN/ticket-date.png') 20px no-repeat #fff;
}
.main-data-content > div .date-container {
  width: 588px;
}
.main-data-content > div .hotel-date-result {
  padding-right: 50px;
  background: url('../../images/EN/hotel-date.png') 20px no-repeat #fff;
}
.main-data-content > div .hotel-day {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 30px;
  height: 30px;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
  text-align: right;
  padding-right: 6px;
  background: url('../../images/EN/hotel-day.png') center no-repeat;
}
.main-data-content > div :-moz-placeholder {
  color: rgba(31, 44, 92, 0.3);
  font-size: 20px;
}
.main-data-content > div ::-moz-placeholder {
  color: rgba(31, 44, 92, 0.3);
  font-size: 20px;
}
.main-data-content > div input:-ms-input-placeholder {
  color: rgba(31, 44, 92, 0.3);
  font-size: 20px;
}
.main-data-content > div input::-webkit-input-placeholder {
  color: rgba(31, 44, 92, 0.3);
  font-size: 20px;
}
.main-data-content .data-people .t-people-result {
  width: 100%;
  height: 100%;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  cursor: pointer;
}
.main-data-content .data-people .t-people-result > p {
  float: left;
  width: 70px;
  padding-left: 36px;
  font-size: 20px;
  color: #1f2c5c;
}
.main-data-content .data-people .t-people-result .p-hotelRooms {
  padding-left: 30px;
  background: url('../../images/EN/rooms.png') 0 center no-repeat;
}
.main-data-content .data-people .t-people-result .p-hotelAdult {
  width: 80px;
  margin-left: 20px;
  margin-right: 20px;
  background: url('../../images/EN/adult.png') 0 center no-repeat;
}
.main-data-content .data-people .t-people-result .p-hotelChild {
  background: url('../../images/EN/child.png') 0 center no-repeat;
}
.main-data-content .search-btn {
  float: left;
  display: block;
  width: 160px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 2px;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  -webkit-box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  background: #42958a;
  background: -webkit-linear-gradient(left, #42958a 0%, #1f2c5c 100%);
  background: -o-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
  background: -moz-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
  background: linear-gradient(to right, #42958a 0%, #1f2c5c 100%);
}
.main-flight-wrap {
  position: relative;
  width: 1210px;
  max-height: 374px;
  margin-top: 160px;
  background: #fff;
  border-radius: 2px;
}
.main-flight-wrap .main-flight-title {
  position: absolute;
  top: -140px;
  left: -190px;
  font-weight: bold;
  font-size: 180px;
  color: #fff;
  opacity: 0.3;
}
.main-flight-wrap .main-flight-img {
  position: absolute;
  top: -170px;
  left: -80px;
}
.main-flight-wrap .main-flight-img img {
  width: 600px;
  height: 354px;
}
.main-flight-wrap .main-flight-rules {
  position: absolute;
  top: -40px;
  right: 30px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}
.main-flight-wrap .main-flight-rules a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  text-decoration: underline;
}
.main-flight-wrap .main-flight-rules span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  margin-right: 10px;
  background: #42958a;
  background-image: linear-gradient(45deg, #00928d 0%, #b4ec80 100%);
}
.main-flight-wrap .main-flight-content {
  height: 100%;
  padding: 30px;
}
.main-flight-wrap .main-flight-content .flight-tips {
  float: right;
  font-size: 12px;
  font-family: CamptonBookBold;
  color: rgba(31, 44, 92, 0.5);
}
.main-flight-wrap .main-flight-content .flight-info-wrap {
  clear: both;
  padding-top: 50px;
}
.main-flight-wrap .main-flight-content .flight-info-inner {
  position: relative;
  height: 100px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(31, 44, 92, 0.04);
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info {
  width: 50%;
  float: left;
  text-align: center;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info .p1 {
  float: left;
  width: 20%;
  height: 70px;
  line-height: 70px;
  color: #1f2c5c;
  font-size: 16px;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info .p2 {
  position: relative;
  color: #1f2c5c;
  font-size: 36px;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info .p2 .time {
  font-family: CamptonBookBold;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info .p3 {
  font-size: 14px;
  color: rgba(31, 44, 92, 0.5);
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info .one-day {
  position: absolute;
  font-size: 18px;
  font-weight: normal;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info > div {
  float: right;
  width: 80%;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info-1 .p1 {
  font-family: CamptonBookBold;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info-2 .p1 {
  float: right;
  color: #8ec06c;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info-2 .p1 span {
  margin-left: 10px;
  font-family: CamptonBookBold;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info-2 .space-num-green {
  color: #8ec06c;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info-2 .space-num-red {
  color: #ff8989;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-info-2 > div {
  float: left;
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-num {
  position: absolute;
  left: 50%;
  top: -10px;
  width: 340px;
  margin-left: -170px;
  text-align: center;
  font-size: 16px;
  color: rgba(31, 44, 92, 0.5);
}
.main-flight-wrap .main-flight-content .flight-info-inner .flight-num span {
  position: relative;
  top: 8px;
}
.main-flight-wrap .main-flight-content .flight-info-inner:last-child {
  border: none;
  margin-bottom: 0;
}
.main-flight-wrap .flight-next {
  position: absolute;
  bottom: -90px;
  right: -90px;
  width: 160px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: #1f2c5c;
  border-radius: 2px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.main-flight-wrap .flight-next i {
  position: absolute;
  margin-left: 10px;
  margin-top: 16px;
}
.main-flight-wrap .flight-next:hover {
  background: #8ec06c;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.main-hotel-wrap {
  display: none;
  position: relative;
  width: 1210px;
  padding-top: 50px;
}
.main-hotel-wrap .main-flight-title {
  position: absolute;
  top: 0;
  left: -120px;
  font-weight: bold;
  font-size: 180px;
  color: #fff;
  opacity: 0.3;
}
.main-hotel-wrap .flight-previous {
  position: absolute;
  top: 580px;
  left: -80px;
  width: 160px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: #1f2c5c;
  border-radius: 2px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.main-hotel-wrap .flight-previous i {
  margin-right: 10px;
  margin-top: 16px;
}
.main-hotel-wrap .flight-previous:hover {
  background: #8ec06c;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}
.main-hotel-wrap .main-hotel-inner {
  overflow: hidden;
}
.main-hotel-wrap .main-hotel-result {
  float: left;
  position: relative;
  width: 470px;
}
.main-hotel-wrap .main-hotel-result > img {
  width: 470px;
  height: 500px;
}
.main-hotel-wrap .main-hotel-result .hotel-pay-wrap {
  position: absolute;
  bottom: 60px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.main-hotel-wrap .main-hotel-result .hotel-info-tips {
  float: left;
  width: 200px;
}
.main-hotel-wrap .main-hotel-result .hotel-info-tips h2 {
  font-size: 18px;
  color: #1f2c5c;
}
.main-hotel-wrap .main-hotel-result .hotel-info-tips p {
  margin-top: 6px;
  font-size: 14px;
  color: rgba(31, 44, 92, 0.5);
}
.main-hotel-wrap .main-hotel-result .ticket-hotel-price {
  float: right;
  font-size: 36px;
  font-family: CamptonBookBold;
  color: #8ec06c;
  background: linear-gradient(-45deg, #00928D 0%, #B4EC80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-hotel-wrap .main-hotel-result .ticket-hotel-pay {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #1f2c5c;
  border-radius: 2px;
  border: none;
  outline: none;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.main-hotel-wrap .main-hotel-result .ticket-hotel-pay:hover {
  background: #8ec06c;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.main-hotel-wrap .main-hotel-result .ticket-hotel-pay .circle-arrow-img {
  position: absolute;
  right: 30px;
  top: 15px;
}
.main-hotel-wrap .main-hotel-content {
  width: 700px;
  float: right;
}
.main-hotel-wrap .main-hotel-content .hotel-content-inner {
  width: 700px;
  min-height: 266px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.main-hotel-wrap .main-hotel-content .hotel-content-inner .hotel-bg {
  padding: 20px 10px;
}
.main-hotel-wrap .main-hotel-content .hotel-select-active {
  background: url('../../images/resource/hotel-img-1.jpg') center no-repeat;
  background-size: cover;
}
.main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-bg {
  background: rgba(31, 44, 92, 0.8);
}
.main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-info-wrap .hotel-info .hotel-title {
  color: #fff;
}
.main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-info-wrap .hotel-info .hotel-country {
  color: rgba(255, 255, 255, 0.7);
}
.main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-info-wrap .hotel-info .hotel-address {
  color: rgba(255, 255, 255, 0.4);
}
.main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-roomType-wrap .room-type-title {
  background: rgba(255, 255, 255, 0.2);
}
.main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-roomType-wrap .room-type-title li {
  color: rgba(255, 255, 255, 0.5);
}
.main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-roomType-wrap .room-type-content > ul > li {
  color: #fff;
}
.main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-roomType-wrap .room-type-content > ul > li a {
  color: #fff;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap {
  padding-left: 10px;
  padding-right: 10px;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-img {
  float: left;
  width: 114px;
  height: 114px;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info {
  margin-left: 134px;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-title {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: CamptonBookBold;
  color: #00908c;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-stars-wrap {
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-stars-wrap .hotel-stars {
  float: left;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-stars-wrap .hotel-stars img {
  margin-right: 20px;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-stars-wrap .hotel-popular {
  float: right;
  width: 140px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  background: #f85050;
  background-image: linear-gradient(135deg, #fcaa9b 0%, #f85050 100%);
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-country {
  margin-top: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-address {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap {
  margin-top: 20px;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-title {
  width: 680px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: rgba(31, 44, 92, 0.04);
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-title li {
  float: left;
  font-size: 14px;
  color: rgba(31, 44, 92, 0.5);
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-title .n1 {
  width: 60%;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-title .n2,
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-title .n3 {
  width: 20%;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul {
  display: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid rgba(31, 44, 92, 0.1);
  cursor: pointer;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul > li {
  float: left;
  position: relative;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul > li .details-menu {
  display: none;
  position: absolute;
  top: 46px;
  z-index: 1;
  width: 220px;
  border-radius: 2px;
  background: #fff;
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
  transition: color .3s;
  -webkit-transition: color .3s;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul > li .details-menu p {
  color: #1f2c5c;
  font-size: 14px;
  line-height: 26px;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul > li .details-menu:before {
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -14px;
  z-index: 9;
  filter: alpha(opacity=0);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul > li a {
  font-size: 14px;
  color: #1f2c5c;
  text-decoration: underline;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul > li a:hover + .details-menu {
  display: block;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul .n1 {
  width: 60%;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul .n1 .details-menu {
  left: 90px;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul .n2 {
  width: 20%;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul .n2 a {
  color: #00908c;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul .n2 .details-menu {
  left: -40px;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul .n3 {
  width: 20%;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content .active {
  display: block;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-slideDown ul:hover li {
  color: #8ec06c;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-slideDown ul:hover li a {
  color: #8ec06c;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-slideDown .active {
  background: #8ec06c;
}
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-slideDown .active .n1 a,
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-slideDown .active .n2 a,
.main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-slideDown .active .n3 {
  color: #fff;
}
.main-hotel-wrap .main-hotel-content .hotel-viewOther-wrap {
  overflow: hidden;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.main-hotel-wrap .main-hotel-content .hotel-viewOther-wrap p {
  float: left;
  font-size: 12px;
  color: #ff8989;
}
.main-hotel-wrap .main-hotel-content .hotel-viewOther-wrap a {
  float: right;
  color: #00908c;
  font-size: 12px;
  text-decoration: underline;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.main-hotel-wrap .main-hotel-content .hotel-viewOther-wrap a:hover {
  color: #8ec06c;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.main-hotel-wrap .main-hotel-content .hotel-viewOther-wrap .close-room {
  display: none;
}
.daterangepicker.ltr .calendar.left,
.daterangepicker.ltr .calendar.right {
  margin-top: 6px;
}
.data-people .m-select-rooms {
  display: none;
}
.data-people .people-cityMenu-wrap {
  display: none;
  width: 340px;
  left: auto;
  right: 0;
  top: 90px;
  padding: 0;
}
.data-people .people-cityMenu-wrap:before {
  left: auto;
  right: 155px;
}
.data-people .popup-people {
  width: 410px;
  height: 264px;
  height: 210px;
  padding: 20px 20px 30px;
}
.data-people .popup-people .people-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-family: CamptonBookBold;
  color: rgba(31, 44, 92, 0.8);
}
.data-people .popup-people .s-people-com {
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.data-people .popup-people .s-rooms .people-prompt .p1 {
  height: 50px;
  line-height: 50px;
  background: url('../../images/EN/rooms-icon.png') left center no-repeat;
}
.data-people .popup-people .s-adult .people-prompt .p1 {
  background: url('../../images/EN/adult-icon.png') left center no-repeat;
}
.data-people .popup-people .s-child .people-prompt .p1 {
  background: url('../../images/EN/child-icon.png') left center no-repeat;
}
.data-people .popup-people .s-infant {
  display: none;
}
.data-people .popup-people .s-infant .people-prompt .p1 {
  background: url('../../images/EN/infant-icon.png') left center no-repeat;
}
.data-people .popup-people .people-prompt {
  float: left;
}
.data-people .popup-people .people-prompt .p1 {
  width: 82px;
  height: 26px;
  line-height: 34px;
  color: rgba(0, 0, 0, 0.7);
  text-align: right;
}
.data-people .popup-people .people-prompt .p2 {
  height: 20px;
  line-height: 24px;
  margin-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: right;
  background: url('../../images/EN/prompt-icon.png') 9px center no-repeat;
}
.data-people .popup-people .people-number {
  float: right;
  width: 200px;
  height: 50px;
  line-height: 46px;
  padding: 4px;
  text-align: center;
  background: #42958a;
  background: -webkit-linear-gradient(left, #42958a 0%, #1f2c5c 100%);
  background: -o-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
  background: -moz-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
  background: linear-gradient(to right, #42958a 0%, #1f2c5c 100%);
  border-radius: 2px;
}
.data-people .popup-people .people-number > a {
  display: inline-block;
  width: 42px;
  height: 42px;
  color: #fff;
  border-radius: 2px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.data-people .popup-people .people-number .add-people {
  float: right;
  background: url('../../images/EN/add-people.png') center no-repeat rgba(255, 255, 255, 0.3);
}
.data-people .popup-people .people-number .add-people:hover {
  background: url('../../images/EN/add-people.png') center no-repeat rgba(255, 255, 255, 0.7);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.data-people .popup-people .people-number .sub-people {
  float: left;
  background: url('../../images/EN/sub-people.png') center no-repeat rgba(255, 255, 255, 0.3);
}
.data-people .popup-people .people-number .sub-people:hover {
  background: url('../../images/EN/sub-people.png') center no-repeat rgba(255, 255, 255, 0.7);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.data-people .popup-people .people-number .off-sub-operation {
  background: url('../../images/EN/sub-people.png') center no-repeat rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
}
.data-people .popup-people .people-number .off-sub-operation:hover {
  background: url('../../images/EN/sub-people.png') center no-repeat rgba(255, 255, 255, 0.1);
}
.data-people .popup-people .people-number .off-add-operation {
  background: url('../../images/EN/add-people.png') center no-repeat rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
}
.data-people .popup-people .people-number .off-add-operation:hover {
  background: url('../../images/EN/add-people.png') center no-repeat rgba(255, 255, 255, 0.1);
}
.data-people .popup-people .people-number > span {
  font-family: CamptonBookBold;
  font-size: 24px;
  color: #fff;
}
.data-people .popup-people .disable {
  background: url('../../images/EN/add-people.png') center no-repeat rgba(31, 44, 92, 0.04);
}
.data-people .popup-people .disable > span {
  color: #1f2c5c;
}
.data-people .popup-people .disable .add-people {
  background: url('../../images/EN/add-people.png') center no-repeat rgba(31, 44, 92, 0.3);
}
.data-people .popup-people .disable .add-people:hover {
  background: url('../../images/EN/add-people.png') center no-repeat rgba(31, 44, 92, 0.7);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.data-people .popup-people .disable .sub-people {
  background: url('../../images/EN/sub-people.png') center no-repeat rgba(31, 44, 92, 0.3);
}
.data-people .popup-people .disable .sub-people:hover {
  background: url('../../images/EN/sub-people.png') center no-repeat rgba(31, 44, 92, 0.7);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.data-people .popup-people .disable .off-sub-operation {
  background: url('../../images/EN/sub-people.png') center no-repeat rgba(31, 44, 92, 0.1);
  cursor: not-allowed;
}
.data-people .popup-people .disable .off-sub-operation:hover {
  background: url('../../images/EN/sub-people.png') center no-repeat rgba(31, 44, 92, 0.1);
}
.data-people .popup-people .disable .off-add-operation {
  background: url('../../images/EN/add-people.png') center no-repeat rgba(31, 44, 92, 0.1);
  cursor: not-allowed;
}
.data-people .popup-people .disable .off-add-operation:hover {
  background: url('../../images/EN/add-people.png') center no-repeat rgba(31, 44, 92, 0.1);
}
.data-people .hotel-popus-people {
  height: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  -webkit-box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
  transition: width 0.2s ease-out;
  -webkit-transition: width 0.2s ease-out;
  animation-delay: .3s;
  -webkit-animation-delay: .3s;
}
.data-people .hotel-popus-people .s-room-com {
  position: relative;
  padding: 0;
}
.data-people .hotel-popus-people .s-room-1 {
  z-index: 4;
}
.data-people .hotel-popus-people .s-room-2 {
  position: relative;
  z-index: 3;
  clear: both;
}
.data-people .hotel-popus-people .s-room-3 {
  clear: both;
  z-index: 2;
}
.data-people .hotel-popus-people .rooms-title {
  float: left;
  height: 50px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  padding-left: 30px;
  background: url('../../images/EN/rooms-icon.png') left center no-repeat;
}
.data-people .hotel-popus-people .rooms-content-com {
  float: left;
  margin-left: 20px;
  margin-left: 18px\9;
}
.data-people .hotel-popus-people .rooms-content-com .hotel-people-prompt .p1 {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 2px;
}
.data-people .hotel-popus-people .rooms-content-com .hotel-people-number {
  float: left;
  width: 166px;
}
.data-people .hotel-popus-people .adult-rooms-content .hotel-people-prompt .p1 {
  width: 110px;
  background: url('../../images/EN/adult-icon.png') 10px center no-repeat rgba(31, 44, 92, 0.04);
}
.data-people .hotel-popus-people .child-rooms-content .hotel-people-prompt .p1 {
  width: 110px;
  background: url('../../images/EN/child-icon.png') 10px center no-repeat rgba(31, 44, 92, 0.04);
}
.data-people .hotel-popus-people .age-rooms-com .hotel-people-prompt .p1 {
  width: 76px;
  background: rgba(31, 44, 92, 0.04);
}
.data-people .hotel-popus-people .age-rooms-com {
  display: none;
}
.data-people .hotel-popus-people .hotel-age-wrap {
  position: relative;
  width: auto;
  float: left;
  padding: 8px 10px 8px 0;
  background: rgba(31, 44, 92, 0.04);
}
.data-people .hotel-popus-people .hotel-age-wrap .age-result {
  float: left;
  display: inline-block;
  width: 78px;
  height: 34px;
  line-height: 38px;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  border-radius: 2px;
  background: url('../../images/EN/menu-down-arrow.png') 90% center no-repeat rgba(31, 44, 92, 0.3);
  cursor: pointer;
}
.data-people .hotel-popus-people .hotel-age-wrap .age-menu-box {
  display: none;
  position: absolute;
  top: 42px;
  left: 20px;
  width: 78px;
  height: 182px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(31, 44, 92, 0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(31, 44, 92, 0.1);
}
.data-people .hotel-popus-people .hotel-age-wrap .hotel-age-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  height: 182px;
  overflow-y: scroll;
}
.data-people .hotel-popus-people .hotel-age-wrap .hotel-age-menu > li {
  height: 40px;
  color: #4E4E4E;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.data-people .hotel-popus-people .hotel-age-wrap .hotel-age-menu > li:hover {
  color: #fff;
  background: rgba(31, 44, 92, 0.7);
}
.data-people .hotel-popus-people .adult-rooms-content {
  margin-left: 30px;
}
.data-people .hotel-popus-people .add-rooms-wrap {
  height: 50px;
  margin-top: 30px;
  clear: both;
  position: relative;
  z-index: 1;
}
.data-people .hotel-popus-people .add-rooms-wrap .add-rooms-content {
  float: left;
}
.data-people .hotel-popus-people .add-rooms-wrap p {
  position: relative;
  float: left;
  width: 142px;
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
  padding-left: 50px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px 0 rgba(31, 44, 92, 0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(31, 44, 92, 0.1);
  border-radius: 2px;
  background: url('../../images/EN/rooms-icon.png') 20px center no-repeat #fff;
}
.data-people .hotel-popus-people .add-rooms-wrap p b {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  background: #ff8989;
  border-radius: 2px;
  cursor: pointer;
}
.data-people .hotel-popus-people .add-rooms-wrap p:hover b {
  display: block;
}
.data-people .hotel-popus-people .add-rooms-wrap .add-rooms-btn {
  color: rgba(31, 44, 92, 0.3);
  background: url('../../images/EN/add-rooms.png') 20px center no-repeat #fff;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.data-people .hotel-popus-people .add-rooms-wrap .add-rooms-btn:hover {
  color: rgba(31, 44, 92, 0.7);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.data-people .th-popus-people {
  width: 340px;
}
.data-people .th-popus-people .people-number {
  width: 160px;
}
.data-people .th-popus-people .child-age-container {
  display: none;
  width: 100%;
}
.data-people .th-popus-people .child-age-title {
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
.data-people .th-popus-people .age-rooms-com {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  height: 45px;
}
.data-people .th-popus-people .hotel-age-wrap {
  width: 78px;
}
.data-people .th-popus-people .hotel-age-wrap .age-result {
  margin-left: 0;
}
.data-people .th-popus-people .hotel-age-wrap .age-menu-box {
  left: 0;
  top: -178px;
  z-index: 9;
}
.data-people .th-popus-people .m-select-people {
  display: none;
}
.hotel-modal .modal-dialog {
  width: 100%;
  height: 100%;
}
.hotel-modal .modal-dialog .modal-content {
  width: 900px;
  margin: 0 auto;
}
.hotel-modal .modal-dialog .modal-content .modal-header {
  background: none;
}
.hotel-modal .modal-dialog .modal-content .modal-header .close span {
  width: 28px;
  height: 28px;
  margin-left: 0;
  font-size: 36px;
  color: #1f2c5c;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.hotel-modal .modal-dialog .modal-content .modal-body {
  height: 800px;
  padding-left: 10px;
  padding-right: 10px;
}
.hotel-modal .hotel-title-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
.hotel-modal .hotel-title-wrap .hotel-title {
  overflow: hidden;
}
.hotel-modal .hotel-title-wrap .hotel-title > h2 {
  float: left;
  max-width: 490px;
  font-size: 24px;
  font-family: CamptonBookBold;
  color: #1f2c5c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hotel-modal .hotel-title-wrap .hotel-title .hotel-stars {
  float: left;
}
.hotel-modal .hotel-title-wrap .hotel-title .hotel-stars img {
  margin-left: 20px;
}
.hotel-modal .hotel-title-wrap .hotel-address {
  color: rgba(31, 44, 92, 0.7);
  font-size: 14px;
  margin-top: 10px;
  overflow: hidden;
}
.hotel-modal .hotel-title-wrap .hotel-address > p {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hotel-modal .hotel-title-wrap .hotel-address > p span {
  color: rgba(31, 44, 92, 0.4);
}
.hotel-modal .hotel-title-wrap .hotel-address .p1 {
  max-width: 580px;
}
.hotel-modal .hotel-title-wrap .hotel-address .p2 {
  max-width: 200px;
  margin-left: 30px;
}
.hotel-modal .hotel-img-wrap {
  width: 100%;
  height: 220px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.hotel-modal .hotel-img-wrap > ul {
  height: 220px;
  overflow: hidden;
}
.hotel-modal .hotel-img-wrap .li-com {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  overflow: hidden;
}
.hotel-modal .hotel-img-wrap .n1 {
  width: 320px;
  height: 210px;
  margin-left: 0;
}
.hotel-modal .hotel-img-wrap .n2 {
  width: 250px;
  height: 80px;
}
.hotel-modal .hotel-img-wrap .n3 {
  float: right;
  width: 248px;
  height: 120px;
}
.hotel-modal .hotel-img-wrap .n4 {
  width: 250px;
  height: 120px;
}
.hotel-modal .hotel-img-wrap .n5 {
  position: relative;
  float: right;
  width: 248px;
  height: 80px;
}
.hotel-modal .hotel-img-wrap .n5 .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 80px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: rgba(31, 44, 92, 0.7);
  cursor: pointer;
}
.hotel-modal .hotel-map-wrap {
  width: 100%;
  height: 160px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.hotel-modal .hotel-map-wrap .hotel-map {
  width: 100%;
  height: 150px;
}
.hotel-modal .hotel-detail-wrap > h2 {
  height: 36px;
  line-height: 36px;
  padding-left: 20px;
  border-radius: 2px;
  background: rgba(31, 44, 92, 0.04);
  font-size: 16px;
  font-family: CamptonBookBold;
  color: #1f2c5c;
}
.hotel-modal .hotel-detail-wrap .hotel-content {
  height: 280px;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.hotel-modal .hotel-detail-wrap .hotel-inner > h3 {
  font-size: 14px;
  font-family: CamptonBookBold;
  color: rgba(31, 44, 92, 0.7);
  margin-top: 20px;
  margin-bottom: 20px;
}
.hotel-modal .hotel-detail-wrap .hotel-inner > p {
  font-size: 14px;
  color: rgba(31, 44, 92, 0.7);
}
.hotel-modal .viewer-navbar {
  position: fixed;
  bottom: 52px;
}
.hotel-modal .viewer-toolbar {
  position: fixed;
  top: 50%;
  width: 100%;
  margin-top: -70px;
}
.hotel-modal .viewer-toolbar > li {
  display: none;
  width: 60px;
  height: 140px;
  border-radius: 2px;
}
.hotel-modal .viewer-toolbar > li:before {
  height: 140px;
  width: 60px;
  margin: 0;
}
.hotel-modal .viewer-toolbar > .viewer-next {
  display: block;
  float: right;
}
.hotel-modal .viewer-toolbar > .viewer-next:before {
  background: url('../../images/resource/next-arrow.png') center no-repeat;
}
.hotel-modal .viewer-toolbar > .viewer-prev {
  display: block;
}
.hotel-modal .viewer-toolbar > .viewer-prev:before {
  background: url('../../images/resource/prev-arrow.png') center no-repeat;
}
.hotel-modal .viewer-list > li {
  width: 100px;
  height: 75px;
}
.hotel-modal .viewer-button {
  top: -20px;
  right: 0;
  background: url('../../images/EN/close-menu.png') center no-repeat;
}
.hotel-modal .viewer-close:before {
  background: none;
  width: 80px;
  height: 80px;
  bottom: 0;
  left: 0;
}
.rules-modal .modal-dialog .modal-content .modal-body {
  padding: 30px 20px;
  overflow-y: auto;
}
.rules-modal .modal-dialog .modal-content .modal-body .lm-title1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #1f2c5c;
  font-family: CamptonBookBold;
  text-align: center;
}
.rules-modal .modal-dialog .modal-content .modal-body .lm-title2 {
  font-size: 18px;
  color: #181819;
  margin-bottom: 20px;
  padding-top: 14px;
  line-height: 36px;
}
.rules-modal .modal-dialog .modal-content .modal-body p {
  font-size: 16px;
  color: #7C7D7F;
  margin-bottom: 16px;
  line-height: 24px;
  word-wrap: break-word;
}
/* ie兼容性 */
.ie11 .main-hotel-wrap .main-hotel-result .ticket-hotel-price {
  background: none;
}
.ie10 .main-hotel-wrap .main-hotel-result .ticket-hotel-price {
  background: none;
}
.ie8 .data-people .hotel-popus-people .adult-rooms-content .hotel-people-prompt .p1 {
  background: url('../../images/EN/adult-icon.png') 10px center no-repeat;
}
.ie8 .data-people .hotel-popus-people .child-rooms-content .hotel-people-prompt .p1 {
  background: url('../../images/EN/child-icon.png') 10px center no-repeat;
}
.ie8 .data-people .popup-people .people-number .off-sub-operation,
.ie8 .data-people .popup-people .people-number .sub-people {
  background: url('../../images/EN/sub-people.png') center no-repeat #E0E2E9;
}
.ie8 .data-people .popup-people .people-number .add-people {
  background: url('../../images/EN/add-people.png') center no-repeat #B5B9CA;
}
.ie8 .data-people .hotel-popus-people .hotel-age-wrap .age-result {
  background: url('../../images/EN/menu-down-arrow.png') 90% center no-repeat #B5B9CA;
}
.ie8 .data-people .hotel-popus-people .hotel-age-wrap .hotel-age-menu > li:hover {
  background: #646D8D;
}
.ie8 .main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-bg {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C81f2c5c, 5c, endColorstr=#C81f2c5c, 5c);
}
.ie8 .main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-info-wrap .hotel-info .hotel-country,
.ie8 .main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-info-wrap .hotel-info .hotel-address {
  color: #fff;
}
.ie8 .main-hotel-wrap .main-hotel-content .hotel-select-active .hotel-roomType-wrap .room-type-title {
  background: #ccc;
}
@media screen and (max-width: 1440px) {
  .main-flight-wrap .flight-next {
    right: 0;
  }
  .main-hotel-wrap .flight-previous {
    left: 0;
  }
  .lm-section-main {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: top;
    transform-origin: top;
    margin-bottom: 0;
  }
  .main-hotel-wrap .main-hotel-content {
    max-height: 1200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .lm-section-main {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform-origin: top;
    transform-origin: top;
    margin-bottom: 0;
    margin-left: -220px;
  }
  .lm-section {
    height: 722px;
  }
  .main-hotel-wrap .main-hotel-content {
    max-height: 820px;
  }
  body {
    cursor: pointer;
  }
  .hotel-modal .modal-dialog .modal-content {
    width: 700px;
  }
  .hotel-modal .modal-dialog .modal-content .modal-body {
    height: 740px;
  }
  .hotel-modal .hotel-title-wrap .hotel-title > h2 {
    font-size: 20px;
    max-width: 370px;
  }
  .hotel-modal .hotel-title-wrap .hotel-title .hotel-stars {
    margin-left: 20px;
  }
  .hotel-modal .hotel-title-wrap .hotel-title .hotel-stars img {
    margin-left: 10px;
    width: 16px;
  }
  .hotel-modal .hotel-title-wrap .hotel-address .p1 {
    max-width: 420px;
  }
  .hotel-modal .hotel-img-wrap {
    height: 161px;
  }
  .hotel-modal .hotel-img-wrap > ul {
    height: 161px;
  }
  .hotel-modal .hotel-img-wrap .n1 {
    width: 254px;
    height: 161px;
  }
  .hotel-modal .hotel-img-wrap .n2 {
    width: 184px;
    height: 59px;
  }
  .hotel-modal .hotel-img-wrap .n3 {
    float: right;
    width: 180px;
    height: 87px;
  }
  .hotel-modal .hotel-img-wrap .n4 {
    width: 180px;
    height: 87px;
  }
  .hotel-modal .hotel-img-wrap .n5 {
    position: relative;
    float: right;
    width: 184px;
    height: 59px;
  }
  .hotel-modal .hotel-img-wrap .n5 .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 59px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: rgba(31, 44, 92, 0.7);
    cursor: pointer;
  }
}
.main-data-title .mobile-stroke-type {
  display: none;
}
.mobile-flight-info {
  display: none;
}
.mobile-hotel-result {
  display: none;
}
.mobile-right-arrow {
  display: none;
}
.no-hotel-info {
  text-align: center;
  font-size: 20px;
  color: #1f2c5c;
}
.no-ticket-info {
  text-align: center;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .no-hotel-info,
  .no-ticket-info {
    line-height:  26px;
    font-size:  14px;
  }
  .lm-section-main {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
    margin-bottom: 0;
    margin-left: 0;
  }
  .lm-section-main {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-data-title {
    margin-bottom: 10px;
  }
  .main-data-title > div {
    width: 100%;
    margin-top: 10px;
  }
  .main-data-title > div .three-code {
    display: none;
  }
  .main-data-title > div .menu-com {
    max-height: 300px;
    overflow-y: auto;
  }
  .main-data-title > div .menu-com > li {
    width: 100%;
    background: url('../../images/EN/svg/city-icon.svg') left center no-repeat;
  }
  .main-data-title > div .menu-com > li:hover {
    background: url('../../images/EN/svg/city-icon-active.svg') left center no-repeat;
  }
  .main-data-title > div .to-cityMenu-wrap {
    left: 0;
    top: -60px;
  }
  .main-data-title .stroke-type-wrap {
    width: 100%;
    padding-top: 0;
  }
  .main-data-title .stroke-type-wrap .flight-img {
    display: none;
  }
  .main-data-title .stroke-type-wrap .select-way {
    text-align: left;
    margin-top: 0;
  }
  .main-data-title .stroke-type-wrap .select-way a {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .main-data-title .stroke-type-wrap .select-way .round-trip,
  .main-data-title .stroke-type-wrap .select-way .one-way {
    float: none;
    margin-right: 8px;
  }
  .main-data-title .pc-stroke-type {
    display: none;
  }
  .main-data-title .mobile-stroke-type {
    display: block;
  }
  .main-data-wrap .city-com {
    width: 100%;
  }
  .main-data-wrap .city-com a {
    display: none;
  }
  .main-data-wrap .city-com input {
    visibility: visible !important;
    width: 100%;
    height: 50px;
    padding-left: 70px;
    font-size: 20px;
    color: #1f2c5c;
    border-radius: 2px;
    visibility: visible;
    background: #fff;
  }
  .main-data-wrap .city-com :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(31, 44, 92, 0.3);
    font-size: 20px;
  }
  .main-data-wrap .city-com ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(31, 44, 92, 0.3);
    font-size: 20px;
  }
  .main-data-wrap .city-com input:-ms-input-placeholder {
    color: rgba(31, 44, 92, 0.3);
    font-size: 20px;
  }
  .main-data-wrap .city-com input::-webkit-input-placeholder {
    color: rgba(31, 44, 92, 0.3);
    font-size: 20px;
  }
  .main-data-wrap .from-city input {
    background: url('../../images/EN/svg/city-from.svg') 20px no-repeat #fff;
  }
  .main-data-wrap .to-city input {
    background: url('../../images/EN/svg/city-to.svg') 20px no-repeat #fff;
  }
  .main-data-wrap .cityMenu-wrap {
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .main-data-wrap .cityMenu-wrap:before {
    display: none;
  }
  .main-data-wrap .dataMenu-wrap {
    width: 300px;
    left: 50%;
    top: -120px;
    margin-left: -150px;
  }
  .main-data-wrap .hotel-dataMenu-wrap {
    left: 50%;
    margin-left: -150px;
    top: -180px;
  }
  .main-data-wrap .people-cityMenu-wrap {
    top: -240px;
  }
  .main-data-wrap .people-cityMenu-wrap .hotel-popus-people {
    width: 100% !important;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
  }
  .main-data-wrap .people-cityMenu-wrap .hotel-popus-people .rooms-content-com {
    margin-bottom: 10px;
  }
  .main-data-wrap .people-cityMenu-wrap .hotel-popus-people .rooms-content-com .hotel-people-number {
    width: 160px;
  }
  .main-data-wrap .people-cityMenu-wrap .hotel-popus-people .s-room-1 {
    margin-top: 0;
  }
  .main-data-wrap .people-cityMenu-wrap .hotel-popus-people .add-rooms-wrap {
    padding-top: 10px;
  }
  .main-data-wrap .people-cityMenu-wrap .hotel-popus-people .add-rooms-wrap p {
    width: 80px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }
  .main-data-wrap .people-cityMenu-wrap .hotel-popus-people .add-rooms-wrap .add-rooms-content p {
    background: none;
  }
  .main-data-wrap .people-cityMenu-wrap .hotel-popus-people .add-rooms-wrap .add-rooms-btn {
    width: 100%;
    text-align: center;
    color: rgba(31, 44, 92, 0.3);
    font-size: 20px;
    padding-left: 30px;
    margin-right: 0;
    margin-top: 10px;
    background-position-x: 40%;
  }
  .main-data-content > div {
    width: 100%;
    height: 50px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main-data-content > div .date-result {
    background: url('../../images/EN/svg/ticket-date.svg') 20px no-repeat #fff;
  }
  .main-data-content > div .hotel-date-result {
    background: url('../../images/EN/svg/hotel-date.svg') 20px no-repeat #fff;
  }
  .main-data-content > div .hotel-day {
    background: url('../../images/EN/svg/hotel-day.svg') center no-repeat;
  }
  .main-data-content .data-people .t-people-result {
    line-height: 50px;
  }
  .main-data-content .data-people .t-people-result .p-hotelAdult {
    margin-left: 15px;
    margin-right: 15px;
    background: url('../../images/EN/svg/adult.svg') 0 center no-repeat;
  }
  .main-data-content .data-people .t-people-result .p-hotelRooms {
    background: url('../../images/EN/svg/rooms.svg') 0 center no-repeat;
  }
  .main-data-content .data-people .t-people-result .p-hotelChild {
    background: url('../../images/EN/svg/child.svg') 0 center no-repeat;
  }
  .main-data-content .search-btn {
    float: none;
    clear: both;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  .mobile-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000, 0, endColorstr=#7F000000, 0);
  }
  .mobile-mask p {
    position: absolute;
    left: 50%;
    top: 360px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background: url('../../images/EN/svg/close-menu.svg') center no-repeat;
  }
  .daterangepicker {
    width: 300px;
  }
  .lm-section {
    height: auto;
  }
  .main-flight-wrap {
    width: 100%;
    margin-top: 40px;
  }
  .main-flight-wrap .main-flight-title,
  .main-flight-wrap .main-flight-img {
    display: none;
  }
  .main-flight-wrap .main-flight-content {
    padding: 10px;
  }
  .main-flight-wrap .main-flight-content .flight-tips {
    display: none;
  }
  .main-flight-wrap .main-flight-content .flight-info-wrap {
    padding-top: 10px;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner {
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-info {
    width: 45%;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-info .p1 {
    display: none;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-info .p2 {
    font-size: 20px;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-info .p3 {
    font-size: 12px;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-info > div {
    width: 100%;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-info .one-day {
    font-size: 12px;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-info-2 {
    float: right;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-info-2 .p1 {
    display: none;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-num {
    top: 20px;
    width: 60px;
    margin-left: -30px;
    font-size: 12px;
  }
  .main-flight-wrap .main-flight-content .flight-info-inner .flight-num img {
    width: 100%;
  }
  .main-flight-wrap .main-flight-rules {
    top: -20px;
    right: 17px;
    height: 16px;
    font-size: 12px;
  }
  .main-flight-wrap .main-flight-rules span {
    width: 14px;
    height: 14px;
  }
  .main-flight-wrap .main-flight-rules a {
    font-size: 12px;
  }
  .main-flight-wrap .flight-next {
    display: none;
  }
  .mobile-flight-info {
    margin-bottom: 10px;
    overflow: hidden;
  }
  .mobile-flight-info p {
    float: left;
    color: #1f2c5c;
    font-size: 12px;
  }
  .mobile-flight-info .line {
    margin-left: 3px;
    margin-right: 3px;
  }
  .mobile-flight-info .from-date,
  .mobile-flight-info .to-date {
    margin-left: 10px;
  }
  .pc-right-arrow {
    display: none;
  }
  .mobile-right-arrow {
    display: block;
  }
  .mobile-flight-info {
    display: block;
  }
  .main-hotel-wrap {
    display: block;
    width: 100%;
    padding-top: 30px;
  }
  .main-hotel-wrap .main-flight-title {
    display: none;
  }
  .main-hotel-wrap .flight-previous {
    display: none;
  }
  .main-hotel-wrap .main-hotel-content {
    width: 100%;
    max-height: none;
  }
  .main-hotel-wrap .main-hotel-content .hotel-content-inner {
    width: 100%;
    min-height: auto;
  }
  .main-hotel-wrap .main-hotel-content .hotel-info-wrap {
    padding: 0;
  }
  .main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-img {
    width: 60px;
    height: 60px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info {
    margin-left: 70px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-title {
    font-size: 14px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-stars-wrap {
    display: none;
  }
  .main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-stars-wrap .hotel-stars img {
    width: 16px;
    margin-right: 10px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-stars-wrap .hotel-popular {
    display: none;
  }
  .main-hotel-wrap .main-hotel-content .hotel-info-wrap .hotel-info .hotel-country {
    font-size: 12px;
    margin-top: 10px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-roomType-wrap {
    margin-top: 10px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-title {
    width: 100%;
    height: 26px;
    line-height: 26px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-title li {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul {
    height: 30px;
    line-height: 30px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul li a {
    display: block;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul li .details-menu p {
    font-size: 12px;
    line-height: 22px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul .n1 .details-menu {
    left: -10px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-roomType-wrap .room-type-content > ul .n2 .details-menu {
    left: -88px;
  }
  .main-hotel-wrap .main-hotel-content .hotel-viewOther-wrap p {
    display: none;
  }
  .pc-hotel-result {
    display: none;
  }
  .lm-footer {
    display: none;
  }
  .range-change-date {
    display: none !important;
  }
  .mobile-hotel-result {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.6);
    -webkit-box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.6);
  }
  .mobile-hotel-result .hotel-info-tips {
    display: none;
  }
  .mobile-hotel-result .hotel-info-tips h2 {
    font-size: 14px;
    color: #1f2c5c;
  }
  .mobile-hotel-result .hotel-info-tips p {
    margin-top: 6px;
    font-size: 12px;
    color: rgba(31, 44, 92, 0.5);
  }
  .mobile-hotel-result .ticket-hotel-price {
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-size: 20px;
    font-family: CamptonBookBold;
    color: #8ec06c;
    background: linear-gradient(-45deg, #00928D 0%, #B4EC80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mobile-hotel-result .ticket-hotel-pay {
    float: right;
    height: 50px;
    width: 120px;
    background: #1f2c5c;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
  }
  .mobile-hotel-result .ticket-hotel-pay img {
    margin-left: 10px;
  }
  .hotel-modal {
    padding-left: 0;
  }
  .hotel-modal .modal-dialog {
    margin-top: 10px;
  }
  .hotel-modal .modal-dialog .modal-content {
    width: 305px;
  }
  .hotel-modal .modal-dialog .modal-content .modal-header {
    padding: 6px 8px 26px;
  }
  .hotel-modal .modal-dialog .modal-content .modal-body {
    height: 520px;
  }
  .hotel-modal .hotel-title-wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .hotel-modal .hotel-title-wrap .hotel-title > h2 {
    font-size: 16px;
    max-width: 250px;
  }
  .hotel-modal .hotel-title-wrap .hotel-title .hotel-stars {
    margin-left: 0;
  }
  .hotel-modal .hotel-title-wrap .hotel-title .hotel-stars img {
    margin-left: 0;
    margin-right: 10px;
    width: 14px;
  }
  .hotel-modal .hotel-title-wrap .hotel-address {
    font-size: 12px;
  }
  .hotel-modal .hotel-title-wrap .hotel-address .p1 {
    max-width: 250px;
  }
  .hotel-modal .hotel-title-wrap .hotel-address .p2 {
    margin-left: 0;
  }
  .hotel-modal .hotel-img-wrap {
    height: 104px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .hotel-modal .hotel-img-wrap > ul {
    height: 104px;
  }
  .hotel-modal .hotel-img-wrap .n1 {
    width: 138px;
    height: 104px;
  }
  .hotel-modal .hotel-img-wrap .n2 {
    width: 138px;
    height: 104px;
    margin-left: 7px;
  }
  .hotel-modal .hotel-map-wrap {
    height: 104px;
    padding-left: 0;
    padding-right: 0;
  }
  .hotel-modal .hotel-map-wrap .hotel-map {
    height: 100%;
  }
  .hotel-modal .hotel-detail-wrap {
    margin-top: 10px;
  }
  .hotel-modal .hotel-detail-wrap > h2 {
    height: 26px;
    line-height: 26px;
    padding-left: 0;
    font-size: 14px;
  }
  .hotel-modal .hotel-detail-wrap .hotel-content {
    height: 166px;
    padding-left: 0;
    padding-right: 0;
  }
  .hotel-modal .hotel-detail-wrap .hotel-inner > h3 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .hotel-modal .hotel-detail-wrap .hotel-inner > p {
    font-size: 12px;
  }
  .hotel-modal .viewer-toolbar {
    margin-top: -38px;
  }
  .hotel-modal .viewer-toolbar > li {
    width: 30px;
    height: 70px;
  }
  .hotel-modal .viewer-toolbar > li:before {
    height: 70px;
    width: 30px;
  }
  .hotel-modal .viewer-toolbar .viewer-prev:before,
  .hotel-modal .viewer-toolbar .viewer-next:before {
    background-size: 10px;
  }
  .hotel-modal .viewer-button {
    background: url('../../images/EN/svg/close-menu.svg') center no-repeat;
  }
}
