@charset "utf-8";
/* project.css */
/* 定义变量 */
/* 定义公共样式 */
.pd-silder-select {
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  text-align: right;
  margin-top: 30px;
}
.pd-silder-select .pd-model-main {
  position: relative;
  top: 5px;
  width: 300px;
  overflow: hidden;
  display: inline-block;
}
.pd-silder-select .pd-model-main .pd-model-large {
  overflow: hidden;
}
.pd-silder-select .pd-model-main .pd-model-large li {
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  float: left;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.pd-silder-select .pd-model-main .pd-model-large .active {
  border-color: #8ec060;
  color: #8ec060;
  line-height: 14px;
}
.pd-silder-select > span {
  display: inline-block;
  width: 66px;
  text-align: right;
}
.pd-silder-select > a {
  display: inline-block;
  width: 20px;
  text-align: center;
}
