@charset "utf-8";
/* project.css */

/* 定义变量 */
@url:"../../../images/EN/";
@green:#8ec060;
@purple:#1f2c5c;
@gray:#808080;
@red:#d0011b;
@link:#4aa374;

/* 定义公共样式 */
.pd-silder-select{
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
	text-align: right;
	margin-top: 30px;
	.pd-model-main{
		position: relative;
		top: 5px;
		width: 300px;
		overflow: hidden;
		display: inline-block;
		.pd-model-large{
			overflow: hidden;
			li{
				width:100px;
				height:20px;
				line-height: 20px;
				text-align: center;
				font-size: 14px;
				float: left;
				border-bottom:2px solid transparent;
				cursor: pointer;
			}
			.active{
				border-color: @green;
				color:@green;
				line-height: 14px;
			}
		}
	}
	>span{
		display: inline-block;
		width: 66px;
		text-align: right;
	}
	>a{
		display: inline-block;
		width: 20px;
		text-align: center;
	}
}