@charset "utf-8";
/* project.css */

/* 定义变量 */
@url:"../../../images/EN/";
@green:#8ec060;
@purple:#1f2c5c;
@gray:#808080;
@red:#d0011b;
@link:#4aa374;

/* 引入字体 */
@font-face {
	font-family: NotoSans;
	src: url(../../../../common/CN/fonts/NotoSans/SourceHanSansCN-Regular.otf);
}

body{
	// font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: NotoSans;
}

/* 定义公共样式 */
.pd-silder-select{
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
	text-align: right;
	margin-top: 30px;
	.pd-model-main{
		position: relative;
		top: 5px;
		width: 300px;
		overflow: hidden;
		display: inline-block;
		.pd-model-large{
			overflow: hidden;
			li{
				width:100px;
				height:20px;
				line-height: 20px;
				text-align: center;
				font-size: 14px;
				float: left;
				border-bottom:2px solid transparent;
				cursor: pointer;
				overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
			.active{
				border-color: @green;
				color:@green;
				line-height: 14px;
			}
		}
	}
	>span{
		display: inline-block;
		width: 66px;
		text-align: right;
	}
	>a{
		display: inline-block;
		width: 20px;
		text-align: center;
	}
}

.lm-pd-cart{
	position: fixed;
	left: -350px;
	top: 0;
	z-index: 999;
	width:350px;
	height: 100%;
	background:#fff;
	-webkit-box-shadow:0 0 40px 0 rgba(0,0,0,0.30);
	box-shadow:0 0 40px 0 rgba(0,0,0,0.30);

	.pd-cart-wrapper{
		height: 100%;
		.pd-cart-title{
			position: fixed;
			top:0;
			left: -350px;
			z-index: 99;
			width: 350px;
			height: 60px;
			line-height: 60px;
			border-bottom: 1px solid #f2f2f2;
			/* box-shadow:0 4px 10px 0 rgba(0,0,0,0.10);*/
			background: #fff;
			padding:0 20px;
			.cart-arrow{cursor: pointer;}
			h2{
				display: inline-block;
				margin-left: 75px;
				font-size:18px;
				color:#1a1a1a;
				font-weight: bold;
			}
			.pd-cart-details{
				float: right;
				font-size: 16px;
				color: @link;
			}
		}
		.pd-cart-box{
			width: 100%;
			height: 100%;
			padding:66px 0 80px;
			overflow-x: hidden;
			overflow-y: auto;
			.pd-cart-select{
				position: relative;
				overflow:hidden;
				padding:10px 20px;
				.pd-cart-clear-toggle{
					float: left;
					width:12px;
					height:12px;
					margin-top: 20px;
					.pd-checkBox{
						background:#ffffff;
						border:1px solid #cccccc;
						margin:0;
					}
					.pd-cart-clear{
						display: none;
						position: absolute;
						left: 22px;
						top: 38px;
						width: 12px;
						font-style:normal;
						cursor: pointer;
					}
				}
				.pd-get-detail-page{
					position: relative;
					float: left;
					width: 60px;
					height: 60px;
					margin-left: 10px;
					margin-right: 10px;
					&:hover b{display: block;}
					.pd-img{
						width: 60px;
						height: 60px;
					}
					b{
						display: none;
						position: absolute;
						top: 0px;
						left: 0px;
						width: 60px;
						height: 60px;
						background:rgba(31,44,92,0.50);
						filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7F1F2C5C",endColorstr="#7F1F2C5C");
					}
				}
				.pd-info{
					width: 200px;
					float: left;
					cursor: pointer;
					>h2{
						font-size: 14px;
						color: @purple;
						overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					}
					>.pd-info-param{
						color: @gray;
						margin-top: 6px;
						.pd-info-param-model{margin-right: 20px;}
					}
					.pd-price-box{
						width: 100%;
						height: 20px;
						line-height: 20px;
						margin-top: 6px;
						color:#ccc;
						.pd-price{
							float: left;
							font-size: 14px;
							color: @green;
							font-weight: bold;
							margin-right: 10px;
						}
						.pd-taxes{
							float: left;
							color: @purple;
						}
						.pd-num{
							float: right;
							color:@gray;
						}
					}
				}
				.pd-cart-select-arrow{
					position: absolute;
					right: 16px;
					top: 38px;
				}
			}
			.active{-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.30);box-shadow:0 0 10px 0 rgba(0,0,0,0.30);}
		}
		.pd-cart-price-box{
			position: fixed;
			bottom:0;
			left: -350px;
			width: 350px;
			height:80px;
			overflow:hidden;
			background:#ffffff;
			-webkit-box-shadow:0 -4px 10px 0 rgba(0,0,0,0.10);
			box-shadow:0 -4px 10px 0 rgba(0,0,0,0.10);
			padding-left: 20px;
			.pd-price-totle{
				width: 230px;
				float: left;
				padding-top: 10px;
				.pd-checkAll{vertical-align: text-bottom;}
				label{
					font-size:14px;
					color:#1a1a1a;
					margin-left: 10px;
					margin-right: 30px;
				}
				a{
					float: right;
					color: @red;
					font-size: 14px;
					margin-right: 20px;
				}
				.cart-price-totle{
					.cart-price-totle-result{
						display: inline-block;
						font-size: 20px;
						font-weight: bold;
						color: @green;
						margin-top: 10px;
					}
					.cart-price-totle-taxes{
						display: inline-block;
						color: @purple;
						margin-top: 10px;
					}
				}
			}
			.pd-pay{
				float: right;
				width:100px;
				height:80px;
				line-height: 80px;
				text-align: center;
				font-size:20px;
				color:#fff;
				background: @purple;
				cursor: pointer;
				transition: background .3s;
				-webkit-transition: background .3s;
				&:hover{
					background: @green;
					transition: background .3s;
					-webkit-transition: background .3s;
				}
			}
		}
		.pd-cart-view{
			position: fixed;
			top: 360px;
			left: 0px;
			width:90px;
			height:60px;
			line-height: 60px;
			text-align: center;
			background:@purple;
			border-radius:0 100px 100px 0;
			-webkit-box-shadow:0 0 20px 0 rgba(31,44,92,0.80);
			box-shadow:0 0 20px 0 rgba(31,44,92,0.80);
			cursor: pointer;
			-webkit-transition: all .6s;
			transition: all .6s;
			&:hover{
				-webkit-transition: all .6s;
				transition: all .6s;
				background: @green;
				-webkit-box-shadow: 0 10px 10px 0 rgba(142,192,96, 0.5);
				box-shadow: 0 10px 10px 0 rgba(142,192,96, 0.5);
			}
			.pd-cart-select-num{
				position: fixed;
				top: 360px;
				left: 66px;
				width:20px;
				height:20px;
				line-height: 20px;
				text-align: center;
				background:@red;
				color:#fff;
				border-radius:100%;
			}
		}
	}

	.pd-cart-detail-wrapper{
		.pd-cart-detail{
			display: none;
			position: fixed;
			left: 350px;
			top: 0;
			z-index: 99;
			width: 650px;
			height: 100%;
			background: #fff;
			-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.16);
			box-shadow:0 0 10px 0 rgba(0,0,0,0.16);
			border-radius:2px;
			padding:20px 20px 30px 60px;
			.pd-detail-title{
				overflow: hidden;
				h2{
					float: left;
					width: 96%;
					text-align: center;
					font-size:16px;
					color: @purple;
				}
				.pd-close{
					display: block;
					float: right;
					cursor: pointer;
					font-size: 20px;
					font-weight: bold;
					color: #1f2c5c;
				}
			}
			.pd-img-large{
				position: relative;
				width: 530px;
				height: 390px;
				margin-top: 42px;
				margin-bottom: 30px;
				.pd-img-large-lf{
					position: relative;
					width: 90px;
					height: 390px;
					float: left;
					.prev-small-img{
						position: absolute;
						top:0;
						cursor: pointer;
					}
					.next-small-img{
						position: absolute;
						bottom:0;
						cursor: pointer;
					}
					.disable{z-index: -1;}
					.show{z-index: 99;}
					.img-small-select-box{
						position: absolute;
						top:20px;
						height: 350px;
						overflow:hidden;
						.img-small-select{
							padding-top: 20px;
							li{
								position: relative;
								width: 90px;
								height: 90px;
								margin-bottom:20px;
								border:1px solid transparent;
								cursor: pointer;
								b{
									position: absolute;
									left: 0px;
									top:0px;
									width:88px;
									height:88px;
									background:rgba(31,44,92,0.50);
									filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7F1F2C5C",endColorstr="#7F1F2C5C");
								}
							}
							.active{
								border-color:@green;
								b{display: none !important;}
							}
							img{
								width: 88px;
								height: 88px;
							}
						}
					}
				}
				.pd-img-large-rf{
					position: relative;
					width: 390px;
					height: 390px;
					float: left;
					margin-left: 50px;
					img{
						width: 390px;
						height: 390px;
					}
					.winSelector{
						display: none;
						position:absolute; 
						width: 200px;
						height: 200px;
						cursor:crosshair; 
						filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; 
						background-color:#000; 
						border:1px solid #fff;
					}
				}
				.pd-large-img{
					display: none;
					position: absolute;
					right: -390px;
					top:0px;
					width: 390px;
					height: 390px;
					overflow:hidden;
					border:1px solid #ccc;
					img{
						position: absolute;
						width: 800px;
						height: 800px;
					}
				}
			}
			.pd-silder-select{
				text-align: left;
				color: #1a1a1a;
				font-weight: 100;
				margin-top: 14px;
				>span{text-align: left;}
			}
			.pd-color-select{
				font-size: 18px;
				color:#1a1a1a;
				text-align: left;
				margin-top: 14px;
				.pd-color-list{
					display: inline-block;
					overflow: hidden;
					vertical-align: text-top;
					li{
						position: relative;
						float: left;
						display: inline-block;
						width:20px;
						height:20px;
						border-radius:100%;
						margin-left: 24px;
						cursor: pointer;
						b{
							position: absolute;
							top: 6px;
							left: 6px;
							display: inline-block;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background: #fff;
							display: none;
						}
					}
					.color-1{
						background:#1f2c5c;
						-webkit-box-shadow:0 4px 10px 0 rgba(31,44,92,0.50);
						box-shadow:0 4px 10px 0 rgba(31,44,92,0.50);
					}
					.color-2{
						background:#004190;
						-webkit-box-shadow:0 4px 10px 0 rgba(0,64,144,0.50);
						box-shadow:0 4px 10px 0 rgba(0,64,144,0.50);
					}
					.color-3{
						background:#006d94;
						-webkit-box-shadow:0 4px 10px 0 rgba(0,108,147,0.50);
						box-shadow:0 4px 10px 0 rgba(0,108,147,0.50);
					}
					.color-4{
						background:#00908c;
						-webkit-box-shadow:0 4px 10px 0 rgba(0,144,140,0.50);
						box-shadow:0 4px 10px 0 rgba(0,144,140,0.50);
					}
					.color-5{
						background:#4aa374;
						-webkit-box-shadow:0 4px 10px 0 rgba(73,163,116,0.50);
						box-shadow:0 4px 10px 0 rgba(73,163,116,0.50);
					}
					.color-6{
						background:#8ec060;
						-webkit-box-shadow:0 4px 10px 0 rgba(142,192,96,0.50);
						box-shadow:0 4px 10px 0 rgba(142,192,96,0.50);
					}
				}
			}
			.pd-add-cart{
				position: absolute;
				bottom: 16px;
				margin-top: 14px;
				padding-right: 10px;
				.pd-add-cart-lf{
					float: left;
					color:@gray;
					text-align: left;
					margin-left: 80px;
					margin-top: 14px;
					p{
						font-size:14px;
						color: @gray;
					}
					.p2{margin-top: 4px;}
				}
				.pd-add-cart-rt{
					float: left;
					margin-left: 110px;
					margin-top: 14px;
					button{
						width:120px;
						height:40px;
						border:none;
						outline: none;
						font-size: 14px;
						color:#fff;
						font-weight: bold;
						background:@purple;
						-webkit-box-shadow:0 10px 20px 0 rgba(31, 44, 92,0.50);
						box-shadow:0 10px 20px 0 rgba(31, 44, 92,0.50);
						border-radius:2px;
						transition: all .3s;
						-webkit-transition: all .3s;
						&:hover{
							background:@purple;
							transition: all .3s;
							-webkit-transition: all .3s;
						}
					}
				}
				.pd-price{
					float: left;
					text-align: left;
					margin-top: 14px;
					.old-price{
						text-decoration:line-through;
						font-size:20px;
						margin-left: 12px;
						color:#ccc;
					}
					.new-price{
						font-weight: bold;
						font-size:30px;
						color: @green;
					}
				}
			}
			.pd-model-num{
				color:#1a1a1a;
				text-align: left;
				font-size: 18px;
				margin-top: 14px;
				.pd-num-change{
					display: inline-block;
					margin-left: 10px;
					span{
						position: relative;
						top: 4px;
						display: inline-block;
						width: 20px;
						text-align: center;
						font-size: 18px;
						margin:0 28px;
					}
					a{
						.toggle-img02{display: none;}
						img{cursor: pointer;}
						&:hover{
							color:@green;
							.toggle-img02{display: inline-block;}
							.toggle-img01{display: none;}
						} 
					}
				}
			}
		}
	}

	.pd-cart-pay-wrapper{
		display: none;
		position: fixed;
		left: 350px;
		top: 0;
		z-index: 99;
		width: 650px;
		height: 100%;
		background: #fff;
		-webkit-box-shadow:0 0 40px 0 rgba(0,0,0,0.16);
		box-shadow:0 0 40px 0 rgba(0,0,0,0.16);
		border-radius:2px;
		padding:20px 30px 80px;
		.pd-cart-pay-title{
			position: relative;
			margin-bottom: 40px;
			h2{
				font-size:18px;
				color:#1a1a1a;
				text-align: center;
			}
			.pd-close{
				position: absolute;
			    top: 0px;
			    right: 0;
			    cursor: pointer;
			    font-size: 20px;
			    font-weight: bold;
			    color: #1f2c5c;
			}
		}
		.pd-cart-pay-inner{
			height: 100%;
			padding-bottom: 100px;
			overflow-x: hidden;
			overflow-y: auto;
			.pd-cart-pay-address{
				padding:0 20px;
				.pd-cart-address-title{
					height: 34px;
					.pd-select-address{
						float: left;
						margin-left: 10px;
					}
					h2{
						float: left;
						height: 34px;
						line-height: 34px;
						font-size:14px;
						color:#1a1a1a;
					}
					>a{
						float: right;
						display: block;
						height: 34px;
						line-height: 34px;
						font-size:14px;
						color:#00908c;
					}
					.address-edit-btn-OK{display: none;}
				}
				.pd-cart-address-inner{
					margin-top: 10px;
					margin-bottom: 20px;
					.pd-cart-address-add{
						width:100%;
						padding-top: 10px;
						.pd-cart-address-icon{
							width:100%;
							height:30px;
							line-height: 32px;
							text-align: center;
							background: @purple;
							color: #fff;
							border-radius:2px;
							cursor: pointer;
							transition: all .3s;
							-webkit-transition: all .3s;
							&:hover{
								background: @green;
								transition: all .3s;
								-webkit-transition: all .3s;
							}
							img{
								margin-right: 10px;
								vertical-align: sub;
							}
						}
						.pd-cart-address-complete{
							display: none;
							overflow:hidden;
							.address-complete,.address-cancel{
								float: left;
								width:266px;
								height:30px;
								line-height: 30px;
								text-align: center;
								font-size: 14px;
								color:#fff;
								background:@purple;
								border:1px solid @purple;
								border-radius:2px;
								cursor: pointer;
								transition: all .3s;
								-webkit-transition: all .3s;
							}
							.address-complete{
								&:hover{
									background: @green;
									border-color: @green;
									transition: all .3s;
									-webkit-transition: all .3s;
								}
							}
							.address-cancel{
								background:@red;
								border-color: @red;
								margin-left: 10px;
								&:hover{
									border-color: #9b3441;
									background: #9b3441;
									transition: all .3s;
									-webkit-transition: all .3s;
								}
							}
						}
						.address-add-inner{
							display: none;
							span{margin-left: 12px;}
							.add-address-name,.add-address-phone{
								width:48%;
								height:30px;
								line-height: 30px;
								font-size:14px;
								color: @gray;
								padding:0 20px;
								border:1px solid #ccc;
								border-radius:2px;
								margin-top: 20px;
							}
							:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
								color:#ccc; 
							}

							::-moz-placeholder { /* Mozilla Firefox 19+ */
								color:#ccc;
							}

							input:-ms-input-placeholder{
								color:#ccc;
							}

							input::-webkit-input-placeholder{
								color:#ccc;
							}
							.add-address-info::-webkit-input-placeholder{color:#ccc;}
							.add-address-phone{margin-left: 3%;}
							.add-address-info{
								width: 100%;
								height: 90px;
								font-size:14px;
								color: @gray;
								margin-top: 20px;
								border:1px solid #ccc;
								border-radius:2px;
								resize:none;
								outline: none;
								padding:10px 20px;
							}
						}
					}
					.pd-cart-address-edit{
						margin-bottom: 20px;
						span{margin-left: 12px;}
						.edit-address-name,.edit-address-phone{
							width:48%;
							height:30px;
							line-height: 30px;
							font-size:14px;
							color: @gray;
							padding:0 20px;
							border:1px solid #ccc;
							border-radius:2px;
							margin-top: 20px;
						}
						:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
							color:#ccc; 
						}

						::-moz-placeholder { /* Mozilla Firefox 19+ */
							color:#ccc;
						}

						input:-ms-input-placeholder{
							color:#ccc;
						}

						input::-webkit-input-placeholder{
							color:#ccc;
						}
						.edit-address-info::-webkit-input-placeholder{color:#ccc;}
						.edit-address-phone{margin-left: 3%;}
						.edit-address-info{
							width: 100%;
							height: 90px;
							font-size:14px;
							color: @gray;
							margin-top: 20px;
							border:1px solid #cccccc;
							border-radius:2px;
							resize:none;
							outline: none;
							padding:10px 20px;
						}
						.save-address-wrap{
							margin-top: 10px;
							overflow: hidden;
							.default-address{
								color: #808080;
								float: left;
								display: block;
							    height: 30px;
							    line-height: 30px;
							    input{
							    	margin-right: 6px;
							    	vertical-align: sub;
							    }
							}
							.address-edit-btn-save{
								float: right;
								padding: 5px 20px;
								border:none;
								outline: none;
							    color: #fff;
							    border-radius: 2px;
							    background: @purple;
							    transition: all .3s;
							    -webkit-transition: all .3s;
							    &:hover{
							    	background: @green;
							    	transition: all .3s;
							    	-webkit-transition: all .3s;
							    }
							}
						}
					}
					.pd-cart-address-detail{
						position: relative;
						display: none;
						width: 100%;
						height: 118px;
						border-radius:2px;
						padding:20px;
						cursor: pointer;
						.address-china-wrap{margin-top: 20px;}
						.icon-address-delete{
							position: absolute;
							top: 10px;
						    right: 10px;
						    font-weight: bold;
						    color: #F44336;
						}
						.pd-address-perInfo{
							font-size: 14px;
							color:@gray;
							.pd-address-name,.pd-address-phone{
								display: inline-block;
								font-size: 14px;
								color:@gray;
							}
						}
						.pd-address-detail{
							font-size: 14px;
							color:@gray;
							margin-top: 6px;
							line-height: 26px;
						}
					}
					.active{
						background:@green;
						.pd-address-perInfo{
							font-size: 16px;
							color:#fff;
							.pd-address-name,.pd-address-phone{
								font-size: 16px;
								color:#fff;
							}
						}
						.pd-address-detail{
							font-size: 16px;
							color: #fff;
						}
					}
				}
				.pd-cart-address-more{
					width: 650px;
					height: 20px;
					line-height: 20px;
					margin-left: -50px;
					text-align: center;
					background:#ffffff;
					-webkit-box-shadow:0 10px 10px 0 rgba(0,0,0,0.10);
					box-shadow:0 10px 10px 0 rgba(0,0,0,0.10);
					cursor: pointer;
				}
			}
			.pd-cart-list-content{
				.pd-cart-select{
					position: relative;
					width: 100%;
					height: 70px;
					overflow:hidden;
					padding-top:10px;
					padding-right: 6px;
					.pd-get-detail-page{
						position: relative;
						float: left;
						width: 60px;
						height: 60px;
						margin-left: 10px;
						margin-right: 10px;
						&:hover b{display: block;}
						.pd-img{
							width: 60px;
							height: 60px;
						}
						b{
							display: none;
							position: absolute;
							top: 0px;
							left: 0px;
							width: 60px;
							height: 60px;
							background:rgba(31,44,92,0.50);
							filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7F1F2C5C",endColorstr="#7F1F2C5C");
						}
					}
					.pd-info{
						width: 60%;
						float: left;
						cursor: pointer;
						>h2{
							font-size: 14px;
							color: @purple;
							margin-top: 10px;
							overflow: hidden;
						    text-overflow: ellipsis;
						    white-space: nowrap;
						}
						>.pd-info-param{
							color: #ccc;
							font-size: 14px;
							margin-top: 10px;
							.pd-info-param-model{margin-right: 20px;}
						}
					}
					.pd-price-box{
						float: right;
						height: 60px;
						line-height: 60px;
						color:#ccc;
						margin-right: 30px;
						.pd-price{
							font-size: 20px;
							color: @green;
							font-weight: bold;
							margin-right: 10px;
						}
						.pd-taxes{
							float: right;
							color: @purple;
							font-size: 16px;
						}
						.pd-num{
							float: right;
							color:#ccc;
						}
					}
					.pd-num-change{
						float: right;
						height: 60px;
						line-height: 54px;
						a{
							.toggle-img02{display: none;}
							img{cursor: pointer;}
							&:hover{
								color:@green;
								.toggle-img02{display: inline-block;}
								.toggle-img01{display: none;}
							} 
						}
						span{
							position: relative;
							top: 4px;
							display: inline-block;
							width: 20px;
							font-size: 18px;
							margin: 0 26px;
						}
					}
				}
			}
		}
		.pd-cart-pay-way{
			position: fixed;
			bottom:0;
			left: 350px;
			width: 650px;
			height: 80px;
			background: #ffffff;
			-webkit-box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
			padding-left: 30px;
			.pd-cart-freight-way{
				float: left;
				margin-top: 24px;
				.freight-way{
					font-size: 14px;
					color:@gray;
					margin-top: 10px;
				}
				.pd-cart-use-coupons{
					position: relative;
					font-size: 14px;
					color:@gray;
					margin-top: 14px;
					input{vertical-align: top;}
					label{
						font-weight: 100;
						margin-left: 10px;
					}
					.pd-cart-select-coupons{
						float: right;
						display: none;
						cursor: pointer;
						span{
							font-size: 14px;
							color:@green;
							margin-right: 10px;
						}
						.select-coupons-menu{
							display: none;
							position: absolute;
							top:-126px;
							left: 122px;
							width: 160px;
							height: 120px;
							-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.16);
							box-shadow:0 0 10px 0 rgba(0,0,0,0.16);
							overflow-y: auto;
							background: url("@{url}select-coupons-bg.png") no-repeat 1px -10px;
							background: #fff;
							padding:8px 24px;
							li{
								width: 104px;
								color:@gray;
								font-size:14px;
								margin-bottom: 10px;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								&:hover{color:@green;}
							}
						}
					}
				}
			}
			.pd-cart-pay-method{
				margin-left: 20px;
			    margin-top: 32px;
			}
			.pd-cart-ok{
				float: right;
				width:120px;
				height:40px;
				line-height: 40px;
				text-align: center;
				font-size: 14px;
				color: #fff;
				background:@purple;
				-webkit-box-shadow:0 10px 20px 0 rgba(31, 44, 92,0.50);
				box-shadow:0 10px 20px 0 rgba(31, 44, 92,0.50);
				border-radius:2px;
				margin-top: 20px;
				margin-right: 30px;
				cursor: pointer;
				transition: all .3s;
				-webkit-transition: all .3s;
				&:hover{
					transition: all .3s;
					-webkit-transition: all .3s;
					background:@green;
					-webkit-box-shadow:0 10px 20px 0 rgba(142,192,96,0.50);
					box-shadow:0 10px 20px 0 rgba(142,192,96,0.50);
				}
			}
		}
	}
}

.shopping-mask {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 98;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.pay-content{
	margin-top: 30px;
	padding:0 10px 20px;
	overflow: hidden;
	.pay-select{
		float: left;
		width: 100%;
		text-align: center;
		>a{
			display: inline-block;
			width: 176px;
			height: 80px;
		}
	}
	.AliPay{background: url('../../../../images/EN/AliPay.png') center no-repeat;background-size: 176px;}
	.AliPay.active{background: url('../../../../images/EN/AliPay-active.png') center no-repeat;background-size: 176px;}
	.PayPal{background: url('../../../../images/EN/PayPal.png') center no-repeat;margin-right: 10px;background-size: 176px;}
	.PayPal.active{background: url('../../../../images/EN/PayPal-active.png') center no-repeat;margin-right: 10px;background-size: 176px;}
	.pay-catering{
		width:100%;
		height:50px;
		line-height: 50px;
		float: right;
		margin-top: 10px;
		text-align: center;
		font-size: 20px;
		color: #fff;
		border-radius:2px;
		background:@purple;
		transition: background .3s;
		-webkit-transition: background .3s;
		&:hover{
			background: @green;
			transition: background .3s;
			-webkit-transition: background .3s;
		}
	}
}
#payModal .modal-dialog .modal-content .modal-body .loginTitle{
	font-size: 24px;
}
#payModal{
	z-index: 999999999;
}

.btn{
	border-radius: 2px;
}
.address-tips{
	display: none;
	color: #1a1a1a;
	padding-top: 10px;
	i{margin-right: 10px;margin-top:10px;vertical-align: inherit;}
	a{color: #1a1a1a;}
}

/* 移动端新增代码 */
.mobile-menu,.mobile-user{
	display: inline-block;
	display: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top:10px;
}
.mobile-menu{
	float: left;
}
.mobile-user{
	float: right;
}
.m-nav-menu{display: none;}
.m-nav-mask{display: none;}
.ovfHiden{overflow: hidden;height: 100%;}
.pd-cart-title i,.pd-detail-title i{display: none;}

.m-swiper-container{display: none;}
.m-sales-container{display: none;}
.LM-hiSlider .m-banner{display: none;}
.pd-silder-select  .m-model-title{display: none;}
.m-pd-img-large{display: none;}

@media screen and (max-width: 992px), (max-device-width: 992px) {
	.lm-pd-cart{
		width: 100%;
		box-shadow: none;
		.pd-cart-wrapper{
			.pd-cart-title{
				width: 100%;
				img{display: none;}
				i{
					display: block;
					position: absolute;
					left: 0.15rem;
					top: 10px;
					font-size: 20px;
					z-index: 1;
				}
				.pd-cart-details{
					position: absolute;
					right:0.15rem;
					top:0;
					font-size: 0.12rem;
				}
				h2{
					width: 100%;
					position: absolute;
					height: 40px;
					line-height: 40px;
					text-align: center;
					margin-left: 0;
					font-size: 0.15rem;
				}
			}
			.pd-cart-box{
				.pd-cart-select{
					.pd-info{
						width: 1.6rem;
					}
				}
			}
			.pd-cart-price-box{
				width: 100%;
				.pd-price-totle{
					width: 75%;
				}
				.pd-pay{
					width: 25%;
					font-size: 0.2rem;
				}
			}
		}
		.pd-cart-detail-wrapper{
			.pd-cart-detail{
				width: 100%;
				left: 0;
				padding:0;
				overflow-y: scroll;
				.pd-detail-title{
					height: 0.44rem;
				    line-height: 0.44rem;
				    padding-left: 50px;
				    font-size: .16rem;
					h2{
						height: 0.44rem;
						line-height: 0.44rem;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					img{display: none;}
					i{
						display: block;
						position: absolute;
						left: 0.15rem;
						top: .1rem;
						font-size: 0.16rem;
					}
				}
				.pd-img-large{display: none;}
				.m-pd-img-large{
					display: block;
					height: auto;
					width: 100%;
					margin:0;
					.swiper-wrapper{
						.swiper-slide{
							width: 100% !important;
							height: auto;
							img{
								width:100%;
								height:100%;
							}
						}
					}
				}
				.pd-silder-select{
					font-size: 0.12rem;
					padding: 0 0.16rem;
					margin-top: 0.14rem;
					>span{width:0.46rem;}
					>a{
						i{
							font-size: 0.14rem;
							font-weight: bold;
						}
					}
					.pd-model-main{
						width:1.9rem;
						.pd-model-large li{
							font-size: 0.1rem;
						}
					}
				}
				.pd-model-num{
					font-size: 0.12rem;
					padding: 0 0.16rem;
					margin-top: 0.14rem;
					.pd-num-change{
						span{
							font-size: 14px;
							margin:0 20px;
						}
					}
				}
				.pd-add-cart{
					position: relative;
					margin-top: 0.14rem;
					padding-right: 0;
					overflow: hidden;
					.pd-price{
						padding: 0 0.16rem;
						margin-top: 0.14rem;
						.new-price{font-size: 0.2rem;}
						.old-price{font-size: 0.15rem;}
					}
					.pd-add-cart-lf{
						margin-top: 0.2rem;
						margin-left: 0;
						p{
							display: inline-block;
							font-size: 0.1rem;
						}
					}
					.pd-add-cart-rt{
						position: relative;
						bottom: 0;
						margin-left: 0;
						width: 100%;
						button{
							width: 100%;
							height: 0.4rem;
							line-height: 0.4rem;
							margin-top: 20px;
							border-radius: 0;
							font-size: 0.14rem;
						}
					}
				}
			}
		}
		.pd-cart-pay-wrapper{
			left: 0;
			width: 100%;
			.pd-cart-pay-way{
				left: 0;
				width: 100%;
				.pd-cart-freight-way{
					float: none;
					margin-top: 18px;
				}
				.pd-cart-pay-method{
					margin-top: 6px;
					margin-left: 0;
				}
				.pd-cart-ok{
					margin-top: -18px;
				}
			}
		}
	}
}

@media screen and (max-width: 767px){
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-detail{height: auto;}
	.lm-pd-cart .pd-cart-pay-wrapper{padding: .1rem;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner{padding-bottom: 130px;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address{padding: 0;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-more{width: 100%;margin-left: 0;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-title{height: 68px;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-title h2{float: none;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-title .pd-select-address{margin-left: 0;float: none;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way{padding-left: .1rem;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-ok{margin-right: .1rem;}
	.pd-close{right: 0;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-title{margin-bottom: 30px;}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .address-add-inner .add-address-name, 
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .address-add-inner .add-address-phone{
		width: 100%;
		margin-left: 0;
	}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-edit .edit-address-name, 
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-edit .edit-address-phone{
		width: 100%;
		margin-left: 0;
	}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .pd-cart-address-complete .address-complete, 
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .pd-cart-address-complete .address-cancel{
		width: 48%;
	}
	.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .pd-cart-address-complete .address-cancel{
		margin-left: 4%;
	}
	.lm-pd-cart .pd-cart-wrapper .pd-cart-title{
		height: 40px;
		line-height: 40px;
	}
	.lm-pd-cart .pd-cart-wrapper .pd-cart-view{
		width: 45px;
		height: 30px;
		line-height: 30px;
		img{width: 18px;}
		.pd-cart-select-num{
			left: 36px;
			width: 16px;
		    height: 16px;
		    line-height: 18px;
		    font-size: 12px;
		}
	}
	#payModal .modal-dialog .modal-content .modal-body .loginTitle{
		padding: 0 10px;
	    margin-top: 20px;
	}
}