@charset "utf-8";
/*rewrite browser scrollbar stylesheet*/
/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar{
    width: 8px;
    background-color: #B0AEDA;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track{
	width: 8px;
    background-color: #fff;
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb{
    background-color: #8ec060;
    border: solid 1px #8ec060;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #8ec060;
}
/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button{
    height: 0px;
    background-color: #1f2c5c;
}

/* IE下滚动条 */
/*三角箭头的颜色*/
*{
	scrollbar-arrow-color: #1f2c5c;
	/*滚动条滑块按钮的颜色*/
	scrollbar-face-color: #8ec060;
	/*滚动条整体颜色*/
	scrollbar-highlight-color: #8ec060;
	/*滚动条阴影*/
	scrollbar-shadow-color: none;
	/*滚动条轨道颜色*/
	scrollbar-track-color: #fff;
}
/* reset.css */
body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd,input {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
body {
	font-family: "Arial",sans-serif;
}
ul,li {
	list-style: none;
}
a {
	color:#666;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration:none;
	outline:none;
}
input {
	border:0;
	outline: none;
	width: 14px;
	height: 14px;
}
img {
	vertical-align:middle;
}
button{
	outline: none !important;
	border: none !important;
}

/* project.css */

/* 定义变量 */
@url:"../../../images/EN/";
@green:#8ec060;
@purple:#1f2c5c;
@gray:#808080;
@red:#d0011b;
@link:#4aa374;

/* 定义公共样式 */
.pd-silder-select{
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
	text-align: right;
	margin-top: 30px;
	.pd-model-main{
		position: relative;
		top: 5px;
		width: 300px;
		overflow: hidden;
		display: inline-block;
		.pd-model-large{
			overflow: hidden;
			li{
				width:100px;
				height:20px;
				line-height: 20px;
				text-align: center;
				font-size: 14px;
				float: left;
				border-bottom:2px solid transparent;
				cursor: pointer;
			}
			.active{
				border-color: @green;
				color:@green;
				line-height: 14px;
			}
		}
	}
	>span{
		display: inline-block;
		width: 66px;
		text-align: right;
	}
	>a{
		display: inline-block;
		width: 20px;
		text-align: center;
	}
}

/* 头部样式 */
.lm-header{
	height: 210px;
	position: relative;
	background: url("@{url}navbarBg.png") center no-repeat;
	.headImg{
		position: absolute;
		width: 100%;
		height: 210px;
		z-index: -1;
	}
	.headImg2{display: none;}
	.lanmeiNav{
		width:960px;
		height: 78px;
		line-height: 78px;
		border-bottom: 2px solid #1f2c5c;
		margin:0 auto;
		.lanmeiLogo{
			float: left;
			height: 78px;
			line-height: 78px;
			.navbar-brand{
				height: 78px;
			}
		}
		.lanmeiHeadInfo{
			float: right;
			height: 78px;
			line-height: 78px;
			>ul{
				height: 78px;
				line-height: 78px;
				>li{
					float: left;
					position: relative;
					height: 78px;
					line-height: 78px;
					margin-right: 30px;
					font-size:14px;
					a{
						font-size:14px;
					}
					.phoneBtn{
						font-size:14px;
						color:#1f2c5c;
					}
					.loginBtn{
						display: inline-block;
						width: 72px;
						height: 20px;
						line-height: 20px;
						background: #8ec060;
						line-height: 7px;
						color: #fff;
						border-radius: 16px;
					}
					.REGISTEREDBtn{
						display: inline-block;
						width: 114px;
						text-align: center;
						height: 20px;
						line-height: 20px;
						background: #1f2c5c;
						line-height: 7px;
						color: #fff;
						border-radius: 16px;
					}
				}
			}
		}
	}
	.LMCompanyInfo{
		position: relative;
		width: 960px;
		height: 30px;
		line-height: 30px;
		margin:0 auto;
		>ul{
			position: absolute;
			height: 38px;
			>li{
				position: relative;
				float: left;
				height: 38px;
				width: 170px;
				a{
					font-weight:bold;
					font-size:14px;
					color:#1f2c5c;
					display: inline-block;
					width: 100%;
					height: 38px;
					padding-left: 10px;
					line-height: 38px;
					text-align: left;
				}
				>i{
					position: absolute;
					right: 20px;
					top: 16px;
					width:0;
					height:0;
					border-width:6px 6px 0;
					border-style:solid;
					border-color:#1f2c5c transparent transparent;/*灰 透明 透明 */ 
				}
				a.active{background: #8EC060;color:#fff;}
				a.active+i{
					position: absolute;
					right: 20px;
					top: 16px;
					width:0;
					height:0;
					border-width:6px 6px 0;
					border-style:solid;
					border-color:#fff transparent transparent;/*灰 透明 透明 */
				}
				>ul{
					display: none;
					position: absolute;
					top: 38px;
					left:0px;
					width: 960px;
					height: 38px;
					line-height: 38px;
					background: #8EC060;
					>li{
						float: left;
						height: 38px;
						a{
							display: inline-block;
							width: 100%;
							height: 38px;
							line-height: 38px;
							color: #fff;
							text-align: left;
						}
					}
				}
			}
			>.nth-child1{width: 160px;}
			>.nth-child2{width: 240px;}
			>.nth-child3{width: 210px;}
			>.nth-child5{width: 200px;}
			>.nth-child6{width: 150px;}
		}
		.LMCompanyDownMenuWrapper{
			position: absolute;
			top: 0px;
			left: 316px;
			
		}
	}
	.sliderInfo{
		width: 960px;
		height: 43px;
		line-height: 43px;
		margin:0 auto;
		margin-top: 60px;
		padding:0 10px;
		overflow: hidden;
		>p{
			float: left;
			height: 30px;
			line-height: 30px;
			color: #8ec060;
			font-size: 16px;
			img{
				margin-right: 10px;
			}
		}
		ul.line{
			float: left;
			height: 30px;
			overflow: hidden;
		} 
		ul.line li{
			height:30px;
			text-indent:15px;
			font-size:16px; 
			line-height:30px;
			list-style:none;
			a{
				color:#fff;
			}
		} 
		.view-all{
			float: right;
			height: 30px;
			line-height: 30px;
			a{
				font-size:16px; 
				color:#fff;
			}
		}
	}
}

/* 页脚样式 */
.lm-footer{
	width: 100%;
	height: 270px;
	background: url("@{url}footerBg.png") no-repeat;
	.footerBg{
		width: 100%;
		height: 270px;
		background: rgba(31,44,92,0.70);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#B21F2C5C",endColorstr="#B21F2C5C");
		>div{
			width: 960px;
			margin:0 auto;
		}
	}
	.HelpfulInformation{
		height: 70px;
		line-height: 70px;
		padding:0 10px;
		border-bottom: 1px solid #fff;
		>p{
			float: left;
			font-weight:bold;
			font-size:18px;
			color:#ffffff;
		}
		.languageSelectBox{
			height: 70px;
			float: right;
			font-weight:bold;
			font-size:18px;
			color:#ffffff;
			.languageBox{
				position: relative;
				top:8px;
				display: inline-block;
				width: 130px;
				height: 50px;
				.languageSelect{
					display: inline-block;
					width: 130px;
					height: 50px;
					border:1px solid transparent;
					border-bottom: none;
					vertical-align: top;
					background: url("@{url}selectUSA.png") no-repeat 48px;
					.lanBg{
						width: 100%;
						height: 100%;
						background: #fff;
					}
					span{
						position: absolute;
						right: -92px;
						top: -24px;
						color:#fff;
						display: inline-block;
						width: 80px;
						height: 50px;
						text-overflow:ellipsis;
						display: none;
					}
				}
				.active{
					border-color:#ddd;
					background-color:#fff;
				}
				.ENbottomLine{
					top: 50px;
					left: 10px;;
				}
				.languageDownMenu{
					display: none;
					position: absolute;
					top: 50px;
					left: 0;
					width: 130px;
					border:1px solid #ddd;
					border-top: none;
					background: #fff;
					z-index: 999;
					>li{
						height: 50px;
						a{
							position: relative;
							display: inline-block;
							width: 100%;
							height: 100%;
							span{
								position: absolute;
								left: 54px;
								top: 2px;
								display: inline-block;
								width: 80px;
								height: 50px;
								line-height: 50px;
								text-overflow:ellipsis;
							}
						}
					}
					.nth-child2{
						a{background: url("@{url}selectChina.png") no-repeat 10px 12px;}
					}
					.nth-child3{
						a{background: url("@{url}selectUSA.png") no-repeat 10px 12px;}
					}
					// .nth-child3{
					// 	a{background: url(../../images/EN/selectGermany.png) no-repeat 10px 6px;}
					// }
				}
			}
		}
	}
	.contactUs{
		height: 60px;
		padding:20px 10px;
		font-size:14px;
		color:#ffffff;
		.nth-child1{
			float: left;
			span{
				font-size:14px;
				color:#ffffff;
				margin-left: 20px;
			}
		}
		.nth-child2{
			float: right;
			span{
				font-size:14px;
				color:#ffffff;
			}
			a{
				color:#fff;
				i{
					font-size: 26px;
					margin-left: 18px;
				}
				-webkit-transition-duration:.5s;
				transition-duration:.5s;
				&:hover{
					-webkit-transition-duration:.5s;
					transition-duration:.5s;
					color:@green;
				}
			}
		}
	}
	.location{
		padding:10px;
		a{
			font-size:14px;
			color:#ffffff;
			margin-left: 20px;
		}
	}
	.LanmeiAirlinesBerhad{
		height: 60px;
		padding:20px 10px;
		font-size:14px;
		color:#ffffff;
		>a{
			float: left;
			img{
				vertical-align: text-bottom;
			}
		}
		>div{
			float: left;
			margin-left: 20px;
			.p1{
				font-size:14px;
				color:#ffffff;
				display: inline-block;
				padding-top: 12px;
			}
			.p2{
				font-size:14px;
				color:#ffffff;
				a{color:#8ec060;}
			}
		}
	}
}

/* 返回页面顶部 */
.lm-toTop{
	display: none;
	position: fixed;
	right: 100px;
	bottom: 130px;
	z-index: 99999;
	border:1px solid #fff;
	border-radius:2px;
	width:38px;
	height:62px;
	padding-top: 9px;
	text-align: center;
	cursor: pointer;
	background: #ccc;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	p{
		margin-top: 6px;
		font-size:14px;
		color:#fff;
		letter-spacing:0;
		text-align:center;
	}
	&:hover{
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		background: #8ec060;
		border-color:transparent;
		p{color:#fff;}
	}
}



