@charset "utf-8";
/* 引入字体 */
@font-face {
  font-family: NotoSansBold;
  src: url(../../common/CN/fonts/NotoSans/SourceHanSansCN-Bold.otf);
  font-weight: bold;
}
/* 定义变量 */
/* 定义颜色变量 */
.lm-memberActive-Tue {
  width: 100%;
  height: 340px;
}
/* 手机端 */
@media (max-width: 767px) {
  .lm-memberActive-Tue {
    height: 132px;
  }
}
