@charset "utf-8";
@font-face {
  font-family: NotoSansBold;
  src: url(../../common/CN/fonts/NotoSans/SourceHanSansCN-Bold.otf);
  font-weight: bold;
}
/* 定义变量 */
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.clear-both {
  clear: both;
}
.lm-section {
  width: 1200px;
  margin: 60px auto 60px;
}
.info-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 30px;
  color: #131c3e;
  font-family: NotoSansBold;
  text-align: center;
}
.info-title img {
  margin-right: 20px;
}
.total-price-wrap {
  color: #5c6788;
  margin-top: 40px;
  overflow: hidden;
}
.total-price-wrap .people-num {
  float: left;
  height: 62px;
  line-height: 62px;
  font-size: 18px;
  font-family: NotoSansBold;
  color: #1f2c5c;
}
.total-price-wrap .people-num span {
  margin-right: 10px;
}
.total-price-wrap .total-price {
  float: right;
}
.total-price-wrap .total-price .p1 {
  text-align: right;
}
.total-price-wrap .total-price .p1 span {
  color: #8ec06c;
  font-size: 36px;
  font-family: NotoSansBold;
}
.total-price-wrap .total-price .p2 {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.contacts-info-wrap {
  width: 100%;
  display: inline-block;
}
.contacts-info-wrap .form-group {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  color: #5c6788;
  font-size: 16px;
}
.contacts-info-wrap .form-group input {
  width: auto;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #1f2c5c;
  border-radius: 2px;
  background: #FAFBFF;
}
.contacts-info-wrap .form-group .input-edit {
  border: 1px solid #dddddd;
  background: #fff;
}
.contacts-info-wrap .form-group :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(31, 44, 92, 0.3);
  font-size: 14px;
}
.contacts-info-wrap .form-group ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(31, 44, 92, 0.3);
  font-size: 14px;
}
.contacts-info-wrap .form-group input:-ms-input-placeholder {
  color: rgba(31, 44, 92, 0.3);
  font-size: 14px;
}
.contacts-info-wrap .form-group input::-webkit-input-placeholder {
  color: rgba(31, 44, 92, 0.3);
  font-size: 14px;
}
.contacts-info-wrap .form-group-edit a {
  float: right;
  padding: 6px 20px;
  background: #1f2c5c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.contacts-info-wrap .form-group-edit a:hover {
  background: #8ec06c;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.lm-pay-method {
  margin-top: 40px;
  margin-bottom: 120px;
}
.lm-pay-method .pay-title {
  font-size: 30px;
  font-family: NotoSansBold;
  color: #131c3e;
  text-align: center;
  margin-bottom: 20px;
}
.lm-pay-method .pay-title img {
  margin-right: 20px;
}
.lm-pay-method .pay-content {
  margin-top: 30px;
  overflow: hidden;
}
.lm-pay-method .pay-content .pay-select {
  float: left;
}
.lm-pay-method .pay-content .pay-select > a {
  display: inline-block;
  width: 220px;
  height: 100px;
}
.lm-pay-method .pay-content .AliPay {
  background: url('../../images/CN/AliPay.png') center no-repeat;
}
.lm-pay-method .pay-content .AliPay.active {
  background: url('../../images/CN/AliPay-active.png') center no-repeat;
}
.lm-pay-method .pay-content .PayPal {
  background: url('../../images/CN/PayPal.png') center no-repeat;
  margin-right: 36px;
}
.lm-pay-method .pay-content .PayPal.active {
  background: url('../../images/CN/PayPal-active.png') center no-repeat;
  margin-right: 36px;
}
.lm-pay-method .pay-content .pay-baggage {
  width: 160px;
  height: 60px;
  line-height: 60px;
  float: right;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 2px;
  background: #1f2c5c;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.lm-pay-method .pay-content .pay-baggage:hover {
  background: #8ec06c;
  transition: background .3s;
  -webkit-transition: background .3s;
}
.lm-pay-method .pay-tips {
  margin-top: 30px;
  color: #1f2c5c;
}
.book-tips-wrap {
  margin-top: 60px;
  color: #5c6788;
  font-size: 14px;
}
.book-tips-wrap h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.book-tips-wrap p {
  line-height: 26px;
}
.table {
  margin-bottom: 0;
}
table > thead:first-child > tr:first-child > th {
  color: #1f2c5c;
  font-size: 18px;
}
.table > tbody > tr > td {
  color: #5c6788;
  font-size: 14px;
}
.table > tbody > tr > td a {
  color: #42958a;
}
/* ie兼容性 */
@media screen and (max-width: 1200px) {
  .lm-section {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .ticket-info-wrap,
  .hotel-info-wrap {
    display: none;
  }
}
