@charset "utf-8";
/* 定义变量 */
@font-face {
  font-family: NotoSansBold;
  src: url(../../common/CN/fonts/NotoSans/SourceHanSansCN-Bold.otf);
  font-weight: bold;
}
/* 定义颜色变量 */
/* reset.css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
ul,
li {
  list-style: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
input {
  border: 0;
  outline: none;
}
img {
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
.lanmeiHeader-subpage {
  height: 200px;
  background: url('../../images/EN/navbarBg.png') center no-repeat;
}
.lanmeiHeader-subpage .lanmeiNav .lanmeiHeadInfo > ul .nth-child1 > div > span {
  color: #1f2c5c;
}
/* 主要代码 */
body {
  min-width: 320px;
  min-height: 760px;
  font-size: 14px;
  background: #202C5C;
}
.a-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.a-wrapper .a-head {
  width: 100%;
}
.a-wrapper .a-head > img {
  width: 100%;
}
.a-wrapper .a-content {
  position: relative;
  width: 100%;
}
.a-wrapper .a-content > img {
  width: 100%;
}
.a-wrapper .a-content .a-inner {
  width: 960px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -480px;
}
.a-wrapper .a-content .a-inner > div {
  margin-top: 40px;
}
.a-wrapper .a-content .a-inner .inner-1 {
  color: #fff;
  padding-left: 90px;
  margin-top: 60px;
}
.a-wrapper .a-content .a-inner .inner-1 > p {
  width: 780px;
}
.a-wrapper .a-content .a-inner .inner-1 .a-title-p1 {
  margin-top: 20px;
  font-size: 36px;
  font-family: NotoSansBold;
  text-align: center;
}
.a-wrapper .a-content .a-inner .inner-1 .a-title-p1 span {
  display: block;
  color: #FFF033;
}
.a-wrapper .a-content .a-inner .inner-1 .a-title-p2 {
  font-size: 20px;
  text-align: left;
  margin-top: 40px;
}
.a-wrapper .a-content .a-inner .inner-4 {
  padding-bottom: 10px;
  margin-bottom: 100px;
}
.a-wrapper .a-content .a-inner .a-rule-title {
  text-align: center;
  font-family: NotoSansBold;
}
.a-wrapper .a-content .a-inner .a-rule-title > div {
  display: inline-block;
  margin: 0 16px;
  vertical-align: text-bottom;
}
.a-wrapper .a-content .a-inner .a-rule-title > div .p1 {
  color: #fff;
  font-size: 30px;
}
.a-wrapper .a-content .a-inner .a-rule-title > span {
  font-size: 56px;
  color: #FFF135;
}
.a-wrapper .a-content .a-inner .a-rule-content {
  margin-top: 30px;
}
.a-wrapper .a-content .a-inner .a-rule-content > img {
  width: 100%;
}
.a-wrapper .a-content .a-inner .a-rule-content p {
  font-size: 16px;
  line-height: 38px;
  color: #fff;
}
.activity-tips-wrap {
  font-size: 16px;
  line-height: 38px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.activity-tips-wrap span {
  color: #42958a;
  cursor: pointer;
  font-family: NotoSansBold;
}
/* 时钟样式调整 */
.flip-clock-wrapper {
  margin: 0;
  margin-top: 30px;
}
.flip-clock-wrapper ul {
  width: 80px;
}
.flip-clock-dot {
  visibility: hidden;
  background: #fff;
}
.flip-clock-divider .flip-clock-label {
  color: #fff;
  font-size: 20px;
  top: 110px;
  right: -100px;
}
.flip-clock-divider.minutes .flip-clock-label {
  right: -100px;
}
.flip-clock-divider.seconds .flip-clock-label {
  right: -100px;
}
/* 进入页面时的提示框 */
.activeModal .modal-dialog .modal-content .modal-body {
  padding: 20px;
}
.activeModal .modal-dialog .modal-content .modal-body p {
  color: #808080;
  text-align: left;
  line-height: 28px;
}
.activeModal .modal-dialog .modal-content .modal-body p img {
  margin-right: 10px;
}
.activeModal .modal-dialog .modal-content .modal-body p a {
  font-weight: bold;
  color: #8ec060;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.activeModal .modal-dialog .modal-content .modal-body p a:hover {
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  color: #4aa374;
}
.activeModal .modal-dialog .modal-content .modal-body .p1 {
  margin-bottom: 14px;
}
.activeModal .modal-dialog .modal-content .modal-footer .closeActive {
  width: 60px;
  height: 30px;
  background: #8abb5d;
  color: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.activeModal .modal-dialog .modal-content .modal-footer .closeActive:hover {
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  background: #1f2c5c;
}
.activityModal .modal-content {
  box-shadow: none;
  overflow: hidden;
  background: transparent;
}
.activityModal .modal-content .modal-body {
  position: relative;
}
.activityModal .modal-content .modal-body img {
  width: 100%;
}
.activityModal .modal-content .modal-body p {
  position: absolute;
  top: 52%;
  color: #000;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
}
.activityModal .modal-content .modal-body p .s1 {
  color: #1f2c5c;
  font-family: NotoSansBold;
}
.activityModal .modal-content .modal-body p .s2 {
  font-size: 16px;
}
.activityModal .modal-content .modal-body p .coupon-result {
  color: #1f2c5c;
  font-family: NotoSansBold;
  margin-left: 10px;
  margin-right: 10px;
}
.activityModal .modal-content .modal-body .p2 {
  top: 66%;
}
.activityModal .modal-content .modal-body button {
  position: absolute;
  top: 86%;
  left: 50%;
  margin-left: -100px;
  color: #fff;
  width: 200px;
  height: 40px;
  border: none;
  background: #1f2c5c;
  font-size: 16px;
  border-radius: 6px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.activityModal .modal-content .modal-body button:hover {
  background: #8ec060;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.failModal .modal-content .modal-body .p2 {
  top: 62%;
}
.activityTipsModal .modal-content .modal-body,
.nextOpportunityModal .modal-content .modal-body {
  width: 400px;
  height: 300px;
  border-radius: 2px;
  background: #fff;
}
.activityTipsModal .modal-content .modal-body h2,
.nextOpportunityModal .modal-content .modal-body h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2c5c;
  font-family: NotoSansBold;
  padding-top: 26px;
}
.activityTipsModal .modal-content .modal-body p,
.nextOpportunityModal .modal-content .modal-body p {
  top: 86px;
}
.activityTipsModal .modal-content .modal-body button,
.nextOpportunityModal .modal-content .modal-body button {
  top: 80%;
}
.nextOpportunityModal .modal-content .modal-body p {
  top: 110px;
}
/* 配置屏幕 针对小屏幕*/
@media screen and (max-width: 992px) {
  .lanmeiHeader-subpage {
    display: none;
  }
  .flip-clock-wrapper {
    width: 780px;
    margin: 0 auto;
  }
  .a-wrapper .a-content .a-inner {
    width: 100%;
    height: 240px;
    left: 0;
    margin-left: 0;
  }
  .a-wrapper .a-content .a-inner .inner-1 {
    padding: 0 10px;
    text-align: center;
  }
  .a-wrapper .a-content .a-inner .inner-1 > p {
    width: 100%;
  }
  .a-wrapper .a-content .a-inner .a-rule-content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 830px) {
  .flip-clock-wrapper {
    width: 100%;
    margin-top: 0.1rem;
  }
  .flip-clock-wrapper ul {
    height: 0.4rem;
    width: 9%;
    margin: 1%;
  }
  .flip-clock-wrapper ul li {
    line-height: 0.4rem;
  }
  .flip-clock-wrapper ul li a div div.inn {
    font-size: 0.36rem;
  }
  .flip-clock-divider {
    width: 4%;
    height: 0.4rem;
  }
  .flip-clock-divider .flip-clock-label {
    top: 0.56rem;
    right: -0.64rem;
  }
  .flip-clock-divider.minutes .flip-clock-label {
    right: -0.72rem;
  }
  .flip-clock-divider.seconds .flip-clock-label {
    right: -0.72rem;
  }
}
@media screen and (max-width: 767px) {
  .a-wrapper .a-content .a-inner .inner-1 {
    margin-top: 0;
  }
  .a-wrapper .a-content .a-inner .inner-1 .a-title-p1 {
    font-size: 0.16rem;
    margin-top: .2rem;
  }
  .a-wrapper .a-content .a-inner .inner-1 .a-title-p2 {
    margin-top: .2rem;
    font-size: .14rem;
  }
  .a-wrapper .a-content .a-inner .inner-4 {
    margin-bottom: 30px;
  }
  .a-wrapper .a-content .a-inner > div {
    margin-top: .2rem;
  }
  .a-wrapper .a-content .a-inner .a-rule-title > span {
    font-size: 26px;
  }
  .a-wrapper .a-content .a-inner .a-rule-title div {
    margin: 0 10px;
  }
  .a-wrapper .a-content .a-inner .a-rule-title div .p1 {
    font-size: 16px;
  }
  .a-wrapper .a-content .a-inner .a-rule-content {
    margin-top: .1rem;
  }
  .a-wrapper .a-content .a-inner .a-rule-content p {
    font-size: .12rem;
    line-height: .26rem;
  }
  .flip-clock-divider .flip-clock-label {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .flip-clock-divider .flip-clock-label {
    top: 0.48rem;
    right: -0.46rem;
  }
  .flip-clock-divider.minutes .flip-clock-label {
    right: -0.5rem;
  }
  .flip-clock-divider.seconds .flip-clock-label {
    right: -0.52rem;
  }
  .succModal .modal-content .modal-body p {
    top: 48%;
    font-size: 0.14rem;
    line-height: .26rem;
  }
  .succModal .modal-content .modal-body p .s1 {
    font-size: 0.2rem;
  }
  .succModal .modal-content .modal-body .p2 {
    top: 64%;
  }
  .failModal .modal-content .modal-body p {
    font-size: 0.14rem;
    line-height: 0.26rem;
  }
  .activityTipsModal .modal-content .modal-body,
  .nextOpportunityModal .modal-content .modal-body {
    width: 100%;
    height: 2.6rem;
    border-radius: 2px;
    background: #fff;
  }
  .activityTipsModal .modal-content .modal-body h2,
  .nextOpportunityModal .modal-content .modal-body h2 {
    font-size: .24rem;
    padding-top: 26px;
  }
  .activityTipsModal .modal-content .modal-body p,
  .nextOpportunityModal .modal-content .modal-body p {
    top: .7rem;
    font-size: 0.14rem;
    line-height: 0.26rem;
  }
  .activityTipsModal .modal-content .modal-body button,
  .nextOpportunityModal .modal-content .modal-body button {
    top: 80%;
  }
  .nextOpportunityModal .modal-content .modal-body {
    height: 2rem;
  }
}
