@charset "utf-8";

@font-face {
	font-family: NotoSansBold;
	src: url(../../common/CN/fonts/NotoSans/SourceHanSansCN-Bold.otf);
	font-weight:bold;
}

/* 定义变量 */
@url:"../../images/EN/";
@url2:"../../images/resource/";
@purple:#1f2c5c;
@green:#8ec06c;
@link:#42958a;
@FBold:NotoSansBold;

@webkit-linear:-webkit-linear-gradient(left, #42958a 0%, #1f2c5c 100%);
@o-linear:-o-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
@moz-linear:-moz-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
@linear:linear-gradient(to right, #42958a 0%, #1f2c5c 100%);

.purpleRgb(@opacity){
	color: rgba(31,44,92,@opacity);
}

.purpleBgRgb(@opacity){
	background: rgba(31,44,92,@opacity);
}

.filter(@opacity){
	filter: alpha(opacity=@opacity);
}

body:before {
	content: ' ';
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('@{url2}checkIn-bg.jpg') center no-repeat;
	background-size: cover;
}

.lm-section{
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}
.lm-title{
	width: 100%;
	text-align: center;
	h1{
		font-size: 36px;
		color: #fff;
		font-family: @FBold;
	}
}
.lm-input{
	display: inline-block;
	width: 100%;
	margin-top: 50px;
	>div{
		position: relative;
		float: left;
		width:580px;
		height:60px;
		margin-bottom: 40px;
		background:#fff;
		box-shadow:0 0 50px 0 rgba(31,44,92,0.10);
		border-radius:2px;
		>input{
			width: 100%;
			height: 100%;
			font-size: 20px;
			color: @purple;
			padding-left: 70px;
			padding-right: 20px;
		}
		.active-input{border:1px solid red;}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			.purpleRgb(0.3);font-size: 20px; 
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
			.purpleRgb(0.3);font-size: 20px;
		}

		input:-ms-input-placeholder{
			.purpleRgb(0.3);font-size: 20px;
		}

		input::-webkit-input-placeholder{
			.purpleRgb(0.3);font-size: 20px;
		}
	}
	.from-city-wrap,.name-wrap{margin-right: 40px;}
	.dropdownMenu-wrap{
		display: none;
		position: absolute;
		top: 90px;
		z-index: 9;
		width: 660px;
		height: 318px;
		box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
		&:before{
			position: absolute;
			top: -13px;
			left: 50%;
		    margin-left: -14px;
			z-index: 9;
			filter: alpha(opacity=0);
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			border-bottom: 14px solid #fff;
			transition: opacity 0.2s ease-out;
			-webkit-transition: opacity 0.2s ease-out;
		}
		.menu-com{
			position: absolute;
			top: 0;
			left: 0;
			width:100%;
			height: 100%;
			padding: 20px;
			padding-bottom: 10px;
			font-size: 16px;
			color: rgba(31, 44, 92, 0.5);
			background: #fff;
			z-index: 999;
			border-radius: 2px;
			border-top: none;
			overflow-y: auto;
			>li{
				float: left;
				width: 25%;
				padding-left: 30px;
				padding-right: 10px;
				margin-bottom: 10px;
				background: url('@{url}city-icon.png') left center no-repeat;
				cursor: pointer;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				transition: all .3s;
				-webkit-transition: all .3s;
				&:hover{
					color: #8ec060;
					background: url('@{url}city-icon-active.png') left center no-repeat;
				}
				span{
					color: #1f2c5c;
				}
				a{
					display: inline-block;
					width: 100%;
					height: 40px;
					font-size: 14px;
					padding: 0px 20px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:hover{
						background: #8ec060;
						color: #fff;
					}
				}
			}
			.no-result-match{width: 100%;}
		}
	}
	.passport-wrap{
		input{
			padding-left: 160px;
			background: url('@{url}ticket-num.png') 20px center no-repeat;
		}
		.select-option{
			position: absolute;
		    height: 100%;
		    padding-left: 70px;
		    padding-top: 14px;
			>span{
				display: block;
				height: 32px;
				line-height: 32px;
				padding-right: 40px;
				border-right: 2px solid rgba(31,44,92,0.3);
				text-decoration:underline;
				cursor: pointer;
				&::after{
					content: '';
					position: absolute;
					top: 50%;
				    margin-top: -3px;
					right: 20px;
					width: 0;
					height: 0;
					border-width: 6px;
					border-style: solid;
					border-color: #1f2c5c transparent transparent transparent;
				}
			}
		}
	}
	.name-wrap{
		position: relative;
		input{
			width: 100%;
			float: left;
		}
		.input-line{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -1px;
		    margin-top: -16px;
			display: block;
			width:2px;
			height:32px;
			.purpleBgRgb(0.3);
			border-radius:1px;
		}
		.firstName-input{padding-left: 20px;}
	}
	.from-city-wrap input{background: url('@{url}city-from.png') 20px center no-repeat;}
	.name-wrap .lastName-input{background: url('@{url}baggageName.png') 20px center no-repeat;}
	.phone-wrap input{background: url('@{url}ticket-phone.png') 20px center no-repeat;}
}
.lm-button{
	width: 240px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 2px;
	background: #42958a;
	background: @webkit-linear;
	background: @o-linear;
	background: @moz-linear;
	background: @linear;
	img,i{
		margin-left: 20px;
		display: initial;
		vertical-align: sub;
	}
}
.lm-search{
	color: #fff;
	overflow: hidden;
	.notes-inner{
		float: left;
		width: 70%;
		h3{
			font-size: 16px;
			margin-bottom: 16px;
			font-family: @FBold;
		}
		p{
			font-size: 14px;
			line-height: 26px;
		}
	}
	.search-inner{
		float: right;
		>a{
			width: 100%;
			display: block;
			text-align: right;
			color: #fff;
			opacity: 0.5;
			.filter(50);
			font-size: 16px;
			margin-top: 20px;
			text-decoration: underline;
		}
	}
}
.lm-info{
	margin-top: 40px;
	margin-bottom: 60px;
	overflow: hidden;
	.lm-info-inner{
		position: relative;
		padding: 20px;
		margin-bottom: 20px;
		background: #fff;
		border-radius: 2px;
	}
	.lm-button{
		float: right;
	}
	.mobile-right-arrow{display: none;}
	.flight-airport{
		text-align: center;
		border-bottom: 1px solid rgba(31,44,92,0.1);
		overflow: hidden;
		.airport-com{
			width: 430px;
			height: 60px;
			line-height: 60px;
			font-size: 18px;
			color: @purple;
			font-family: @FBold;
			text-align: center;
		}
		.from-airport{
			float: left;
		}
		.flight-num{
			display: inline-block;
			width: 300px;
			font-size: 16px;
			.purpleRgb(.5);
		}
		.to-airport{
			float: right;
		}
	}
	.flight-info{
		font-size: 14px;
		.purpleRgb(0.5);
		padding-top: 20px;
		overflow: hidden;
		text-align: center;
		>li{
			width: 25%;
			float: left;
			border-right: 1px solid rgba(31,44,92,0.5);
			&:last-child{
				border-right: none;
			}
		}
		.can-handle span{
			color: @green;
		}
		.not-avail span{
			color: #FF8989;
		}
		.already-handle{
			color: @purple;
		}
	}
	.select-radio{
		position: absolute;
		right: 20px;
		top: 10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		.purpleBgRgb(0.2);
		cursor: pointer;
	}
	.select-ok{
		background: url('@{url2}icon-select.png') center no-repeat;
	}
}

/* 修改日期样式 */
.daterangepicker.ltr .calendar.left{
	margin-top: 6px;
}

/* 屏幕适配 */
@media screen and (max-width: 1440px) {
	.lm-section{
		width: 990px;
	}
	.lm-content {
		> div{
			width: 460px;
		}
		.dropdownMenu-wrap{
			width: 460px;
		}
		.dataMenu-wrap{
			width: 312px;
		}
		.flight-num-wrap,.name-wrap{
			margin-right: 30px;
		}
	}
}
@media screen and (max-width: 992px) {
	.lm-section{
		width: 100%;
	}
	.lm-content {
		> div{width: 100%;}
		.flight-num-wrap,.name-wrap{margin-right: 0;}
	}
}
@media screen and (max-width: 767px) {
	.lm-section{
		padding: .3rem .15rem .1rem;
		margin-top: 0;
	}
	.lm-title h1{
		font-size: .2rem;
	}
	.lm-content {
		margin-top: 0.2rem;
		padding: 0;
		>div{
			height: 50px;
			margin-bottom: 0.2rem;
			>input{
				font-size: 16px;
				background-size: 24px !important;
				background-position: 13px center !important;
				padding-left: 50px;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				font-size: 14px; 
			}

			::-moz-placeholder { /* Mozilla Firefox 19+ */
				font-size: 14px;
			}

			input:-ms-input-placeholder{
				font-size: 14px;
			}

			input::-webkit-input-placeholder{
				font-size: 14px;
			}
		}
		.national-baggage{
			>span{display: block;}
		}
		.dropdownMenu-wrap{
			width: 100%;
			top: 100px;
			.menu-com {
				font-size: 14px;
				> li{
					width: 50%;
					line-height: 24px;
				}
			}
		}
		.dataMenu-wrap{width: 300px;}
		.flight-num-wrap input{background: url('@{url}svg/flightNum.svg') 20px center no-repeat;}
		.date-wrap input{background: url('@{url}svg/date.svg') 20px center no-repeat;}
		.name-wrap {
			.lastName-input{background: url('@{url}svg/baggageName.svg') 20px center no-repeat;}
			.input-line{
				height: 22px;
				margin-top: -11px;
			}
			.lastName-input{padding-right: 10px;}
			.firstName-input{padding-left: 10px;}
		}
		.passport-wrap input{background: url('@{url}svg/passport.svg') 20px center no-repeat;}
		.dropdownMenu-wrap .menu-com > li{background: url('@{url}svg/city-icon.svg') left center no-repeat;}
		.dropdownMenu-wrap .menu-com > li:hover{background: url('@{url}svg/city-icon-active.svg') left center no-repeat;}
	}
	.daterangepicker{width: 300px;}
}