@charset "utf-8";

@font-face {
	font-family: NotoSansBold;
	src: url(../../common/CN/fonts/NotoSans/SourceHanSansCN-Bold.otf);
	font-weight:bold;
}

/* 定义变量 */
@url:"../../images/EN/";
@url2:"../../images/resource/checkIn/";
@purple:#1f2c5c;
@green:#8ec06c;
@link:#42958a;
@red:#FF8989;
@FBold:NotoSansBold;

@webkit-linear:-webkit-linear-gradient(left, #42958a 0%, #1f2c5c 100%);
@o-linear:-o-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
@moz-linear:-moz-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
@linear:linear-gradient(to right, #42958a 0%, #1f2c5c 100%);

.purpleRgb(@opacity){
	color: rgba(31,44,92,@opacity);
}

.purpleBgRgb(@opacity){
	background: rgba(31,44,92,@opacity);
}

.filter(@opacity){
	filter: alpha(opacity=@opacity);
}

body:before {
	content: ' ';
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('@{url2}checkIn-bg.jpg') center no-repeat;
	background-size: cover;
}

.lm-section-info{
	// display: none;
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}
.lm-title{
	width: 100%;
	text-align: center;
	h1{
		font-size: 36px;
		color: #fff;
		font-family: @FBold;
	}
}
.lm-input{
	display: inline-block;
	width: 100%;
	margin-top: 50px;
	>div{
		position: relative;
		float: left;
		width:580px;
		height:60px;
		margin-bottom: 40px;
		background:#fff;
		box-shadow:0 0 50px 0 rgba(31,44,92,0.10);
		border-radius:2px;
		>input{
			width: 100%;
			height: 100%;
			font-size: 20px;
			color: @purple;
			padding-left: 70px;
			padding-right: 20px;
		}
		.active-input{border:1px solid red;}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			.purpleRgb(0.3);font-size: 20px; 
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
			.purpleRgb(0.3);font-size: 20px;
		}

		input:-ms-input-placeholder{
			.purpleRgb(0.3);font-size: 20px;
		}

		input::-webkit-input-placeholder{
			.purpleRgb(0.3);font-size: 20px;
		}
		.warnTip{
			border: 2px solid @red;
		}
	}
	.from-city-wrap,.name-wrap{margin-right: 40px;}
	.dropdownMenu-wrap{
		display: none;
		position: absolute;
		top: 90px;
		z-index: 9;
		width: 580px;
		height: 256px;
		box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.1);
		&:before{
			position: absolute;
			top: -13px;
			left: 50%;
		    margin-left: -14px;
			z-index: 9;
			filter: alpha(opacity=0);
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			border-bottom: 14px solid #fff;
			transition: opacity 0.2s ease-out;
			-webkit-transition: opacity 0.2s ease-out;
		}
		.menu-com{
			position: absolute;
			top: 0;
			left: 0;
			width:100%;
			height: 100%;
			padding: 20px;
			padding-bottom: 10px;
			font-size: 16px;
			color: rgba(31, 44, 92, 0.5);
			background: #fff;
			z-index: 999;
			border-radius: 2px;
			border-top: none;
			overflow-y: auto;
			>li{
				float: left;
				width: 50%;
				padding-left: 30px;
				padding-right: 10px;
				margin-bottom: 10px;
				background: url('@{url}city-icon.png') left center no-repeat;
				cursor: pointer;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				transition: all .3s;
				-webkit-transition: all .3s;
				&:hover{
					color: #8ec060;
					background: url('@{url}city-icon-active.png') left center no-repeat;
				}
				span{
					color: #1f2c5c;
				}
				a{
					display: inline-block;
					width: 100%;
					height: 40px;
					font-size: 14px;
					padding: 0px 20px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:hover{
						background: #8ec060;
						color: #fff;
					}
				}
			}
			.no-result-match{width: 100%;}
		}
	}
	.ticketMenu-wrap,.codeMenu-wrap{
		width: 100%;
		height: 92px;
		left: 0;
		.menu-com {
			overflow: hidden;
			> li{
				float: none;
				width: 100%;
				padding-left: 10px;
				background: none;
				&:hover{background: none;}
			}
		}
	}
	.passport-wrap,
	.phone-wrap{
		>input{
			padding-left: 160px;
			background: url('@{url}ticket-num.png') 20px center no-repeat;
		}
		.select-option{
			position: absolute;
		    height: 100%;
		    padding-left: 70px;
		    padding-top: 14px;
			>span{
				display: block;
				height: 32px;
				line-height: 32px;
				padding-right: 40px;
				border-right: 2px solid rgba(31,44,92,0.3);
				cursor: pointer;
				&::after{
					content: '';
					position: absolute;
					top: 50%;
				    margin-top: -3px;
					right: 20px;
					width: 0;
					height: 0;
					border-width: 6px;
					border-style: solid;
					border-color: #1f2c5c transparent transparent transparent;
				}
			}
		}
		.passport-num{
			background: url('@{url}passport.png') 20px center no-repeat;
		}
	}
	.phone-wrap{
		>input{
			padding-left:220px;
			background: url('@{url}icon-areaCode.png') 20px center no-repeat;
		}
		.select-option>span{
			width: 140px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.dropdownMenu-wrap{
			height: auto;
			background: #fff;
			.code-input-wrap{
				padding:10px 20px 0;
			}
			.menu-com{
				max-height: 146px;
				overflow-y: auto;
			}
			input{
				width: 100%;
				height: 30px;
				font-size:14px;
				border: 1px solid rgba(31,44,92,.3);
				padding-left:10px;
				padding-right:10px;
				border-radius: 2px;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				font-size: 14px; 
			}

			::-moz-placeholder { /* Mozilla Firefox 19+ */
				font-size: 14px;
			}

			input:-ms-input-placeholder{
				;font-size: 14px;
			}

			input::-webkit-input-placeholder{
				font-size: 14px;
			}
			.menu-com{
				position: static;
			}
		}
	}
	.name-wrap{
		position: relative;
		input{
			width: 100%;
			float: left;
		}
		.input-line{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -1px;
		    margin-top: -16px;
			display: block;
			width:2px;
			height:32px;
			.purpleBgRgb(0.3);
			border-radius:1px;
		}
		.firstName-input{padding-left: 20px;}
	}
	.from-city-wrap input{background: url('@{url}city-from.png') 20px center no-repeat;}
	.name-wrap .lastName-input{background: url('@{url}baggageName.png') 20px center no-repeat;}
}
.lm-button{
	width: 240px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 2px;
	background: #42958a;
	background: @webkit-linear;
	background: @o-linear;
	background: @moz-linear;
	background: @linear;
	>span{
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		vertical-align: sub;
		background: url('../../images/resource/circle-arrow-right.png') center no-repeat;
	}
	>p{display: inline-block;}
	img,i{
		margin-left: 20px;
		display: initial;
		vertical-align: sub;
	}
}
.lm-search{
	color: #fff;
	overflow: hidden;
	.notes-inner{
		float: left;
		width: 70%;
		h3{
			font-size: 16px;
			margin-bottom: 16px;
			font-family: @FBold;
		}
		p{
			font-size: 14px;
			line-height: 26px;
		}
	}
	.search-inner{
		float: right;
		>a{
			width: 100%;
			display: block;
			display: none;
			text-align: right;
			color: #fff;
			opacity: 0.5;
			.filter(50);
			font-size: 16px;
			margin-top: 20px;
			text-decoration: underline;
		}
	}
}
.lm-info{
	margin-top: 40px;
	margin-bottom: 60px;
	overflow: hidden;
	.lm-info-inner{
		position: relative;
		padding: 20px;
		margin-bottom: 20px;
		background: #fff;
		border-radius: 2px;
		cursor: pointer;
	}
	.lm-button{
		float: right;
	}
	.mobile-right-arrow{display: none;}
	.flight-airport{
		text-align: center;
		border-bottom: 1px solid rgba(31,44,92,0.1);
		overflow: hidden;
		.airport-com{
			width: 430px;
			height: 60px;
			line-height: 60px;
			font-size: 18px;
			color: @purple;
			font-family: @FBold;
			text-align: center;
			overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
		.from-airport{
			float: left;
		}
		.flight-num{
			display: inline-block;
			width: 300px;
			font-size: 16px;
			.purpleRgb(.5);
		}
		.to-airport{
			float: right;
		}
	}
	.flight-info{
		font-size: 14px;
		.purpleRgb(0.5);
		padding-top: 20px;
		overflow: hidden;
		text-align: center;
		>li{
			width: 25%;
			float: left;
			border-right: 1px solid rgba(31,44,92,0.5);
			overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
			&:last-child{
				border-right: none;
			}
		}
		.can-handle span{
			color: @green;
		}
		.not-avail span{
			color: @red;
		}
		.already-handle{
			color: @purple;
		}
	}
	.select-radio{
		position: absolute;
		right: 20px;
		top: 10px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		.purpleBgRgb(0.2);
		cursor: pointer;
	}
	.select-ok{
		background: url('@{url2}icon-select.png') center no-repeat;
	}
}

.lm-section-checkIn{
	display: none;
	height: 4180px;
	background: url('@{url2}lm-A319.png') center top no-repeat;
	.lm-seat-wrap{
		display: none;
		width: 460px;
		margin: 0 auto;
		padding-top: 566px;
	}
	.aircraft-rest-wrap{
		padding-left: 60px;
		padding-right: 60px;
		overflow: hidden;
		>p{
			float: left;
			width: 130px;
			height: 100px;
		}
		.aircraft-WC{
			background: url('@{url2}aircraft-WC.png') center no-repeat;
			margin-right: 80px;
		}
		.aircraft-meals{
			background: url('@{url2}aircraft-meals.png') center no-repeat;
		}
	}
	.aricraft-rest-footer{
		margin-top: 20px;
	}
	.seat-cell-wrap{
		margin-top: 100px;
	}
	.seat-wrap-com{
		position: relative;
		>ul{
			height: 48px;
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 54px;
			>li{
				position: relative;
				float: left;
				width: 56px;
				height: 48px;
				line-height: 48px;
				margin-right: 8px;
				text-align: center;
				background: url('@{url2}seat-cell.png') center no-repeat;
				cursor: pointer;
				span{
					position: absolute;
					top: -42px;
					display: block;
					width: 56px;
					text-align: center;
					.purpleRgb(0.2);
					font-family: @FBold;
				}
			}
			.cell-4,.cell-5,.cell-6{
				.seat-info-wrap{
					right: 0;
					left: auto;
				}
			}
			.seat-checked{
				background: url('@{url2}seat-checked.png') center no-repeat;
			}
			.seat-sold{
				background: url('@{url2}seat-free-sold.png') center no-repeat;
				cursor: default;
			}
			.cell-6{margin-right: 0;}
			.row-num{
				width: 36px;
				font-size: 16px;
				font-family: @FBold;
				.purpleRgb(0.2);
				cursor: default;
			}
		}
		.seat-num{
			position: absolute;
			top: -30px;
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
			p{
				float: left;
				width: 56px;
				height: 20px;
				margin-right: 8px;
				text-align: center;
				font-family: @FBold;
				.purpleRgb(0.2);
			}
			.p6{margin-right: 0;}
			.row-num{
				width: 36px;
			}
			.left-exit{
				left: 0;
			}
			.right-exit{
				right: 0;
			}
		}
	}
	.seat-wrap-1{
		.row-1{
			>li{
				background: url('@{url2}seat-class1.png') center no-repeat;
			}
			.seat-checked{
				background: url('@{url2}seat-checked.png') center no-repeat;
			}
			.seat-sold{
				background: url('@{url2}seat-class1-sold.png') center no-repeat;
			}
		}
		.row-2{
			>li{
				background: url('@{url2}seat-class2.png') center no-repeat;
			}
			.seat-checked{
				background: url('@{url2}seat-checked.png') center no-repeat;
			}
			.seat-sold{
				background: url('@{url2}seat-class2-sold.png') center no-repeat;
			}
		}
		.row-3{
			>li{
				background: url('@{url2}seat-class3.png') center no-repeat;
			}
			.seat-checked{
				background: url('@{url2}seat-checked.png') center no-repeat;
			}
			.seat-sold{
				background: url('@{url2}seat-class3-sold.png') center no-repeat;
			}
		}
	}
	.seat-wrap-2{
		margin-top: 62px;
		>ul{
			margin-top: 42px;
		}
		.seat-exit{
			position: absolute;
			top: -30px;
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
			.purpleRgb(0.7);
			font-family: @FBold;
			.left-exit{
				float: left;
			}
			.right-exit{
				float: right;
			}
		}
		.seat-num{
			top: 60px;
		}
	}
	.seat-wrap-3{
		>ul{
			margin-top: 40px;
		}
		.row-25{
			padding-left: 40px;
			padding-right: 40px;
			>li{
				width: 48px;
				height: 48px;
				background: url('@{url2}seat-backRow.png') center no-repeat;
			}
			.seat-checked{
				background: url('@{url2}seat-backRow-checked.png') center no-repeat;
			}
			.seat-sold{
				background: url('@{url2}seat-backRow-sold.png') center no-repeat;
			}
			.row-num{
				width: 36px;
			}
		}
	}
	.seat-wrap-com{
		>ul{
			.row-num{
				background: none;
			}
		}
	}
	.flight-aside{
		position: fixed;
		top: 100px;
		left: 0;
		z-index: 9;
		width: 342px;
		padding: 20px;
		background: #fff;
		box-shadow:0px 0px 100px 0px rgba(31,44,92,1);
		border-radius:0px 2px 2px 0px;
		transition: left .3s;
		-webkit-transition: left .3s;
		>img{height: 18px;}
		.from-airport,.to-airport{
			font-size: 12px;
			.purpleRgb(0.5);
			p{
				font-size: 18px;
				font-family: @FBold;
				color: @purple;
				max-width: 400px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
		}
		.from-airport{
			margin-top: 20px;
		}
		.to-airport{
			margin-top: 10px;
		}
		.flight-date-wrap{
			overflow: hidden;
			margin-top: 20px;
		}
		.flight-date,.flight-num{
			float: left;
			width:150px;
			font-size: 14px;
			.purpleRgb(0.5);
			text-align: center;
			p{
				font-size: 26px;
				font-family: @FBold;
				color: @purple;
			}
		}
		.flight-line{
			float: left;
			width:2px;
			height:50px;
			.purpleBgRgb(0.1);
		}
	}
	.seat-arrow{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 40px;
	    height: 40px;
	    line-height: 40px;
        text-align: center;
		cursor: pointer;
	}
	.seat-left-arrow{
		background: url('@{url2}seat-leftArrow.png') center no-repeat; 
	}
	.seat-right-arrow{
		background: url('@{url2}seat-rightArrow.png') center no-repeat; 
	}
	.seat-aside{
		position: fixed;
		top: 100px;
		right: 0;
		z-index: 9;
		width: 270px;
		top: 100px;
		padding: 20px;
		background: #fff;
		box-shadow:0px 0px 100px 0px rgba(31,44,92,1);
		border-radius:2px 0px 0px 2px;
		transition: right .3s;
		-webkit-transition: right .3s;
		.seat-arrow{
			left: 10px;
		}
		>div{
			height: 34px;
			line-height: 34px;
			margin-top: 10px;
			padding-right: 30px;
			font-size: 14px;
			color: @purple;
			text-align: right;
			>span{margin-right: 20px;}
		}
		.sold-icon{
			background: url('@{url2}seat-free-small.png') right no-repeat;
			background-size: 30px;
		}
		.checked-icon{
			background: url('@{url2}seat-checked-small.png') right no-repeat;
			background-size: 30px;
		}
		.option-icon{
			background: url('@{url2}seat-cell-small.png') right no-repeat;
			background-size: 30px;
		}
		.exit-icon{
			background: url('@{url2}seat-exit.png') 97% no-repeat;
			background-size: 6px;
		}
		>ul{
			margin-top: 20px;
			overflow: hidden;
			>li{
				float: left;
				margin-right: 27px;
				font-size: 14px;
				line-height: 26px;
				text-align: center;
				>img{width: 30px;}
			}
			.seat-class1{
				color: @red;
			}
			.seat-class2{
				color: @green;
			}
			.seat-class3{
				color: @purple;
			}
			.seat-free{
				margin-right: 0;
				.purpleRgb(.5);
			}
		}
	}
	.checkIn-aside{
		position: fixed;
		top: 420px;
		right: 0;
		z-index: 9;
		width: 270px;
		padding: 20px;
		background: #fff;
		box-shadow:0px 0px 100px 0px rgba(31,44,92,1);
		border-radius:2px 0px 0px 2px;
		transition: right .3s;
		-webkit-transition: right .3s;
		.seat-arrow{
			left: 10px;
		}
		.pas-name{
			font-size: 12px;
			.purpleRgb(0.5);
			text-align: right;
			p{
				font-size: 18px;
				font-family: @FBold;
				color: @purple;
			}
		}
		.seat-cabin{
			margin-top: 10px;
			font-size: 18px;
			font-family: @FBold;
			color: @red;
			text-align: right;
			p{
				font-size: 20px;
				color: @purple;
			}
		}
		.member-no{
			width:100%;
			margin-top: 10px;
			text-align: right;
			.member-no-input{
				width: 230px;
				height:36px;
				padding-left: 10px;
				padding-right: 10px;
				text-align: right;
				font-size: 16px;
				border-radius:2px;
				border:1px solid rgba(31,44,92,.2);
			}
		}
		.agree-rule{
			margin-top: 16px;
			text-align: right;
			label{
				font-size: 14px;
				.purpleRgb(0.5);
			}
			a{
				display: block;
				color: @link;
				font-size: 14px;
				text-decoration: underline;
			}
		}
		.check-in{
			margin-top: 16px;
			overflow: hidden;
			>a{
				display: block;
				float: right;
				width:110px;
				height:30px;
				line-height: 30px;
				text-align: center;
				color: #fff;
				font-size: 16px;
				border-radius:2px;
			}
			.prev-btn{
				background:@purple;
			}
			.checkIn-btn{
				margin-left: 10px;
				background: #00908C;
				background:linear-gradient(315deg,rgba(0,144,140,1) 0%,rgba(180,236,128,1) 100%);
			}
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			.purpleRgb(0.3);font-size: 16px; 
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
			.purpleRgb(0.3);font-size: 16px;
		}

		input:-ms-input-placeholder{
			.purpleRgb(0.3);font-size: 16px;
		}

		input::-webkit-input-placeholder{
			.purpleRgb(0.3);font-size: 16px;
		}
	}
	.MiniMap-aside{
		position: fixed;
		bottom: 40px;
		left: 40px;
		z-index: 9;
		width:160px;
		height:160px;
		border-radius:2px;
		background: url('@{url2}aircraft-small.png') center no-repeat rgba(31,44,92,0.8);
		background-size: 120px;
		.small-flight{
			position: relative;
			width: 120px;
			height: 120px;
			margin: 0 auto;
			margin-top: 20px;
			.slide{
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -60px;
				width: 120px;
				height: 30px;
				background: rgba(142,192,96,0.2);
				cursor: pointer;
			}
		}
	}
}
.lm-section-complete{
	display: none;
	width: 1200px;
	margin: 180px auto 180px;
	.success-tips{
		width: 100%;
		padding: 40px;
		background: #fff;
		border-radius: 2px;
		.success-box{
			height: 102px;
			text-align: center;
			>div{
				position: relative;
				top: 20px;
				height: 102px;
				display: inline-block;
				margin-left: 30px;
				h2{
					font-size: 36px;
					font-family: @FBold;
					color: @purple;
				}
				p{
					position: relative;
				    top: 10px;
					font-size: 16px;
					.purpleRgb(0.5);
				}
			}
		}
	}
	.success-inner{
		position: relative;
		padding: 40px;
		margin-top: 20px;
		background: #fff;
		border-radius: 2px;
		.mobile-right-arrow{display: none;}
		.flight-airport{
			padding-bottom: 30px;
			text-align: center;
			border-bottom: 1px solid rgba(31,44,92,0.1);
			overflow: hidden;
			.airport-com{
				width: 410px;
				height: 60px;
				font-size: 30px;
				color: @purple;
				font-family: @FBold;
				text-align: center;
				overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
				p{
					font-size: 14px;
					.purpleRgb(0.5);
				}
			}
			.from-airport{
				float: left;
			}
			.flight-num{
				display: inline-block;
				width: 300px;
				font-size: 16px;
				.purpleRgb(.5);
			}
			.to-airport{
				float: right;
			}
		}
		.flight-info{
			font-size: 30px;
			color: @purple;
			font-family: @FBold;
			padding-top: 30px;
			overflow: hidden;
			text-align: center;
			>li{
				width: 50%;
				float: left;
				border-right: 1px solid rgba(31,44,92,0.5);
				p{
					font-size: 14px;
					.purpleRgb(0.5);
				}
				&:last-child{
					border-right: none;
				}
			}
		}
	}
	.success-operation{
		margin-top: 40px;
		text-align: center;
		>a{
			display: inline-block;
			width: 250px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			color: #fff;
			font-size: 18px;
			border-radius: 2px;
		}
		.export-PDF{
			display: none;
			background:linear-gradient(315deg,#00908C 0%,#B4EC80 100%);
		}
		.continue-checkIn{
			margin-left: 50px;
			background:linear-gradient(135deg,#00908C 0%,#1f2c5c 100%);
		}
	}
}

.BackToTop{display: none !important;}
.lm-sub-header{
	position: fixed;
}
.lm-section{
	padding-top: 60px;
}
.header-mask{
	display: none;
	position: fixed;
	top: 60px;
	width:100%;
	height:80px;
	background:linear-gradient(180deg,rgba(31,44,92,1) 0%,rgba(31,44,92,0) 100%);
	opacity:0.4;
	.filter(40);
}
.footer-mask{
	display: none;
	position: fixed;
	bottom: 0;
	width:100%;
	height:80px;
	background:linear-gradient(360deg,rgba(31,44,92,1) 0%,rgba(31,44,92,0) 100%);
	opacity:0.4;
	.filter(40);
}

/* 修改日期样式 */
.daterangepicker.ltr .calendar.left{
	margin-top: 6px;
}

/* 屏幕适配 */
@media screen and (max-width: 1900px) {
	.lm-section-checkIn {
		.flight-aside{
			top: 90px;
			padding: 10px;
		}
		.seat-aside{
			top: 90px;
			padding: 10px;
		}
		.checkIn-aside{
			top: 380px;
			padding: 10px;
		}
		.MiniMap-aside{
			bottom: 40px;
			left: 40px;
		}
	}
	.lm-section-complete{
		margin-top: 100px;
		margin-bottom: 100px;
	}
}
@media screen and (max-width: 1300px) {
	.lm-section-checkIn {
		.flight-aside{
			top: 60px;
		}
		.seat-aside{
			top: 60px;
		}
		.checkIn-aside{
			top: 340px;
		}
		.MiniMap-aside{
			bottom: 20px;
			left: 20px;
		}
	}
}
@media screen and (min-width: 1200px) {
	.lm-section-checkIn{
		background-size: 3000px;
		background-position-y: 600px;
		transition: all 1s;
		-webkit-transition: all 1s;
	}
	.checkIn-pos-top{
		background-position-y: 0;
	}
	.checkIn-size-scale{
		background-size: 4211px;
	}
}
@media screen and (max-width: 1200px) {
	.lm-section-info{
		// display: none;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.lm-input {
		>div{width: 100%;}
		.from-city-wrap, .name-wrap {
			width: 100%;
		}
		.dropdownMenu-wrap{width: 100%;}
	}
	.lm-search {
		.notes-inner{
			width: 100%;
		}
		.search-inner{
			width: 100%;
			margin-top: 40px;
			text-align: right;
		}
	}
	.lm-info {
		.flight-airport {
			.airport-com{width: 36%;}
			.flight-num {
				width: 28%;
				img{width: 100%;}
			}
		}
	}
	.lm-section-checkIn{
		// display: block;
		width: 100%;
		.MiniMap-aside{display: none;}
		.flight-aside,.seat-aside,.checkIn-aside{
			transition: all .3s;
			-webkit-transition: all .3s;
		}
		.flight-aside-scale{
			-webkit-transform: scale(.5);
		    transform: scale(.5);
		    -webkit-transform-origin: left;
		    transform-origin: left;
		    transition: all .3s;
		    -webkit-transition: all .3s;
		}
		.seat-aside-scale{
			-webkit-transform: scale(.6);
		    transform: scale(.6);
		    -webkit-transform-origin: right;
		    transform-origin: right;
		   transition: all .3s;
		   -webkit-transition: all .3s;
		}
		.checkIn-aside-scale{
			-webkit-transform: scale(.6);
		    transform: scale(.6);
		    -webkit-transform-origin: right;
		    transform-origin: right;
		    transition: all .3s;
		    -webkit-transition: all .3s;
		}
	}
	.lm-section-complete{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		.success-tips{
			padding: 20px;
		}
		.success-inner {
			padding: 20px;
			.flight-airport {
				padding-bottom: 0;
				.airport-com{
					width: 36%;
					font-size: 20px;
				}
				.flight-num {
					width: 28%;
					img{width: 100%;}
				}
			}
			.flight-info{
				padding-top: 10px;
				font-size: 20px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.lm-section-info{
		margin-top: 30px;
		padding-left: 10px;
	    padding-right: 10px;
	}
	.lm-title h1{
		font-size: .2rem;
	}
	.lm-input{
		margin-top: 20px;
		>div{
			height: 40px;
		    margin-bottom: 10px;
		    >input{
		    	font-size: 14px;
		    	padding-left: 50px;
		    }
		    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    	font-size: 14px; 
		    }

		    ::-moz-placeholder { /* Mozilla Firefox 19+ */
		    	font-size: 14px;
		    }

		    input:-ms-input-placeholder{
		    	font-size: 14px;
		    }

		    input::-webkit-input-placeholder{
		    	font-size: 14px;
		    }
		}
		.from-city-wrap input{background: url('@{url}svg/city-from.svg') 20px center no-repeat;}
		.name-wrap .lastName-input{background: url('@{url}svg/baggageName.svg') 20px center no-repeat;}
		.phone-wrap input{background: url('@{url}svg/icon-areaCode.svg') 20px center no-repeat;}
		.passport-wrap {
			.select-option{
				padding-left: 50px;
			    padding-top: 9px;
			    span{
			    	height: 22px;
			    	line-height: 22px;
			    }
			}
			input{
				padding-left: 140px;
				background: url('@{url}svg/ticket-num.svg') 20px center no-repeat;
			}
			.passport-num{
				background: url('@{url}svg/passport.svg') 20px center no-repeat;
			}
		}
		.from-city-wrap,.passport-wrap,.phone-wrap {
			input,.passport-num{
				background-size: 24px;
				background-position-x:12px;
			}
		}
		.name-wrap .lastName-input{
			background-size: 24px;
			background-position-x:12px;
		}
		.dropdownMenu-wrap{
			top: 54px;
			.menu-com{
				padding: 10px;
				li{
					width: 100%;
					font-size: 14px;
				}
			}
		}
		.ticketMenu-wrap{
			height: 72px;
		}
	}
	.lm-search{
		margin-top: 10px;
		.notes-inner {
			h3{
				font-size: 14px;
				margin-bottom: 10px;
			}
			p{
				font-size: 12px;
			    line-height: 22px;
			}
		}
		.search-inner{
			margin-top: 20px;
		}
	}
	.lm-button{
		width: 100%;
		height: 40px;
		line-height: 40px;
		>span{
			background: url('@{url2}svg/circle-arrow-right.svg') center no-repeat;
		}
	}
	.lm-info{
		margin-top: 30px;
		margin-bottom: 30px;
		.lm-info-inner{
			padding: 10px;
		}
		.flight-airport {
			padding-bottom: 2px;
			.airport-com{
				font-size: 16px;
				width: 100%;
				height: 40px;
				line-height: 40px;
			}
			.flight-num {
				font-size: 14px;
				.pc-right-arrow{display: none;}
				.mobile-right-arrow{display: block;}
			}
		}
		.flight-info{
			padding-top: 10px;
			>li{
				width: 100%;
				text-align: left;
				border: none;
			    margin-bottom: 6px;
			}
		}
		.select-ok{
			background: url('@{url2}svg/icon-select.svg') center no-repeat;
		}
	}
	.lm-section-checkIn{
		width: 320px;
		height: 1900px;
		margin: 0 auto;
		background: url('@{url2}lm-A319-mobile.png') center 34% no-repeat; 
		background-size: 2700px;
		.seat-arrow{
			top: 0;
			height: 20px;
			line-height: 20px;
			>img{width: 14px;}
		}
		.seat-left-arrow{
			background: url('@{url2}svg/seat-leftArrow.svg') center no-repeat; 
			background-size: 14px;
		}
		.seat-right-arrow{
			background: url('@{url2}svg/seat-rightArrow.svg') center no-repeat; 
			background-size: 14px;
		}
		.flight-aside{
			top: 70px;
			width: 190px;
			box-shadow: 0px 0px 100px 0px rgba(31,44,92,.39);
			>img{display: none;}
			.seat-arrow{right: 0;}
			.from-airport,.to-airport{
				width: 100%;
				font-size: 12px;
				p{font-size: 14px;}
			}
			.flight-date,.flight-num{
				width: 84px;
				p{font-size: 14px;}
			}
			.flight-line{height: 40px;}
		}
		.seat-aside{
			top: 70px;
			width: 126px;
			box-shadow: 0px 0px 100px 0px rgba(31,44,92,.39);
			> div {
				height: 20px;
				line-height: 20px;
				padding-right: 20px;
				> span{
					font-size: 12px;
					margin-right: 10px;
				}
			}
			.sold-icon,.checked-icon,.option-icon{
				background-size: 20px;
			}
			>ul{
				margin-top: 10px;
				>li{
					float: none;
					font-size: 12px;
					line-height: 22px;
					margin-right: 0;
					text-align: right;
					>img{width: 20px;}
					>p{
						float: left;
						width: 70%;
					}
				}
			}
			.seat-arrow{
				left: 0;
			}
		}
		.checkIn-aside{
			top: auto;
			bottom: 10px;
			width: auto;
			padding: 10px;
			-webkit-transform: scale(.2);
		    transform: scale(.2);
		    -webkit-transform-origin: right bottom;
		    transform-origin: right bottom;
			box-shadow: 0px 0px 100px 0px rgba(31,44,92,.39);
			.pas-name p{font-size: 16px;}
			.member-no {
				.member-no-input{
					width: 180px;
					height: 26px;
					font-size: 14px;
				}
				:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					font-size: 14px; 
				}

				::-moz-placeholder { /* Mozilla Firefox 19+ */
					font-size: 14px;
				}

				input:-ms-input-placeholder{
					font-size: 14px;
				}

				input::-webkit-input-placeholder{
					font-size: 14px;
				}
			}
			.seat-cabin p{font-size: 16px;}
			.agree-rule{margin-top: 10px;}
			.check-in {
				> a{
					width: 100px;
					height: 30px;
					line-height: 30px;
				}
			}
			.seat-arrow{
				left: 0;
			}
		}
		.lm-seat-wrap {
			padding-top: 220px;
			-webkit-transform: scale(.62);
		    transform: scale(.62);
		    -webkit-transform-origin: 10% top;
		    transform-origin: 10% top;
		}
		.flight-aside-scale{
			-webkit-transform: scale(.2);
		    transform: scale(.2);
		    -webkit-transform-origin: left top;
		    transform-origin: left top;
		}
		.seat-aside-scale {
			-webkit-transform: scale(.3);
		    transform: scale(.3);
		    -webkit-transform-origin: right top;
		    transform-origin: right top;
		}
		.checkIn-aside-scale{
				-webkit-transform: scale(1);
			    transform: scale(1);
			    -webkit-transform-origin: right bottom;
			    transform-origin: right bottom;
		}
	}
	.header-mask,.footer-mask{
		height: 40px;
	}
	.lm-section-complete{
		margin-top: 30px;
		margin-bottom: 30px;
		.success-tips{
			padding: 10px;
			.success-box{
				height: auto;
				>img{width: 50px;}
				>div{
					display: block;
					position: static;
					height: auto;
					margin-left: 0;
					margin-top: 10px;
					h2{font-size: 18px;}
					p{
						position: static;
						font-size: 12px;
						margin-top: 6px;
					}
				}
			}
		}
		.success-inner{
			padding: 10px;
			.flight-airport {
				padding-bottom: 10px;
				.airport-com{
					width: 100%;
					height: auto;
					font-size: 16px;
					p{font-size: 12px;}
				}
				.flight-num{
					width: 100%;
					font-size: 14px;
					margin-top: 10px;
					img{width: auto;}
					.pc-right-arrow{display: none;}
					.mobile-right-arrow{
						width: auto;
						display: block;
						margin: 0 auto;
					}
				}
				.to-airport {
					margin-top: 10px;
				}
			}
			.flight-info{
				font-size: 16px;
				>li{
					p{font-size: 12px;}
				}
			}
		}
		.success-operation{
			margin-top: 30px;
			overflow: hidden;
			>a{
				float: left;
				width: 48%;
				height: 40px;
				line-height: 40px;
				font-size: 16px;
			}
			.continue-checkIn{
				margin-left: 4%;
			}
		}
	}
}