@charset "utf-8";
/* 引入字体 */
@font-face {
  font-family: CamptonBook;
  src: url(../../../common/EN/fonts/Campton/Rene.Bieder_Campton.Book.otf);
}
@font-face {
  font-family: CamptonBookLight;
  src: url(../../../common/EN/fonts/Campton/Rene.Bieder_Campton.Light.otf);
}
@font-face {
  font-family: CamptonBookBold;
  src: url(../../../common/EN/fonts/Campton/Rene.Bieder_Campton.Bold.otf);
  font-weight: bold;
}
/* 定义颜色变量 */
.lm-section {
  width: 940px;
  min-height: 664px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.lm-section .lm-title {
  margin-bottom: 30px;
}
.lm-section .lm-title h1 {
  font-size: 36px;
  color: #1f2c5c;
  font-family: CamptonBookBold;
  text-align: center;
}
.lm-section .lm-content {
  margin-bottom: 30px;
}
.lm-section .lm-content h2 {
  font-size: 24px;
  color: #141414;
  margin-bottom: 30px;
  line-height: 36px;
}
.lm-section .lm-content h3 {
  color: #1f2c5c;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 28px;
}
.lm-section .lm-content p {
  font-size: 16px;
  color: #808080;
  margin-bottom: 30px;
  line-height: 26px;
  word-wrap: break-word;
}
.lm-section .lm-content a {
  color: #4aa374;
}
.lm-section .lm-content span {
  color: #1f2c5c;
}
.BackToTop {
  width: 60px;
  height: 140px;
  padding-top: 10px;
}
.BackToTop .QRcode {
  margin-bottom: 10px;
}
.nextBtn a {
  float: right;
  display: inline-block;
  background: #1f2c5c;
  border-radius: 2px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.nextBtn a img {
  position: relative;
  left: 30px;
}
.nextBtn a:hover {
  background: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
@media screen and (max-width: 992px) {
  .lm-section {
    width: 100%;
    padding: 0.3rem 0.15rem 0.1rem;
  }
  .lm-section .lm-title {
    margin-bottom: 0.2rem;
  }
  .lm-section .lm-title h1 {
    font-size: 0.2rem;
  }
  .lm-section .lm-content {
    margin-top: 0;
  }
  .lm-section .lm-content h2 {
    font-size: 0.16rem;
    margin-bottom: 0.2rem;
    line-height: 0.3rem;
  }
  .lm-section .lm-content h3 {
    color: #1f2c5c;
    font-size: 0.14rem;
    margin-bottom: 0.2rem;
    line-height: 0.26rem;
  }
  .lm-section .lm-content p {
    font-size: 0.14rem;
    margin-bottom: 0.2rem;
    line-height: 0.26rem;
  }
}
