/* 定义变量 */
.pd-slider-wrap {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
}
.pd-slider-wrap .poster-list li {
  position: absolute;
  left: 0;
  top: 0;
}
.pd-slider-wrap .poster-list li a {
  display: block;
}
.pd-slider-wrap .poster-list li a img {
  display: block;
}
.pd-slider-wrap .poster-btn {
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
}
.pd-slider-wrap .poster-prev-btn {
  left: 0;
}
.pd-slider-wrap .poster-next-btn {
  right: 0;
}
.lm-slider-info-wrap {
  width: 940px;
  margin: 0 auto;
  margin-top: 50px;
}
.lm-slider-info-wrap .pd-slider-inner {
  height: 480px;
}
.lm-slider-info-wrap .pd-slider-info {
  height: 270px;
  overflow: hidden;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select {
  float: left;
  width: 50%;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price-select-title a {
  font-size: 30px;
  font-weight: bold;
  color: #1a1a1a;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price-select-title a:hover {
  color: #8ec060;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price {
  margin-top: 30px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price .new-price {
  font-size: 30px;
  font-weight: bold;
  color: #8ec060;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price .old-price {
  font-size: 20px;
  color: #ccc;
  margin-left: 14px;
  text-decoration: line-through;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num {
  font-size: 18px;
  color: #808080;
  font-weight: bold;
  margin-top: 14px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change {
  display: inline-block;
  margin-left: 10px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change span {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 20px;
  font-size: 18px;
  margin: 0 28px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a .toggle-img02 {
  display: none;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a img {
  cursor: pointer;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a:hover {
  color: #8ec060;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a:hover .toggle-img02 {
  display: inline-block;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a:hover .toggle-img01 {
  display: none;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-inventory-num {
  position: relative;
  top: 6px;
  display: inline-block;
  margin-left: 24px;
  color: #808080;
  font-size: 14px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner {
  margin-top: 14px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .add-cart-btn,
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .pd-buy-btn {
  width: 150px;
  height: 40px;
  background: #8ec060;
  box-shadow: 0 10px 20px 0 rgba(142, 192, 96, 0.5);
  border-radius: 100px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .add-cart-btn:hover,
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .pd-buy-btn:hover {
  background: #1f2c5c;
  box-shadow: 0 10px 20px 0 rgba(31, 44, 92, 0.5);
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .pd-buy-btn {
  margin-left: 30px;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner {
  float: left;
  width: 50%;
  padding-top: 72px;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner .pd-freight-way {
  font-size: 18px;
  font-weight: bold;
  color: #808080;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner .pd-freight-way span {
  margin-left: 10px;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner .pd-silder-select {
  color: #808080;
  text-align: left;
  margin-top: 24px;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner .pd-silder-select > span {
  text-align: left;
}
.lm-container {
  background: #333;
  min-height: 300px;
}
.lm-container .pd-show-tab {
  width: 790px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 64px;
  text-align: center;
}
.lm-container .pd-show-tab > a {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #808080;
}
.lm-container .pd-show-tab > a b {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 40px;
  height: 4px;
  margin-left: -20px;
  display: inline-block;
  visibility: hidden;
  background: #8ec060;
  border-radius: 25px;
}
.lm-container .pd-show-tab .active {
  color: #fff;
}
.lm-container .pd-show-tab .active b {
  visibility: visible;
}
.lm-container .pd-show-tab .pd-show-tab-comment {
  margin-left: 180px;
}
.lm-container .pd-shop-comments {
  width: 790px;
  min-height: 600px;
  margin: 0 auto;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail {
  width: 100%;
  min-height: 300px;
  background: #4d4d4d;
  border-radius: 16px;
  padding: 20px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title {
  border-bottom: 1px solid #fff;
  padding: 0 10px 20px;
  overflow: hidden;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-head {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-head img {
  width: 60px;
  height: 60px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-name {
  margin-left: 20px;
  float: left;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-name > h2 {
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
  color: #fff;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-name > p {
  margin-top: 12px;
  color: #ccc;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-name > p .shop-model {
  margin-left: 30px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-time {
  float: right;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-content {
  padding: 0 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-imgs {
  padding: 0 10px;
  margin-top: 20px;
  overflow: hidden;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-imgs > img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-answer {
  min-height: 80px;
  margin-top: 30px;
  margin: 30px 10px 0;
  padding: 20px 30px;
  border-radius: 16px;
  color: #1f2c5c;
  font-size: 14px;
  line-height: 20px;
  background: #8ec060;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-answer span {
  color: #fff;
}
.lm-container .pd-shop-comments .shop-comments-details-pages {
  margin-top: 50px;
  padding: 0 30px 100px;
  font-size: 18px;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
.lm-container .pd-shop-comments .shop-comments-details-pages .disabled {
  color: #ccc;
  margin: 0 15px;
}
.lm-container .pd-shop-comments .shop-comments-details-pages .current {
  color: #8ec060;
  margin: 0 15px;
}
.lm-container .pd-shop-comments .shop-comments-details-pages .nextPage {
  float: right;
}
.lm-container .pd-shop-comments .shop-comments-details-pages .prevPage {
  float: left;
}
.lm-container .pd-shop-comments .shop-comments-details-pages > a {
  color: #fff;
  font-size: 18px;
  margin: 0 15px;
}
.lm-pd-cart {
  display: none;
  position: fixed;
  left: -350px;
  top: 150px;
  z-index: 999;
  width: 350px;
  height: 700px;
  background: #ffffff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}
.lm-pd-cart .pd-cart-wrapper {
  height: 700px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-title {
  position: fixed;
  top: 150px;
  left: -350px;
  z-index: 99;
  width: 350px;
  height: 60px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 20px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-title .cart-arrow {
  cursor: pointer;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-title h2 {
  display: inline-block;
  margin-left: 75px;
  font-size: 18px;
  color: #1a1a1a;
  font-weight: bold;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-title .pd-cart-details {
  float: right;
  font-size: 16px;
  color: #4aa374;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box {
  width: 100%;
  height: 100%;
  padding: 60px 0 80px;
  overflow-x: hidden;
  overflow-y: auto;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-cart-clear-toggle {
  float: left;
  width: 12px;
  height: 12px;
  margin-top: 30px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-cart-clear-toggle .pd-checkBox {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin: 0;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-cart-clear-toggle .pd-cart-clear {
  display: none;
  position: absolute;
  left: 22px;
  top: 38px;
  width: 12px;
  font-style: normal;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-get-detail-page {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-get-detail-page:hover b {
  display: block;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-get-detail-page .pd-img {
  width: 60px;
  height: 60px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-get-detail-page b {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  background: rgba(31, 44, 92, 0.5);
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-info {
  width: 200px;
  float: left;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-info > h2 {
  font-size: 14px;
  color: #1f2c5c;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-info > .pd-info-param {
  color: #ccc;
  margin-top: 6px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-info > .pd-info-param .pd-info-param-model {
  margin-right: 20px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-info .pd-price-box {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  color: #ccc;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-info .pd-price-box .pd-price {
  float: left;
  font-size: 14px;
  color: #8ec060;
  font-weight: bold;
  margin-right: 10px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-info .pd-price-box .pd-taxes {
  float: left;
  color: #1f2c5c;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-info .pd-price-box .pd-num {
  float: right;
  color: #ccc;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .pd-cart-select .pd-cart-select-arrow {
  position: absolute;
  right: 16px;
  top: 38px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-box .active {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-price-box {
  position: fixed;
  top: 770px;
  left: -350px;
  width: 350px;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-price-box .pd-price-totle {
  width: 230px;
  float: left;
  padding-top: 10px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-price-box .pd-price-totle .pd-checkAll {
  vertical-align: top;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-price-box .pd-price-totle label {
  font-size: 14px;
  color: #1a1a1a;
  margin-left: 10px;
  margin-right: 30px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-price-box .pd-price-totle a {
  float: right;
  color: #d0011b;
  font-size: 14px;
  margin-right: 20px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-price-box .pd-price-totle .cart-price-totle .cart-price-totle-result {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #8ec060;
  margin-top: 10px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-price-box .pd-price-totle .cart-price-totle .cart-price-totle-taxes {
  display: inline-block;
  color: #1f2c5c;
  margin-top: 10px;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-price-box .pd-pay {
  float: right;
  width: 100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background: #8ec060;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-view {
  position: fixed;
  top: 350px;
  left: 0px;
  width: 90px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #8ec060;
  border-radius: 0 100px 100px 0;
  box-shadow: 0 0 20px 0 rgba(142, 192, 96, 0.8);
  cursor: pointer;
}
.lm-pd-cart .pd-cart-wrapper .pd-cart-view .pd-cart-select-num {
  position: fixed;
  top: 350px;
  left: 66px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #d0011b;
  color: #fff;
  border-radius: 100%;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail {
  display: none;
  position: fixed;
  left: 350px;
  top: 150px;
  z-index: 99;
  width: 650px;
  height: 700px;
  background: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  padding: 20px 20px 30px 60px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-detail-title {
  overflow: hidden;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-detail-title h2 {
  text-align: left;
  float: left;
  width: 96%;
  text-align: center;
  font-size: 18px;
  color: #1f2c5c;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-detail-title .pd-close {
  float: right;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large {
  position: relative;
  width: 530px;
  height: 390px;
  margin-top: 42px;
  margin-bottom: 30px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf {
  position: relative;
  width: 90px;
  height: 390px;
  float: left;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .prev-small-img {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .next-small-img {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .disable {
  z-index: -1;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .show {
  z-index: 99;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .img-small-select-box {
  position: absolute;
  top: 20px;
  height: 350px;
  overflow: hidden;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .img-small-select-box .img-small-select li {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 20px 0;
  border: 1px solid transparent;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .img-small-select-box .img-small-select li b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 88px;
  height: 88px;
  background: rgba(31, 44, 92, 0.5);
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .img-small-select-box .img-small-select .active {
  border-color: #8ec060;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .img-small-select-box .img-small-select .active b {
  display: none !important;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-lf .img-small-select-box .img-small-select img {
  width: 88px;
  height: 88px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-rf {
  position: relative;
  width: 390px;
  height: 390px;
  float: left;
  margin-left: 50px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-rf img {
  width: 390px;
  height: 390px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-img-large-rf .winSelector {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: crosshair;
  filter: alpha(opacity=15);
  -moz-opacity: 0.15;
  opacity: 0.15;
  background-color: #000;
  border: 1px solid #fff;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-large-img {
  display: none;
  position: absolute;
  right: -390px;
  top: 0px;
  width: 390px;
  height: 390px;
  overflow: hidden;
  border: 1px solid #ccc;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-img-large .pd-large-img img {
  position: absolute;
  width: 800px;
  height: 800px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-silder-select {
  text-align: left;
  color: #1a1a1a;
  font-weight: 100;
  margin-top: 14px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-silder-select > span {
  text-align: left;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select {
  font-size: 18px;
  color: #1a1a1a;
  text-align: left;
  margin-top: 14px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-top;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list li {
  position: relative;
  float: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: 24px;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list li b {
  position: absolute;
  top: 6px;
  left: 6px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  display: none;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list .color-1 {
  background: #1f2c5c;
  box-shadow: 0 4px 10px 0 rgba(31, 44, 92, 0.5);
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list .color-2 {
  background: #004190;
  box-shadow: 0 4px 10px 0 rgba(0, 64, 144, 0.5);
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list .color-3 {
  background: #006d94;
  box-shadow: 0 4px 10px 0 rgba(0, 108, 147, 0.5);
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list .color-4 {
  background: #00908c;
  box-shadow: 0 4px 10px 0 rgba(0, 144, 140, 0.5);
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list .color-5 {
  background: #4aa374;
  box-shadow: 0 4px 10px 0 rgba(73, 163, 116, 0.5);
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-color-select .pd-color-list .color-6 {
  background: #8ec060;
  box-shadow: 0 4px 10px 0 rgba(142, 192, 96, 0.5);
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart {
  margin-top: 14px;
  overflow: hidden;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-add-cart-lf {
  float: left;
  color: #808080;
  text-align: left;
  margin-left: 100px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-add-cart-lf p {
  font-size: 14px;
  color: #808080;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-add-cart-lf .p2 {
  margin-top: 10px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-add-cart-rt {
  float: left;
  margin-left: 40px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-add-cart-rt button {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background: #8ec060;
  box-shadow: 0 10px 20px 0 rgba(142, 192, 96, 0.5);
  border-radius: 100px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-add-cart-rt button:hover {
  background: #1f2c5c;
  box-shadow: 0 10px 20px 0 rgba(31, 44, 92, 0.5);
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-price {
  float: left;
  text-align: left;
  margin-top: 14px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-price .old-price {
  text-decoration: line-through;
  font-size: 20px;
  margin-left: 12px;
  color: #ccc;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-add-cart .pd-price .new-price {
  font-size: 30px;
  color: #8ec060;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-model-num {
  color: #1a1a1a;
  text-align: left;
  font-size: 18px;
  margin-top: 14px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-model-num .pd-num-change {
  display: inline-block;
  margin-left: 10px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-model-num .pd-num-change span {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 20px;
  font-size: 18px;
  margin: 0 28px;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-model-num .pd-num-change a .toggle-img02 {
  display: none;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-model-num .pd-num-change a img {
  cursor: pointer;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-model-num .pd-num-change a:hover {
  color: #8ec060;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-model-num .pd-num-change a:hover .toggle-img02 {
  display: inline-block;
}
.lm-pd-cart .pd-cart-detail-wrapper .pd-cart-detail .pd-model-num .pd-num-change a:hover .toggle-img01 {
  display: none;
}
.lm-pd-cart .pd-cart-pay-wrapper {
  display: none;
  position: fixed;
  left: 350px;
  top: 150px;
  z-index: 99;
  width: 650px;
  height: 700px;
  background: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  padding: 20px 30px 80px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-title {
  position: relative;
  margin-bottom: 40px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-title h2 {
  font-size: 18px;
  color: #1a1a1a;
  text-align: center;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-title .pd-close {
  position: absolute;
  top: 0px;
  right: -10px;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner {
  height: 538px;
  overflow-x: hidden;
  overflow-y: auto;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address {
  padding: 0 20px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-title {
  overflow: hidden;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-title h2 {
  float: left;
  font-size: 14px;
  color: #1a1a1a;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-title a {
  float: right;
  font-size: 14px;
  color: #00908c;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-title .address-edit-btn-OK {
  display: none;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner {
  margin-top: 10px;
  margin-bottom: 20px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add {
  display: none;
  width: 100%;
  padding-top: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .pd-cart-address-icon {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #8ec060;
  border-radius: 2px;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .pd-cart-address-complete {
  display: none;
  overflow: hidden;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .pd-cart-address-complete .address-complete,
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .pd-cart-address-complete .address-cancel {
  float: left;
  width: 266px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #8ec060;
  background: #fff;
  border: 1px solid #8ec060;
  border-radius: 2px;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .pd-cart-address-complete .address-cancel {
  color: #d0011b;
  border-color: #d0011b;
  margin-left: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .address-add-inner {
  display: none;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .address-add-inner span {
  margin-left: 12px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .address-add-inner .add-address-name,
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .address-add-inner .add-address-phone {
  width: 250px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #808080;
  padding: 0 20px;
  border: 1px solid #808080;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 20px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-add .address-add-inner .add-address-info {
  width: 100%;
  height: 90px;
  font-size: 14px;
  color: #808080;
  margin-top: 20px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  resize: none;
  outline: none;
  padding: 10px 20px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-edit {
  display: none;
  margin-bottom: 20px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-edit span {
  margin-left: 12px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-edit .edit-address-name,
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-edit .edit-address-phone {
  width: 250px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #808080;
  padding: 0 20px;
  border: 1px solid #808080;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 20px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-edit .edit-address-info {
  width: 100%;
  height: 90px;
  font-size: 14px;
  color: #808080;
  margin-top: 20px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  resize: none;
  outline: none;
  padding: 10px 20px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-detail {
  display: none;
  width: 100%;
  height: 118px;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-detail .pd-address-perInfo {
  font-size: 14px;
  color: #808080;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-detail .pd-address-perInfo .pd-address-name,
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-detail .pd-address-perInfo .pd-address-phone {
  display: inline-block;
  font-size: 14px;
  color: #808080;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .pd-cart-address-detail .pd-address-detail {
  font-size: 14px;
  color: #808080;
  margin-top: 6px;
  line-height: 26px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .active {
  background: #8ec060;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .active .pd-address-perInfo {
  font-size: 16px;
  color: #fff;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .active .pd-address-perInfo .pd-address-name,
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .active .pd-address-perInfo .pd-address-phone {
  font-size: 16px;
  color: #fff;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-inner .active .pd-address-detail {
  font-size: 16px;
  color: #fff;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-pay-address .pd-cart-address-more {
  width: 650px;
  height: 20px;
  line-height: 20px;
  margin-left: -50px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select {
  position: relative;
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 6px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-get-detail-page {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-get-detail-page:hover b {
  display: block;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-get-detail-page .pd-img {
  width: 60px;
  height: 60px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-get-detail-page b {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  background: rgba(31, 44, 92, 0.5);
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-info {
  float: left;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-info > h2 {
  font-size: 14px;
  color: #1f2c5c;
  margin-top: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-info > .pd-info-param {
  color: #ccc;
  font-size: 14px;
  margin-top: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-info > .pd-info-param .pd-info-param-model {
  margin-right: 20px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-price-box {
  float: right;
  height: 60px;
  line-height: 60px;
  color: #ccc;
  margin-right: 30px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-price-box .pd-price {
  font-size: 20px;
  color: #8ec060;
  font-weight: bold;
  margin-right: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-price-box .pd-taxes {
  float: right;
  color: #1f2c5c;
  font-size: 16px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-price-box .pd-num {
  float: right;
  color: #ccc;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-num-change {
  float: right;
  height: 60px;
  line-height: 54px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-num-change a .toggle-img02 {
  display: none;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-num-change a img {
  cursor: pointer;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-num-change a:hover {
  color: #8ec060;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-num-change a:hover .toggle-img02 {
  display: inline-block;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-num-change a:hover .toggle-img01 {
  display: none;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-inner .pd-cart-list-content .pd-cart-select .pd-num-change span {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 20px;
  font-size: 18px;
  margin: 0 26px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way {
  position: fixed;
  top: 770px;
  left: 350px;
  width: 650px;
  height: 80px;
  background: #ffffff;
  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
  padding-left: 30px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way {
  float: left;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .freight-way {
  font-size: 14px;
  color: #808080;
  margin-top: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .pd-cart-use-coupons {
  position: relative;
  font-size: 14px;
  color: #808080;
  margin-top: 14px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .pd-cart-use-coupons input {
  vertical-align: top;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .pd-cart-use-coupons label {
  font-weight: 100;
  margin-left: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .pd-cart-use-coupons .pd-cart-select-coupons {
  float: right;
  display: none;
  cursor: pointer;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .pd-cart-use-coupons .pd-cart-select-coupons span {
  font-size: 14px;
  color: #8ec060;
  margin-right: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .pd-cart-use-coupons .pd-cart-select-coupons .select-coupons-menu {
  display: none;
  position: absolute;
  top: 26px;
  left: 122px;
  width: 160px;
  height: 120px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  overflow-y: auto;
  background: url("../../images/EN/select-coupons-bg.png") no-repeat 1px -10px;
  background: #fff;
  padding: 22px 24px 8px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .pd-cart-use-coupons .pd-cart-select-coupons .select-coupons-menu li {
  color: #808080;
  font-size: 14px;
  margin-bottom: 10px;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-freight-way .pd-cart-use-coupons .pd-cart-select-coupons .select-coupons-menu li:hover {
  color: #8ec060;
}
.lm-pd-cart .pd-cart-pay-wrapper .pd-cart-pay-way .pd-cart-ok {
  float: right;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #8ec060;
  box-shadow: 0 10px 20px 0 rgba(142, 192, 96, 0.5);
  border-radius: 100px;
  margin-top: 20px;
  margin-right: 30px;
  cursor: pointer;
}
