
/* 定义变量 */
@url:"../../images/EN/";
@green:#8ec060;
@purple:#1f2c5c;
@black:#1a1a1a;
@gray:#808080;
@red:#d0011b;
@link:#4aa374;

.lm-container{
	width: 960px;
	padding:0 10px;
	margin:50px auto 0;
	.pd-search-wrap{
		width: 100%;
		height: 40px;
		line-height: 40px;
		position: relative;
		.pd-search-input{
			width: 890px;
			height: 40px;
			line-height: 40px;
			margin-right: 50px;
			padding-left: 60px;
			padding-right: 20px;
			font-size: 20px;
			color: #808080;
			border:1px solid #ccc;
			border-radius:2px;
		}
		.pd-search-img{
			position: absolute;
			left: 20px;
			top: 8px
		}
		.pd-search-more{
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
		}
	}
	.pd-select-wrap{
		margin-top: 30px;
		>div{
			overflow: hidden;
			>div{
				float: left;
				width: 170px;
				text-align: right;
				font-size: 16px;
				font-weight: bold;
				color: @purple;
			}
			>ul{
				width: 760px;
				margin-left: 180px;
				overflow: hidden;
				li{
					float: left;
					width: 20%;
					margin-bottom: 20px;
					a{
						color: @gray;
						font-size: 14px;
					}
				}
				.active{
					a{
						background: @green;
						border-radius:100px;
						padding:3px 20px;
						color:#fff;
					}
				}
			}
		}
	}
	.pd-list-wrap{
		.pd-list-inner{
			min-height: 320px;
			>li{
				float: left;
				width: 220px;
				height: 320px;
				text-align: center;
				background: #fff;
				border:1px solid #f2f2f2;
				margin-left: 20px;
				margin-bottom: 20px;
				.pd-img{
					width: 100%;
					height: 220px;
					padding: 10px;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.pd-slider-title{
					height: 53px;
					>a,>p{
						height: 40px;
						font-size: 14px;
						color:@purple;
						overflow: hidden;
						padding:0 10px;
					}
					>a{
						display: inline-block;
						width: 100%;
						&:hover{color: @green;}
					}
					.pd-slider-taxes{display: none;}
				}
				.pd-slider-cart{
					position: relative;
					height: 52px;
					.pd-slider-price{
						float: left;
						height: 52px;
						line-height: 52px;
						padding-left: 5px;
						.new-price{
							font-size:16px;
							font-weight: bold;
							color:@green;
							margin-left: 14px;
						}
						.old-price{
							font-size:14px;
							color:#cccccc;
							text-decoration:line-through;
							margin-left: 4px;
						}
					}
					.pd-add-cart-img{
						float: right;
						width:66px;
						height:44px;
						line-height: 44px;
						text-align: center;
						background:@purple;
						box-shadow:0 10px 20px 0 rgba(31,44,92,0.50);
						cursor: pointer;
						-webkit-transition-duration: .6s;
						transition-duration: .6s;
						&:hover{
							background: @green;
							box-shadow:0 0 20px 0 rgba(142,192,96,0.80);
							-webkit-transition-duration: .6s;
							transition-duration: .6s;
						}
					}
					.pd-detail-select{
						position: absolute;
						bottom: 0;
						right: -500px;
						z-index: 99;
						width: 500px;
						height: 388px;
						display: none;
						background: #fff;
						-webkit-box-shadow:0 0 40px 0 rgba(0,0,0,0.16);
						box-shadow:0 0 40px 0 rgba(0,0,0,0.16);
						border-radius:2px;
						padding:30px;
						.pd-detail-title{
							overflow: hidden;
							h2{
								width: 80%;
								float: left;
								font-size:18px;
								color: @purple;
								overflow: hidden;
							    text-overflow: ellipsis;
							    white-space: nowrap;
							}
							.pd-close{
								float: right;
								cursor: pointer;
							}
						}
						.pd-price{
							margin-top: 20px;
							text-align: left;
							.old-price{
								text-decoration:line-through;
								font-size:20px;
								margin-left: 12px;
								color:#ccc;
							}
							.new-price{
								font-size:30px;
								color: @green;
							}
						}
						.pd-silder-select{
							text-align: left;
							color: #1a1a1a;
							font-weight: 400;
							margin-top: 20px;
							>span{text-align: left;}
							.m-model-title{display: none;}
						}
						.pd-add-cart{
							height: 90px;
							margin-top: 20px;
							overflow: hidden;
							.pd-add-cart-lf{
								float: left;
								color:@gray;
								text-align: left;
								margin-top: 20px;
								margin-left: 20px;
								p{
									font-size:14px;
									color: @gray;
								}
								.p2{margin-top: 10px;}
							}
							.pd-add-cart-rt{
								float: right;
								margin-left: 40px;
								margin-top: 26px;
								button{
									width:120px;
									height:40px;
									border:none;
									outline: none;
									font-size: 14px;
									color:#fff;
									font-weight: bold;
									background:@purple;
									-webkit-box-shadow:0 10px 20px 0 rgba(31, 44, 92,0.50);
									box-shadow:0 10px 20px 0 rgba(31, 44, 92,0.50);
									border-radius:2px;
									transition: all .3s;
									-webkit-transition: all .3s;
									&:hover{
										background:@green;
										-webkit-box-shadow:0 10px 20px 0 rgba(142,192,96,0.50);
										box-shadow:0 10px 20px 0 rgba(142,192,96,0.50);
										transition: all .3s;
										-webkit-transition: all .3s;
									}
								}
							}
							.pd-detail-smallImg{
								float: left;
								width: 90px;
								height: 90px;
							}
						}
						.pd-model-num{
							color:#1a1a1a;
							text-align: left;
							font-size: 18px;
							margin-top: 20px;
							.pd-num-change{
								display: inline-block;
								margin-left: 10px;
								span{
									position: relative;
									top: 4px;
									display: inline-block;
									width: 20px;
									font-size: 18px;
									margin:0 28px;
									text-align: center;
									vertical-align: text-bottom;
								}
								a{
									display: inline-block;
									width: 20px;
									height: 20px;
									i{cursor: pointer;}
								}
							}
						}
					}
				}
			}
		}
	}
	.p-comment-page{
		padding:60px 100px 80px;
		font-size: 18px;
		overflow: hidden;
		text-align: center;
		clear:both;
		.prevPage{
			float: left;
			margin: 0 15px;
		}
		.nextPage{
			float: right;
			margin: 0 15px;
		}
		.current{
			color: #8ec060;
			margin: 0 15px;
		}
		>a{
			margin:0 15px;
			font-size: 18px;
			color: @purple;
			transition: color .3s;
			-webkit-transition: color .3s;
			&:hover{
				color: @green;
				transition: color .3s;
				-webkit-transition: color .3s;
			}
		}
		.disabled{
			color:#ccc;
			margin:0 15px;
		}
	}
}

@media screen and (max-width: 992px){
	.lm-container{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		.pd-search-wrap .pd-search-input{
			width: 90%;
			margin-right: 0;
		}
	}
}

@media screen and (max-width:767px){
	.lm-container{
		padding: 0;
		margin-bottom: 20px;
		margin-top: 20px;
		.pd-select-wrap{display: none;}
		.pd-list-wrap{
			margin-top: 20px;
			.pd-list-inner > li{
				width: 49%;
				height: auto;
				margin-left: 0;
				margin-bottom: 2%;
				.pd-slider-cart .pd-detail-select{
					width: 320px;
					height: auto;
					left: 0;
					padding: 10px;
					padding-top: 20px;
					.pd-add-cart .pd-add-cart-rt{
						margin-left: 10px;
						button{
							width: .4rem;
							border-radius: 2px;
						}
					}
				}
				.pd-slider-cart .pd-detail-select {
					.pd-model-num{
						font-size: 14px;
					}
					.pd-price {
						.new-price{
							font-size: 24px;
						}
						.old-price{
							font-size: 16px;
						}
					}
				}
				.pd-slider-cart {
					height: 30px;
					margin-top: 10px;
					.pd-slider-price {
						height: 30px;
						line-height: 30px;
						.new-price{font-size: 14px;}
						.old-price{font-size: 12px;}
					}
					.pd-add-cart-img{
						width: 30px;
					    height: 20px;
					    line-height: 19px;
					    margin-top: 6px;
						img{width: 15px;}
					}
				}
				.pd-img{
					height: 155px;
					padding: 0;
					img{
						width: 155px;
						height: 155px;
					}
				}
				.pd-slider-title{
					height: 36px;
					margin-top: 10px;
					a{
						height: 36px;
						font-size: 12px;
					}
				}
			}
			.pd-list-inner > li:nth-child(even){
				margin-left: 2%;
				.pd-slider-cart .pd-detail-select{
					right: 0;
					left: auto;
				}
			}
		}
		.pd-search-wrap {
			padding-left: 10px;
			.pd-search-input{
				height: 30px;
				line-height: 30px;
				width: 80%;
				font-size: 14px;
				padding-left: 40px;
			}
			.pd-search-img{
				width: 20px;
				top: 10px;
			}
			.pd-search-more{
				width: 30px;
				right: 30px;
				top: 6px;
			}
		}
		.p-comment-page{
			font-size: 12px;
		    padding: 30px 10px;
		    >a{
		    	margin: 0 6px;
		    	font-size: 12px;
		    }
		    .disabled,.nextPage,.prevPage{
		    	font-size: 12px;
		    	margin:0 6px;
		    }
		    .current{
		    	font-size: 12px;
		    }
		}
	}
	.pd-silder-select{
		font-size: 14px;
		>span{width: 56px;}
		.pd-model-main{
			width: 150px;
			.pd-model-large li{width: 80px;}
		}
	}
}
