/* 定义变量 */
.lm-container {
  background: #333;
  min-height: 600px;
}
.lm-container .pd-list {
  position: relative;
  width: 100%;
  height: 160px;
  text-align: center;
  background: url('../../images/EN/pd-list-bg.png') center no-repeat;
  background-size: 100% 100%;
}
.lm-container .pd-list > img {
  width: 100%;
}
.lm-container .pd-list .pd-list-inner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 460px;
  margin-left: -230px;
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
}
.lm-container .pd-list .pd-list-inner > dl {
  float: left;
  margin-bottom: 0;
}
.lm-container .pd-list .pd-list-inner > dl dd {
  margin-top: 6px;
  font-size: 14px;
  color: #000000;
}
.lm-container .pd-list .pd-list-inner .pd-list-inner-2 {
  margin: 0 160px;
}
.lm-container .pd-container {
  width: 100%;
}
.lm-container .pd-container .pd-inner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.lm-container .pd-container .pd-inner .pd-search {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.lm-container .pd-container .pd-inner .pd-search img {
  position: absolute;
  top: 13px;
  left: 20px;
  cursor: pointer;
}
.lm-container .pd-container .pd-inner .pd-search input {
  position: absolute;
  top: 12px;
  left: 60px;
  width: 90px;
  height: 30px;
  font-size: 20px;
  color: #808080;
  background: transparent;
}
.lm-container .pd-container .pd-inner .pd-search ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
.lm-container .pd-container .pd-inner .pd-search :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
.lm-container .pd-container .pd-inner .pd-search ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
.lm-container .pd-container .pd-inner .pd-search :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
.lm-container .pd-container .pd-inner .pd-title {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  margin-top: 50px;
  text-align: center;
}
.lm-container .pd-container .pd-inner .pd-title span {
  color: #8ec060;
}
.lm-container .pd-container .pd-inner .pd-detail {
  overflow: hidden;
  margin-top: 60px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-left {
  float: left;
  width: 400px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-left a img {
  width: 400px;
  height: 400px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right {
  float: right;
  width: 510px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right > h2 {
  text-align: right;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right > h2 a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-price {
  margin-top: 30px;
  text-align: right;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-price .old-price {
  text-decoration: line-through;
  font-size: 20px;
  color: #808080;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-price .new-price {
  font-size: 30px;
  color: #8ec060;
  margin-left: 12px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart {
  height: 70px;
  margin-top: 30px;
  overflow: hidden;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-lf {
  float: right;
  color: #fff;
  text-align: right;
  margin-left: 20px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-lf p {
  font-size: 14px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-lf .p2 {
  margin-top: 10px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-rt {
  float: right;
  margin-left: 40px;
}
.lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-rt button {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #fff;
  background: #42958a;
  background: -webkit-linear-gradient(left, #42958a 0%, #1f2c5c 100%);
  background: -o-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
  background: -moz-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
  background: linear-gradient(to right, #42958a 0%, #1f2c5c 100%);
  border-radius: 2px;
  margin-top: 10px;
}
.lm-container .pd-slider {
  width: 960px;
  margin: 0 auto;
  padding: 50px 10px 0;
}
.lm-container .pd-slider .pd-slider-title {
  overflow: hidden;
}
.lm-container .pd-slider .pd-slider-title .pd-list-select {
  float: left;
}
.lm-container .pd-slider .pd-slider-title .pd-list-select span {
  color: #fff;
  font-size: 14px;
  margin: 0 24px;
}
.lm-container .pd-slider .pd-slider-title .pd-slider-more {
  float: right;
}
.lm-container .pd-slider .pd-slider-title .pd-slider-more a {
  font-size: 14px;
  color: #fff;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-container .pd-slider .pd-slider-title .pd-slider-more a:hover {
  color: #8ec060;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-container .pd-slider .pd-slider-title .pd-slider-more a:hover i {
  color: #8ec060;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-container .pd-slider .pd-slider-main {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul {
  width: 940px;
  float: left;
  overflow: hidden;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li {
  float: left;
  width: 300px;
  height: 438px;
  text-align: center;
  background: #fff;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-img {
  width: 100%;
  height: 300px;
  padding: 10px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-img img {
  width: 100%;
  height: 100%;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-title {
  height: 55px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-title > a,
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-title > p {
  height: 50px;
  font-size: 18px;
  color: #1f2c5c;
  overflow: hidden;
  padding: 0 10px;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-title > a:hover,
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-title > p:hover {
  color: #8ec060;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-title > a {
  display: inline-block;
  width: 100%;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart {
  position: relative;
  height: 60px;
  margin-top: 23px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-slider-price {
  float: left;
  height: 60px;
  line-height: 60px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-slider-price .new-price {
  font-size: 24px;
  font-weight: bold;
  color: #8ec060;
  margin-left: 20px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-slider-price .old-price {
  font-size: 14px;
  color: #ccc;
  text-decoration: line-through;
  margin-left: 12px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-add-cart-img {
  float: right;
  width: 90px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #1f2c5c;
  -webkit-box-shadow: 0 0 20px 0 rgba(31, 44, 92, 0.8);
  box-shadow: 0 0 20px 0 rgba(31, 44, 92, 0.8);
  cursor: pointer;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select {
  position: absolute;
  bottom: 0;
  right: -500px;
  z-index: 99;
  width: 500px;
  height: 388px;
  display: none;
  background: #fff;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  padding: 30px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-detail-title {
  overflow: hidden;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-detail-title h2 {
  float: left;
  width: 90%;
  font-size: 18px;
  color: #1f2c5c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-detail-title .pd-close {
  display: block;
  float: right;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #1f2c5c;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-price {
  margin-top: 20px;
  text-align: left;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-price .old-price {
  text-decoration: line-through;
  font-size: 20px;
  margin-left: 12px;
  color: #ccc;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-price .new-price {
  font-size: 30px;
  color: #8ec060;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-silder-select {
  text-align: left;
  color: #1a1a1a;
  font-weight: 100;
  margin-top: 20px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-silder-select > span {
  text-align: left;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-silder-select .m-model-title {
  display: none;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-add-cart {
  height: 90px;
  margin-top: 20px;
  overflow: hidden;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-add-cart .pd-add-cart-lf {
  float: left;
  color: #808080;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-add-cart .pd-add-cart-lf p {
  font-size: 14px;
  color: #808080;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-add-cart .pd-add-cart-lf .p2 {
  margin-top: 10px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-add-cart .pd-add-cart-rt {
  float: right;
  margin-left: 40px;
  margin-top: 26px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-add-cart .pd-add-cart-rt button {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background: #1f2c5c;
  border-radius: 2px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-add-cart .pd-detail-smallImg {
  float: left;
  width: 90px;
  height: 90px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-model-num {
  color: #1a1a1a;
  text-align: left;
  font-size: 18px;
  margin-top: 20px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-model-num .pd-num-change {
  display: inline-block;
  margin-left: 10px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-model-num .pd-num-change span {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 18px;
  margin: 0 28px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-model-num .pd-num-change a {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul > li .pd-slider-cart .pd-detail-select .pd-model-num .pd-num-change a i {
  cursor: pointer;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul .nth-child2 {
  margin: 0 20px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul .nth-child2 .pd-slider-cart .pd-detail-select {
  right: 90px;
}
.lm-container .pd-slider .pd-slider-main .pd-slider-large > ul .nth-child3 .pd-slider-cart .pd-detail-select {
  right: 90px;
}
.lm-container .pd-container-1 {
  margin-top: 50px;
}
.lm-container .pd-container-2 {
  padding-bottom: 100px;
}
.lm-container .pd-container-2 .pd-inner {
  position: relative;
}
.lm-container .pd-container-2 .pd-inner .pd-detail {
  margin-top: 50px !important;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-left {
  float: right !important;
  width: 400px;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right {
  float: left !important;
  width: 510px;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right > h2 {
  text-align: left;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-price {
  text-align: left !important;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-price .new-price {
  margin-left: 0 !important;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-price .old-price {
  margin-left: 10px !important;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-silder-select {
  text-align: left !important;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-silder-select > span {
  text-align: left;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-color-select {
  text-align: left !important;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-color-select .pd-color-list li {
  margin-right: 0 !important;
  margin-left: 24px !important;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-lf {
  float: left !important;
  margin-left: 40px !important;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-lf > p {
  text-align: left;
}
.lm-container .pd-container-2 .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-rt {
  float: left !important;
  margin-left: 0px !important;
}
.lm-container .pd-container-2 .pd-inner .pd-down {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  margin-bottom: -175px;
}
.lm-sales {
  display: none;
  width: 960px;
  margin: 0 auto;
  padding: 104px 10px 130px;
}
.lm-sales .pd-sales-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #8ec060;
}
.lm-sales .pd-sales-title span {
  color: #1f2c5c;
}
.lm-sales .pd-sales-list {
  margin-top: 50px;
  overflow: hidden;
}
.lm-sales .pd-sales-list dl {
  float: left;
  text-align: center;
  margin-left: 50px;
}
.lm-sales .pd-sales-list dl dt img {
  cursor: pointer;
}
.lm-sales .pd-sales-list dl dt .pd-sales-img2 {
  display: none;
}
.lm-sales .pd-sales-list dl dd {
  font-size: 14px;
  color: #808080;
  margin-top: 20px;
}
.lm-sales .pd-sales-list .pd-sales-list-1 {
  margin-left: 95px;
}
.lm-sales .pd-sales-rule {
  width: 600px;
  margin: 20px 0 20px 300px;
}
.lm-sales .pd-sales-rule h2 {
  font-size: 14px;
  font-weight: bold;
  color: #8ec060;
  line-height: 24px;
  padding-left: 150px;
}
.lm-sales .pd-sales-rule p {
  font-size: 14px;
  font-weight: bold;
  color: #1f2c5c;
  line-height: 24px;
}
.lm-sales .pd-sales-discount .pd-discount-list {
  overflow: hidden;
}
.lm-sales .pd-sales-discount .pd-discount-list li {
  position: relative;
  float: left;
  width: 300px;
  height: 150px;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.lm-sales .pd-sales-discount .pd-discount-list li > h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  margin-top: 42px;
}
.lm-sales .pd-sales-discount .pd-discount-list li > p {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
}
.lm-sales .pd-sales-discount .pd-discount-list li img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.lm-sales .pd-sales-discount .pd-discount-list .middle-child {
  margin: 0 20px;
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-1 {
  background-image: url("../../images/EN/pd-discount-1.png");
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-2 {
  background-image: url("../../images/EN/pd-discount-2.png");
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-3 {
  background-image: url("../../images/EN/pd-discount-3.png");
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-4 {
  background-image: url("../../images/EN/pd-discount-3.png");
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-5 {
  background-image: url("../../images/EN/pd-discount-2.png");
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-6 {
  background-image: url("../../images/EN/pd-discount-1.png");
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-7 {
  background-image: url("../../images/EN/pd-discount-3.png");
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-8 {
  background-image: url("../../images/EN/pd-discount-2.png");
}
.lm-sales .pd-sales-discount .pd-discount-list .discount-9 {
  background-image: url("../../images/EN/pd-discount-3.png");
}
.lm-sales .pd-sales-discount .pd-discount-more {
  overflow: hidden;
}
.lm-sales .pd-sales-discount .pd-discount-more .pd-discount-select {
  float: left;
}
.lm-sales .pd-sales-discount .pd-discount-more .pd-discount-select a img {
  cursor: pointer;
}
.lm-sales .pd-sales-discount .pd-discount-more .pd-discount-select span {
  font-size: 14px;
  color: #1a1a1a;
  margin: 0 24px;
}
.lm-sales .pd-sales-discount .pd-discount-more .pd-discount-arrow {
  float: right;
}
.lm-sales .pd-sales-discount .pd-discount-more .pd-discount-arrow a {
  font-size: 14px;
  color: #1a1a1a;
}
/* 配置屏幕 */
@media screen and (max-width: 1366px), (max-device-width: 1366px) {
  .pd-img-large {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
  .lm-container .pd-list .pd-list-inner {
    padding-top: 16px;
  }
  .lm-container .pd-list .pd-list-inner > dl dd {
    margin-top: 10px !important;
  }
  .hiSlider-btn-next,
  .hiSlider-btn-prev {
    top: 50%;
    width: 60px;
    height: 160px;
    line-height: 160px;
    margin-top: -80px;
  }
  .hiSlider-btn-next img,
  .hiSlider-btn-prev img {
    height: 80px;
  }
}
/* PC端增加hover事件 */
@media screen and (min-width: 1100px) {
  .pd-detail-right > h2 a {
    transition: color .3s;
    -webkit-transition: color .3s;
  }
  .pd-detail-right > h2 a:hover {
    color: #8ec060 !important;
    transition: color .3s;
    -webkit-transition: color .3s;
  }
  .pd-add-cart-rt button {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .pd-add-cart-rt button:hover {
    background: #8ec060 !important;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .pd-add-cart-img {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .pd-add-cart-img:hover {
    -webkit-transition: all 1s;
    transition: all 1s;
    background: #8ec060 !important;
    -webkit-box-shadow: 0 10px 20px 0 rgba(142, 192, 96, 0.5) !important;
    box-shadow: 0 10px 20px 0 rgba(142, 192, 96, 0.5) !important;
  }
}
@media screen and (max-width: 992px), (max-device-width: 992px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  /*滚动条的轨道*/
  ::-webkit-scrollbar-track {
    width: 0px;
  }
  .LM-hiSlider .m-banner {
    display: block;
  }
  .LM-hiSlider .p-banner {
    display: none;
  }
  .hiSlider-wrap .hiSlider-btn-prev {
    display: none;
  }
  .hiSlider-wrap .hiSlider-btn-next {
    display: none;
  }
  .hiSlider-wrap .hiSlider-pages {
    bottom: 0.02rem;
    margin-left: -0.31rem;
  }
  .hiSlider-wrap .hiSlider-pages a {
    border-width: 0.01rem;
    width: 0.2rem;
    height: 0.02rem;
    margin: 0 0.01rem;
    background: #1f2c5c;
  }
  .hiSlider-wrap .hiSlider-pages .active {
    background: #8ec060;
  }
  .lm-container {
    width: 100%;
  }
  .lm-container .pd-list {
    height: auto;
    background: #fff;
  }
  .lm-container .pd-list .pd-list-inner {
    width: 100%;
    position: static;
    left: 0;
    margin-left: 0;
    padding-top: 0.06rem;
    padding-bottom: 0.06rem;
  }
  .lm-container .pd-list .pd-list-inner dl {
    width: 33.33%;
  }
  .lm-container .pd-list .pd-list-inner dl dd {
    margin-top: 0.02rem !important;
    font-size: 0.1rem;
  }
  .lm-container .pd-list .pd-list-inner dl img {
    width: 0.2rem;
  }
  .lm-container .pd-list .pd-list-inner .pd-list-inner-2 {
    margin: 0;
  }
  .lm-container .pd-container .pd-inner {
    width: 100%;
    padding: 0 0.15rem;
  }
  .lm-container .pd-container .pd-inner .pd-search {
    width: 1rem;
    height: 0.26rem;
    padding-top: 0;
    margin-top: .2rem;
  }
  .lm-container .pd-container .pd-inner .pd-search img {
    width: 0.12rem;
    top: 0.07rem;
    left: 0.22rem;
  }
  .lm-container .pd-container .pd-inner .pd-search input {
    width: 0.6rem;
    height: 0.26rem;
    top: 0;
    left: 0.44rem;
    font-size: 0.12rem;
  }
  .lm-container .pd-container .pd-inner .pd-title {
    margin-top: 0.3rem;
    font-size: 0.16rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail {
    margin-top: .2rem !important;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-left {
    width: 100%;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-left a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right {
    width: 100%;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-detail-title,
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-price {
    text-align: center !important;
    margin-top: .1rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-detail-title a {
    font-size: 0.14rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-price .old-price {
    font-size: 0.12rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-price .new-price {
    font-size: 0.14rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-silder-select {
    margin-top: 0.12rem;
    text-align: left;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-silder-select .m-model-title {
    display: inline-block;
    font-size: 0.12rem;
    width: 16%;
    text-align: left;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-silder-select .p-model-title {
    display: none;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-silder-select > span {
    display: inline-block;
    font-size: 0.12rem;
    width: 16%;
    text-align: left;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-silder-select .pd-model-main {
    width: 64%;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-silder-select .pd-model-main .pd-model-large li {
    font-size: 0.12rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart {
    margin-top: 0.12rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-rt {
    float: left;
    text-align: left;
    margin-left: 0;
    padding-right: 0.05rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-rt button {
    width: 1.2rem;
    height: 0.32rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-lf {
    float: left;
    text-align: left;
    margin-left: 0 !important;
    padding-left: 0.05rem;
    margin-top: .1rem;
  }
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-right .pd-add-cart .pd-add-cart-lf p {
    font-size: 0.12rem;
  }
  .lm-container .pd-container .pd-inner .pd-down {
    width: 0.56rem;
    height: 0.56rem;
    margin-left: -0.28rem;
    margin-bottom: -0.56rem;
  }
  .lm-container .pd-container-1 {
    margin-top: 0rem;
  }
  .lm-container .pd-container-2 {
    padding-bottom: 0.3rem;
  }
  .lm-container .pd-slider {
    display: none;
  }
  .lm-container .m-swiper-container {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0.3rem 0.12rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide {
    width: 1.4rem !important;
    text-align: center;
    background: #fff;
    margin-bottom: 6px;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-img {
    width: 1.4rem !important;
    height: 1.4rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-img a img {
    width: 100%;
    height: 100%;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-title {
    height: 0.36rem;
    margin-top: 0.06rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-title a {
    height: .36rem;
    display: inline-block;
    width: 100%;
    font-size: 0.12rem;
    color: #1f2c5c;
    overflow: hidden;
    padding: 0 0.12rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-title p {
    font-size: 0.12rem;
    color: #1f2c5c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.12rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-cart {
    position: relative;
    height: 0.3rem;
    margin-top: 0.06rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-cart .pd-slider-price {
    float: left;
    height: 0.3rem;
    line-height: 0.3rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-cart .pd-slider-price .new-price {
    font-size: 0.12rem;
    font-weight: bold;
    color: #8ec060;
    margin-left: 0.06rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-cart .pd-slider-price .old-price {
    display: none;
    font-size: 0.12rem;
    color: #ccc;
    text-decoration: line-through;
    margin-left: 0.04rem;
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-cart .pd-add-cart-img {
    float: right;
    width: 0.42rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    background: #1f2c5c;
    -webkit-box-shadow: 0 0 20px 0 rgba(31, 44, 92, 0.8);
    box-shadow: 0 0 20px 0 rgba(31, 44, 92, 0.8);
  }
  .lm-container .m-swiper-container .m-swiper-wrapper .m-swiper-slide .pd-slider-cart .pd-add-cart-img img {
    width: 0.2rem;
  }
  .lm-container .m-swiper-container .pd-slider-more {
    text-align: right;
  }
  .lm-container .m-swiper-container .pd-slider-more a {
    font-size: 0.12rem;
    color: #fff;
  }
  .lm-container .m-swiper-container .pd-slider-more a i {
    margin-left: 6px;
  }
  .lm-sales {
    width: 100%;
    padding: 0.46rem 0.15rem 0.46rem;
  }
  .lm-sales .pd-sales-title {
    font-size: 0.15rem;
  }
  .lm-sales .pd-sales-list {
    margin-top: 0.2rem;
  }
  .lm-sales .pd-sales-list > dl {
    margin-left: 0 !important;
    width: 50% !important;
    margin-bottom: 0.12rem;
  }
  .lm-sales .pd-sales-list > dl dt img {
    width: 0.75rem;
    height: 0.4rem;
    margin: 0 auto;
    -ms-touch-action: none;
    touch-action: none;
  }
  .lm-sales .pd-sales-list > dl dd {
    margin-top: 0.12rem;
    font-size: 0.12rem;
  }
  .lm-sales .pd-sales-rule {
    width: 100%;
    margin: 0.12rem 0 0.2rem;
  }
  .lm-sales .pd-sales-rule h2 {
    width: 100%;
    text-align: center;
    padding-left: 0;
    font-size: 0.12rem;
  }
  .lm-sales .pd-sales-rule p {
    width: 100%;
    text-align: left;
    font-size: 0.12rem;
  }
  .lm-sales .pd-sales-discount {
    display: none;
  }
  .lm-sales .m-sales-container {
    display: block;
  }
  .lm-sales .m-sales-container .m-sales-wrapper .m-sales-slide {
    margin-bottom: 6px !important;
    width: 48.5%;
    height: 0.7rem;
    text-align: center;
    background-image: url(../../images/EN/pd-discount-1.png);
    background-size: 100% 100%;
  }
  .lm-sales .m-sales-container .m-sales-wrapper .m-sales-slide img {
    width: 100%;
    height: 0.7rem;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .lm-sales .m-sales-container .m-sales-wrapper .m-sales-slide h2 {
    font-size: 0.14rem;
    margin-top: 0.15rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  }
  .lm-sales .m-sales-container .m-sales-wrapper .m-sales-slide p {
    font-size: 0.12rem;
    margin-top: 0.12rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  }
  .lm-sales .m-sales-container .m-sales-wrapper .m-right-child {
    margin-left: 3% !important;
  }
  .lm-sales .m-sales-container .pd-discount-more {
    text-align: right;
  }
  .lm-sales .m-sales-container .pd-discount-more a {
    font-size: 0.12rem;
    color: #1a1a1a;
  }
  .lm-sales .m-sales-container .pd-discount-more a i {
    color: #1a1a1a;
    margin-left: 6px;
  }
}
@media screen and (max-width: 767px) {
  .lm-container .pd-container .pd-inner .pd-detail .pd-detail-left a img {
    width: 260px;
    height: 260px;
  }
  .lm-container .m-swiper-container {
    height: auto;
  }
  .lm-container .m-swiper-container .pd-slider-more {
    margin-top: 10px;
  }
  .lm-container .pd-container .pd-inner .pd-search img {
    left: .1rem;
  }
  .lm-container .pd-container .pd-inner .pd-search input {
    left: .3rem;
  }
}
