
/* 定义变量 */
@url:"../../images/EN/";
@green:#8ec060;
@purple:#1f2c5c;
@gray:#808080;
@red:#d0011b;
@link:#4aa374;

.lm-container{
	background: #333;
	min-height: 600px;
	.pd-list{
		position: relative;
		width: 100%;
		height: 226px;
		text-align: center;
		background: url('@{url}pd-list-bg.png') center no-repeat;
		background-size: 100% 100%;
		>img{width: 100%;}
		.pd-list-inner{
			position: absolute;
			top: 0;
			left: 50%;
			width: 460px;
			margin-left: -230px;
			padding-top:50px;
			overflow: hidden;
			text-align: center;
			>dl{
				float: left;
				dd{
					margin-top: 20px;
					font-size:14px;
					color:#000000;
				}
			}
			.pd-list-inner-2{
				margin:0 160px;
			}
		}
	}
	.pd-container{
		width: 100%;
		.pd-inner{
			width: 960px;
			margin:0 auto;
			padding:0 10px;
			.pd-search{
				position: relative;
				width:200px;
				height:50px;
				margin:0 auto;
				padding-top: 50px;
				background: #fff;
				-webkit-box-shadow:0 20px 20px 0 rgba(0,0,0,0.30);   
				box-shadow:0 20px 20px 0 rgba(0,0,0,0.30);
				border-radius:2px;
				img{
					position: absolute;
					top: 13px;
					left: 20px;
					cursor: pointer;
				}
				input{
					position: absolute;
					top: 12px;
					left: 60px;
					width: 90px;
					height: 30px;
					font-size:20px;
					color:#808080;
					background:transparent; 
				}
				::-webkit-input-placeholder { /* WebKit browsers */ 
					color: #ccc; 
				} 
				:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
					color: #ccc; 
				} 
				::-moz-placeholder { /* Mozilla Firefox 19+ */ 
					color: #ccc; 
				} 
				:-ms-input-placeholder { /* Internet Explorer 10+ */ 
					color: #ccc; 
				} 
			}
			.pd-title{
				font-weight: bold;
				font-size:36px;
				color:#fff;
				margin-top: 50px;
				text-align: center;
				span{color:@green;}
			}
			.pd-detail{
				overflow: hidden;
				margin-top: 60px;
				.pd-detail-left{
					float: left;
					width:490px;
					a img{
						width: 490px;
						height: 300px;
					}
				}
				.pd-detail-right{
					float: right;
					width:430px;
					>h2{
						text-align: right;
						a{
							font-size:30px;
							font-weight: bold;
							color:#fff;
						}
						
					}
					.pd-price{
						margin-top: 30px;
						text-align: right;
						.old-price{
							text-decoration:line-through;
							font-size:20px;
							color:#808080;
						}
						.new-price{
							font-size:30px;
							color: @green;
							margin-left: 12px;
						}
					}
					.pd-add-cart{
						height: 70px;
						margin-top: 30px;
						overflow: hidden;
						.pd-add-cart-lf{
							float: right;
							color:#fff;
							text-align: right;
							p{font-size:14px;}
							.p2{margin-top: 10px;}
						}
						.pd-add-cart-rt{
							float: right;
							margin-left: 40px;
							button{
								width:150px;
								height:40px;
								border:none;
								outline: none;
								font-size: 14px;
								color:#fff;
								background: #42958a;
							    background: -webkit-linear-gradient(left, #42958a 0%, #1f2c5c 100%);
							    background: -o-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
							    background: -moz-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
							    background: linear-gradient(to right, #42958a 0%, #1f2c5c 100%);
								border-radius:2px;
								margin-top: 10px;
							}
						}
					}
				}
			}
			.pd-slider{
				
			}
		}
	}
	.pd-slider{
		width: 960px;
		margin:0 auto;
		padding:50px 10px 0;
		.pd-slider-title{
			overflow: hidden;
			.pd-list-select{
				float: left;
				span{
					color:#fff;
					font-size: 14px;
					margin:0 24px;
				}
			}
			.pd-slider-more{
				float: right;
				a{
					font-size: 14px;
					color:#fff;
					transition: color .3s;
					-webkit-transition: color .3s;
					&:hover{
						color: @green;
						transition: color .3s;
						-webkit-transition: color .3s;
						i{
							color: @green;
							transition: color .3s;
							-webkit-transition: color .3s;
						}
					}
				}
			}
		}
		.pd-slider-main{
			width: 100%;
			overflow: hidden;
			margin-top: 30px;
			.pd-slider-large{
				>ul{
					float: left;
					overflow: hidden;
					>li{
						float: left;
						width: 300px;
						height: 438px;
						text-align: center;
						background: #fff;
						.pd-img{
							width: 100%;
							height: 323px;
							padding: 10px;
							img{
								width: 100%;
								height: 100%;
							}
						}
						.pd-slider-title{
							height: 55px;
							>a,>p{
								font-size: 18px;
								color:@purple;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								padding:0 10px;
								transition: color .3s;
								-webkit-transition: color .3s;
								&:hover{
									color:@green;
									transition: color .3s;
									-webkit-transition: color .3s;
								}
							}
							>a{
								display: inline-block;
								width: 100%;
							}
						}
						.pd-slider-cart{
							position: relative;
							height: 60px;
							.pd-slider-price{
								float: left;
								height: 60px;
								line-height: 60px;
								.new-price{
									font-size:24px;
									font-weight: bold;
									color:@green;
									margin-left: 20px;
								}
								.old-price{
									font-size:14px;
									color:#ccc;
									text-decoration:line-through;
									margin-left: 12px;
								}
							}
							.pd-add-cart-img{
								float: right;
								width:90px;
								height:60px;
								line-height: 60px;
								text-align: center;
								background:@purple;
								-webkit-box-shadow:0 0 20px 0 rgba(31, 44, 92,0.80);
								box-shadow:0 0 20px 0 rgba(31, 44, 92,0.80);
								cursor: pointer;
							}
							.pd-detail-select{
								position: absolute;
								bottom: 0;
								right: -500px;
								z-index: 99;
								width: 500px;
								height: 388px;
								display: none;
								background: #fff;
								-webkit-box-shadow:0 0 40px 0 rgba(0,0,0,0.16);
								box-shadow:0 0 40px 0 rgba(0,0,0,0.16);
								border-radius:2px;
								padding:30px;
								.pd-detail-title{
									overflow: hidden;
									h2{
										float: left;
										font-size:18px;
										color: @purple;
									}
									.pd-close{
										float: right;
										cursor: pointer;
									}
								}
								.pd-price{
									margin-top: 20px;
									text-align: left;
									.old-price{
										text-decoration:line-through;
										font-size:20px;
										margin-left: 12px;
										color:#ccc;
									}
									.new-price{
										font-size:30px;
										color: @green;
									}
								}
								.pd-silder-select{
									text-align: left;
									color: #1a1a1a;
									font-weight: 100;
									margin-top: 20px;
									>span{text-align: left;}
									.m-model-title{display: none;}
								}
								.pd-add-cart{
									height: 90px;
									margin-top: 20px;
									overflow: hidden;
									.pd-add-cart-lf{
										float: left;
										color:@gray;
										text-align: left;
										margin-top: 20px;
										p{
											font-size:14px;
											color: @gray;
										}
										.p2{margin-top: 10px;}
									}
									.pd-add-cart-rt{
										float: right;
										margin-left: 40px;
										margin-top: 26px;
										button{
											width:120px;
											height:40px;
											border:none;
											outline: none;
											font-size: 14px;
											color:#fff;
											font-weight: bold;
											background: @purple;
											border-radius:2px;
										}
									}
									.pd-detail-smallImg{
										float: left;
										width: 90px;
										height: 90px;
									}
								}
								.pd-model-num{
									color:#1a1a1a;
									text-align: left;
									font-size: 18px;
									margin-top: 20px;
									.pd-num-change{
										display: inline-block;
										margin-left: 10px;
										span{
											position: relative;
											top: 4px;
											display: inline-block;
											width: 20px;
											text-align: center;
											font-size: 18px;
											margin:0 28px;
										}
										a{
											display: inline-block;
											width: 20px;
											height: 20px;
											vertical-align: middle;
											i{cursor: pointer;}
										}
									}
								}
							}
						}
					}
					.nth-child2{
						margin:0 20px;
						.pd-slider-cart{
							.pd-detail-select{right:90px;}
						}
					}
					.nth-child3{
						.pd-slider-cart{
							.pd-detail-select{right:90px;}
						}
					}
				}
			}
		}
	}
	.pd-container-1{margin-top: 50px;}
	.pd-container-2{
		padding-bottom:100px;
		.pd-inner{
			position: relative;
			.pd-detail{
				margin-top:50px !important;
				.pd-detail-left{
					float: right !important;
					width:490px;
				}
				.pd-detail-right{
					float: left !important;
					width: 430px;
					>h2{text-align: left;}
					.pd-price{
						text-align: left !important;
						.new-price{margin-left: 0 !important;}
						.old-price{margin-left: 10px !important;}
					}
					.pd-silder-select{
						text-align: left !important;
						>span{text-align: left;}
					}
					.pd-color-select{
						text-align: left !important;
						.pd-color-list{
							li{
								margin-right:0 !important;
								margin-left: 24px !important;
							}
						}
					}
					.pd-add-cart{
						.pd-add-cart-lf{
							float: left !important;
							margin-left: 40px !important;
							>p{text-align: left;}
						}
						.pd-add-cart-rt{
							float: left !important;
							margin-left: 0px !important;;
						}
					}
				}
			}
			.pd-down{
				display: none;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -75px;
				margin-bottom: -175px;
			}
		}
	}
}

.lm-sales{
	display: none;
	width: 960px;
	margin:0 auto;
	padding:104px 10px 130px;
	.pd-sales-title{
		font-size:36px;
		font-weight: bold;
		text-align: center;
		color:@green;
		span{color: @purple;}
	}
	.pd-sales-list{
		margin-top: 50px;
		overflow: hidden;
		dl{
			float: left;
			text-align: center;
			margin-left: 50px;
			dt{
				img{cursor: pointer;}
				.pd-sales-img2{display: none;}
			}
			dd{
				font-size: 14px;
				color: @gray;
				margin-top: 20px;
			}
		}
		.pd-sales-list-1{
			margin-left: 95px;
		}
	}
	.pd-sales-rule{
		width: 600px;
		margin:20px 0 20px 300px;
		h2{
			font-size: 14px;
			font-weight: bold;
			color:@green;
			line-height:24px;
			padding-left: 150px;
		}
		p{
			font-size: 14px;
			font-weight: bold;
			color:@purple;
			line-height:24px;
		}
	}
	.pd-sales-discount{
		.pd-discount-list{
			overflow: hidden;
			li{
				position: relative;
				float: left;
				width: 300px;
				height: 150px;
				text-align: center;
				margin-bottom: 30px;
				cursor: pointer;
				>h2{
					font-size:30px;
					font-weight: bold;
					color:#fff;
					text-shadow:0 0 4px rgba(0,0,0,0.16);
					margin-top: 42px;
				}
				>p{
					font-weight: bold;
					font-size:14px;
					color:#ffffff;
					text-shadow:0 0 4px rgba(0,0,0,0.16);
					margin-top: 10px;
				}
				img{
					position: absolute;
					top: 0;
					left: 0;
					display: none;
				}
			}
			.middle-child{margin:0 20px;}
			.discount-1{background-image:url("@{url}pd-discount-1.png"); }
			.discount-2{background-image:url("@{url}pd-discount-2.png"); }
			.discount-3{background-image:url("@{url}pd-discount-3.png"); }
			.discount-4{background-image:url("@{url}pd-discount-3.png"); }
			.discount-5{background-image:url("@{url}pd-discount-2.png"); }
			.discount-6{background-image:url("@{url}pd-discount-1.png"); }
			.discount-7{background-image:url("@{url}pd-discount-3.png"); }
			.discount-8{background-image:url("@{url}pd-discount-2.png"); }
			.discount-9{background-image:url("@{url}pd-discount-3.png"); }
		}
		.pd-discount-more{
			overflow: hidden;
			.pd-discount-select{
				float: left;
				a{
					img{cursor: pointer;}
				}
				span{
					font-size:14px;
					color:#1a1a1a;
					margin:0 24px;
				}
			}
			.pd-discount-arrow{
				float: right;
				a{
					font-size:14px;
					color:#1a1a1a;
				}
			}
		}
	}
}


/* 配置屏幕 */
@media screen and (max-width: 1366px), (max-device-width: 1366px) {
	.pd-img-large{
		margin-top:16px !important;
		margin-bottom:16px !important;
	}
	.lm-container{
		.pd-list{
			.pd-list-inner{
				padding-top: 16px;
				> dl dd{margin-top: 10px !important;}
			}
		}
	}
	.hiSlider-btn-next,.hiSlider-btn-prev{
		top:50%;
		width: 60px;
		height: 160px;
		line-height: 160px;
		margin-top: -80px;
		img{height: 80px;}
	}	
}

/* PC端增加hover事件 */
@media screen and (min-width: 1100px) {
	.pd-detail-right{
		>h2{
			a{
				transition: color .3s;
				-webkit-transition: color .3s;
				&:hover{
					color: @green !important;
					transition: color .3s;
					-webkit-transition: color .3s;
				}
			}
			
		}
	}
	.pd-add-cart-rt{
		button{
			-webkit-transition: all 1s;
			transition: all 1s;
			&:hover{
				background: @green !important;
				-webkit-transition: all 1s;
				transition: all 1s;
			}
		}
	}
	.pd-add-cart-img{
		-webkit-transition: all 1s;
		transition: all 1s;
		&:hover{
			-webkit-transition: all 1s;
			transition: all 1s;
			background: @green !important;;
			-webkit-box-shadow:0 10px 20px 0 rgba(142,192,96,0.50) !important;;
			box-shadow:0 10px 20px 0 rgba(142,192,96,0.50) !important;;
		}
	}
}

@media screen and (max-width: 992px), (max-device-width: 992px) {
	::-webkit-scrollbar{
		width: 0px;
	}
	/*滚动条的轨道*/
	::-webkit-scrollbar-track{
		width: 0px;
	}

	.LM-hiSlider{
		.m-banner{display: block;}
		.p-banner{display: none;}
	}
	.hiSlider-wrap{
		.hiSlider-btn-prev{display: none;}
		.hiSlider-btn-next{display: none;}
		.hiSlider-pages{
			bottom:0.02rem;
			margin-left: -0.31rem;
			a{
				border-width: 0.01rem;
				width: 0.2rem;
				height: 0.02rem;
				margin:0 0.01rem;
				background: #1f2c5c;
			}
			.active{background: #8ec060}
		}
	}
	.lm-container{
		width: 100%;
		.pd-list{
			height: 1.1rem;
			.pd-list-inner{
				width: 100%;
				position: static;
				left: 0;
				margin-left: 0;
				padding-top:0.12rem;
				dl{
					width: 33.33%;
					dd{
						margin-top:0.1rem !important;
						font-size: 0.1rem;
					}
					img{width: 0.2rem;}
				}
				.pd-list-inner-2{margin:0;}
			}
		}
		.pd-container{
			.pd-inner{
				width: 100%;
				padding:0 0.15rem;
				.pd-search{
					width: 1rem;
					height: 0.26rem;
					padding-top: 0;
					margin-top: .2rem;
					img{
						width: 0.12rem;
						top:0.07rem;
						left:0.22rem;
					}
					input{
						width: 0.6rem;
						height: 0.26rem;
						top:0;
						left:0.44rem;
						font-size: 0.1rem;
					}
				}
				.pd-title{
					margin-top: 0.3rem;
					font-size: 0.15rem;
				}
				.pd-detail{
					margin-top: .2rem !important;
					.pd-detail-left{
						width: 100%;
						a{
							display: inline-block;
							width: 100%;
							text-align: center;
						}
					}
					.pd-detail-right{
						width: 100%;
						.pd-detail-title,.pd-price{text-align: center !important;margin-top: .1rem;}
						.pd-detail-title{
							a{font-size: 0.14rem;}
						}
						.pd-price{
							.old-price{font-size: 0.1rem;}
							.new-price{font-size: 0.13rem;}
						}
						.pd-silder-select{
							margin-top: 0.1rem;
							text-align: left;
							.m-model-title{
								display: inline-block;
								font-size: 0.12rem;
								width: 16%;
								text-align: left;
							}
							.p-model-title{display: none;}
							>span{
								display: inline-block;
								font-size: 0.12rem;
								width: 16%;
								text-align: left;
							}
							.pd-model-main{
								width: 64%;
								.pd-model-large{
									li{
										font-size: 0.1rem;
									}
								}
							}
						}
						.pd-add-cart{
							margin-top: 0.1rem;
							.pd-add-cart-rt{
								float: left;
								text-align: left;
								margin-left: 0;
								padding-right: 0.05rem;
								button{
									width: 1.2rem;
									height: 0.32rem;
								}
							}
							.pd-add-cart-lf{
								float: left;
								text-align: left;
								margin-left: 0 !important;
								padding-left: 0.05rem;
								margin-top: .1rem;
								p{font-size: 0.01rem;}
							}
						}
					}
				}
				.pd-down{
					width: 0.56rem;
					height: 0.56rem;
					margin-left: -0.28rem;
					margin-bottom: -0.56rem;
				}
			}
		}
		.pd-container-1{
			margin-top: 0rem;
		}
		.pd-container-2{padding-bottom: 0.3rem;}
		.pd-slider{
			display: none;
		}
		.m-swiper-container{
			display: block;
			width: 100%;
			height: 2.5rem;
			padding: 0.3rem 0.1rem;
			.m-swiper-wrapper{
				.m-swiper-slide{
					width: 1.4rem !important;
					height: 2rem;
					text-align: center;
					background: #fff;
					margin-bottom: 6px;
					.pd-img{
						width: 1.4rem !important;
						height: 1.2rem;
						a{
							img{
								width: 100%;
								height: 1.2rem;
							}
						}
					}
					.pd-slider-title{
						height: 0.39rem;
						a{
							display: inline-block;
							width: 100%;
							font-size: 0.1rem;
							color: #1f2c5c;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							padding: 0 0.1rem;
						}
						p{
							font-size: 0.1rem;
							color: #1f2c5c;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							padding: 0 0.1rem;
						}
					}
					.pd-slider-cart{
						position: relative;
						height: 0.3rem;
						margin-top: 0.11rem;
						.pd-slider-price{
							float: left;
							height: 0.3rem;
							line-height: 0.3rem;
							.new-price{
								font-size: 0.12rem;
								font-weight: bold;
								color: #8ec060;
								margin-left: 0.06rem;
							}
							.old-price{
								display: none;
								font-size: 0.1rem;
								color: #ccc;
								text-decoration: line-through;
								margin-left: 0.04rem;
							}
						}
						.pd-add-cart-img{
							float: right;
							width: 0.42rem;
							height: 0.3rem;
							line-height: 0.3rem;
							text-align: center;
							background: #8ec060;
							-webkit-box-shadow: 0 0 20px 0 rgba(142, 192, 96, 0.8);
							box-shadow: 0 0 20px 0 rgba(142, 192, 96, 0.8);
							cursor: pointer;
							-webkit-transition-duration: .6s;
							transition-duration: .6s;
							img{width: 0.2rem;}
						}
					}
				}
			}
			.pd-slider-more{
				text-align: right;
				a{
					font-size: 0.12rem;
					color: #fff;
					i{margin-left: 6px;}
				}
			}
		}
	}
	.lm-sales{
		width: 100%;
		padding:0.46rem 0.15rem 0.46rem;
		.pd-sales-title{
			font-size: 0.15rem;
		}
		.pd-sales-list{
			margin-top: 0.2rem;
			>dl{
				margin-left: 0 !important;
				width: 50% !important;
				margin-bottom: 0.1rem;
				dt{
					img{
						width: 0.75rem;
						height: 0.4rem;
						margin:0 auto;
						-ms-touch-action:none;
						touch-action:none;
					}
				}
				dd{
					margin-top: 0.1rem;
					font-size: 0.12rem;
				}
			}
		}
		.pd-sales-rule{
			width: 100%;
			margin: 0.1rem 0 0.2rem;
			h2{
				width: 100%;
				text-align: center;
				padding-left: 0;
				font-size: 0.12rem;
			}
			p{
				width: 100%;
				text-align: left;
				font-size: 0.1rem;
			}
		}
		.pd-sales-discount{
			display: none;
		}
		.m-sales-container{
			display: block;
			.m-sales-wrapper{
				.m-sales-slide{
					margin-bottom: 6px !important;
					width: 48.5%;
					height: 0.7rem;
					text-align: center;
					background-image: url(../../images/EN/pd-discount-1.png);
					background-size: 100% 100%;
					img{
						width: 100%;
						height: 0.7rem;
						position: absolute;
						top: 0;
						left: 0;
						display: none;
					}
					h2{
						font-size: 0.14rem;
						margin-top: 0.15rem;
						font-weight: bold;
						color: #fff;
						text-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
					}
					p{
						font-size: 0.1rem;
						margin-top: 0.1rem;
						font-weight: bold;
						color: #fff;
						text-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
					}
				}
				.m-right-child{margin-left: 3% !important;}
			}
			.pd-discount-more{
				text-align: right;
				a{
					font-size: 0.12rem;
					color: #1a1a1a;
					i{
						color:#1a1a1a;
						margin-left: 6px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px){
	.lm-container .pd-container .pd-inner .pd-detail .pd-detail-left a img{
		width: 290px;
		height: 178px;
	}
	.lm-container .m-swiper-container{height: auto;}
	.lm-container .m-swiper-container .pd-slider-more{margin-top: 10px;}
	.lm-container .pd-container .pd-inner .pd-search img{left: .1rem;}
	.lm-container .pd-container .pd-inner .pd-search input{left: .3rem;}
}
