/* 定义变量 */
.pd-slider-wrap {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
}
.pd-slider-wrap .poster-list li {
  position: absolute;
  left: 0;
  top: 0;
}
.pd-slider-wrap .poster-list li a {
  display: block;
}
.pd-slider-wrap .poster-list li a img {
  display: block;
}
.pd-slider-wrap .poster-btn {
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
}
.pd-slider-wrap .poster-prev-btn {
  left: 0;
}
.pd-slider-wrap .poster-next-btn {
  right: 0;
}
.lm-slider-info-wrap {
  width: 940px;
  margin: 0 auto;
  margin-top: 50px;
}
.lm-slider-info-wrap .pd-slider-inner {
  height: 480px;
}
.lm-slider-info-wrap .pd-slider-info {
  height: 270px;
  overflow: hidden;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select {
  float: left;
  width: 50%;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price-select-title a {
  font-size: 30px;
  font-weight: bold;
  color: #1f2c5c;
  cursor: default;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price {
  margin-top: 30px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price .new-price {
  font-size: 30px;
  font-weight: bold;
  color: #8ec060;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-price .old-price {
  font-size: 20px;
  color: #ccc;
  margin-left: 14px;
  text-decoration: line-through;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num {
  font-size: 18px;
  color: #1a1a1a;
  margin-top: 14px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change {
  display: inline-block;
  margin-left: 10px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change span {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 20px;
  font-size: 18px;
  margin: 0 28px;
  text-align: center;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a .toggle-img02 {
  display: none;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a img {
  cursor: pointer;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a:hover {
  color: #8ec060;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a:hover .toggle-img02 {
  display: inline-block;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-num-change a:hover .toggle-img01 {
  display: none;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-model-num .pd-inventory-num {
  position: relative;
  top: 6px;
  display: inline-block;
  margin-left: 24px;
  color: #1a1a1a;
  font-size: 14px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner {
  margin-top: 14px;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .add-cart-btn,
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .pd-buy-btn {
  width: 150px;
  height: 40px;
  background: #1f2c5c;
  box-shadow: 0 10px 20px 0 rgba(31, 44, 92, 0.5);
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  outline: none;
  border: none;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .add-cart-btn:hover,
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .pd-buy-btn:hover {
  background: #8ec060;
  box-shadow: 0 10px 20px 0 rgba(142, 192, 96, 0.5);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-slider-info-wrap .pd-slider-info .pd-price-select .pd-add-cart-inner .pd-buy-btn {
  margin-left: 30px;
  display: none;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner {
  float: left;
  width: 50%;
  padding-top: 72px;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner .pd-freight-way {
  font-size: 18px;
  color: #1a1a1a;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner .pd-freight-way span {
  margin-left: 10px;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner .pd-silder-select {
  color: #1a1a1a;
  text-align: left;
  font-weight: 400;
  margin-top: 24px;
}
.lm-slider-info-wrap .pd-slider-info .pd-model-select-inner .pd-silder-select > span {
  text-align: left;
}
.lm-container {
  background: #333;
  min-height: 300px;
}
.lm-container .pd-show-tab {
  width: 790px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 64px;
  text-align: center;
}
.lm-container .pd-show-tab > a {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #808080;
}
.lm-container .pd-show-tab > a b {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 40px;
  height: 4px;
  margin-left: -20px;
  display: inline-block;
  visibility: hidden;
  background: #8ec060;
  border-radius: 25px;
}
.lm-container .pd-show-tab .active {
  color: #fff;
}
.lm-container .pd-show-tab .active b {
  visibility: visible;
}
.lm-container .pd-show-tab .pd-show-tab-comment {
  margin-left: 180px;
}
.lm-container .pd-shop-comments {
  width: 790px;
  min-height: 600px;
  margin: 0 auto;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail {
  width: 100%;
  min-height: 300px;
  background: #4d4d4d;
  border-radius: 2px;
  padding: 20px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title {
  border-bottom: 1px solid #fff;
  padding: 0 10px 20px;
  overflow: hidden;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-head {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-head img {
  width: 60px;
  height: 60px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-name {
  margin-left: 20px;
  float: left;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-name > h2 {
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
  color: #fff;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-name > p {
  margin-top: 12px;
  color: #ccc;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-name > p .shop-model {
  margin-left: 30px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-detail-title .shop-comments-detail-time {
  float: right;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  margin-top: 10px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-content {
  padding: 0 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-imgs {
  padding: 0 10px;
  margin-top: 20px;
  overflow: hidden;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-imgs > img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-answer {
  min-height: 80px;
  margin-top: 30px;
  margin: 30px 10px 0;
  padding: 20px 30px;
  border-radius: 16px;
  color: #1f2c5c;
  font-size: 14px;
  line-height: 20px;
  background: #8ec060;
}
.lm-container .pd-shop-comments .pd-shop-comments-detail .shop-comments-details-answer span {
  color: #fff;
}
.lm-container .pd-shop-comments .shop-comments-details-pages {
  margin-top: 50px;
  padding: 0 30px 100px;
  font-size: 18px;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
.lm-container .pd-shop-comments .shop-comments-details-pages .disabled {
  color: #ccc;
  margin: 0 15px;
}
.lm-container .pd-shop-comments .shop-comments-details-pages .current {
  color: #8ec060;
  margin: 0 15px;
}
.lm-container .pd-shop-comments .shop-comments-details-pages .nextPage {
  float: right;
}
.lm-container .pd-shop-comments .shop-comments-details-pages .prevPage {
  float: left;
}
.lm-container .pd-shop-comments .shop-comments-details-pages > a {
  color: #fff;
  font-size: 18px;
  margin: 0 15px;
}
.pd-silder-select > a i {
  color: #1a1a1a;
  font-weight: bold;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.pd-silder-select > a i:hover {
  color: #8ec060;
  transition: color .3s;
  -webkit-transition: color .3s;
}
