@charset "utf-8";
/* 引入字体 */
@font-face {
  font-family: CamptonBook;
  src: url(../fonts/Campton/Rene.Bieder_Campton.Book.otf);
}
@font-face {
  font-family: CamptonBookLight;
  src: url(../fonts/Campton/Rene.Bieder_Campton.Light.otf);
}
@font-face {
  font-family: CamptonBookBold;
  src: url(../fonts/Campton/Rene.Bieder_Campton.Bold.otf);
  font-weight: bold;
}
/* 定义变量 */
/* 定义颜色变量 */
/*ie8*/
/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar {
  width: 8px;
  background-color: #B0AEDA;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track {
  width: 8px;
  background-color: #fff;
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb {
  background-color: #1f2c5c;
  border: solid 1px #1f2c5c;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1f2c5c;
}
/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button {
  height: 0px;
  background-color: #1f2c5c;
}
/* IE下滚动条 */
/*三角箭头的颜色*/
* {
  scrollbar-arrow-color: #1f2c5c;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: #8ec060;
  /*滚动条整体颜色*/
  scrollbar-highlight-color: #8ec060;
  /*滚动条阴影*/
  scrollbar-shadow-color: none;
  /*滚动条轨道颜色*/
  scrollbar-track-color: #fff;
}
/* reset.css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover,
a:focus {
  /*color:#ff0700;*/
  text-decoration: none;
  outline: none;
}
input {
  border: 0;
  outline: none;
}
img {
  vertical-align: middle;
  border: none;
}
input::-ms-clear {
  display: none;
}
.ovfHiden {
  overflow: hidden;
  height: 100%;
}
/* project mcins style sheet*/
body {
  min-width: 320px;
  max-width: 1920px;
  font-family: CamptonBook;
  font-size: 14px;
  background: #FAFBFF;
}
/* 页面顶部 */
.lm-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 60px;
  line-height: 60px;
  max-width: 1920px;
  padding: 0 20px;
  text-align: center;
  background: #42958a;
  background: -webkit-linear-gradient(left, #42958a 0%, #1f2c5c 100%);
  background: -o-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
  background: -moz-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
  background: linear-gradient(to right, #42958a 0%, #1f2c5c 100%);
}
.lm-header .h-menu {
  position: absolute;
  width: 150px;
  height: 60px;
  font-size: 18px;
  color: #fff;
  text-align: right;
  cursor: pointer;
  background: url('../../../images/EN/menu.png') left center no-repeat;
}
.lm-header .h-menu > img {
  margin-right: 20px;
}
.lm-header .menu-guide {
  position: absolute;
  top: 15px;
  left: 200px;
  width: 210px;
  height: 30px;
  line-height: 30px;
  padding-left: 40px;
  color: #fff;
  background: url('../../../images/EN/menu-guide.png') left center no-repeat;
}
.lm-header .h-logo-wrap {
  width: 262px;
  height: 60px;
  margin: 0 auto;
  background: url('../../../images/EN/logo.png') center no-repeat;
  display: block;
}
.lm-header .h-right {
  position: absolute;
  right: 20px;
  top: 0;
}
.lm-header .h-right > div {
  float: left;
}
.lm-header .h-right > div > a {
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-right > div > a > span {
  margin-left: 4px;
}
.lm-header .h-right > div > a:hover {
  color: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-right .v-line {
  margin-left: 20px;
  margin-right: 20px;
}
.lm-header .h-right .v-line-2 {
  margin-right: 46px;
}
.lm-header .h-right .dot-login {
  margin-left: 10px;
  margin-right: 10px;
}
.lm-header .h-right .h-login > img,
.lm-header .h-right .h-registered > img {
  margin-right: 6px;
}
.lm-header .h-right .h-login {
  position: relative;
  height: 80px;
}
.lm-header .h-right .h-login .loginBtn {
  display: inline-block;
  height: 60px;
  text-align: right;
}
.lm-header .h-right .h-login .loginBtn .head-portrait {
  float: left;
  width: 24px;
  height: 60px;
  background: url('../../../images/EN/login.png') left center no-repeat;
}
.lm-header .h-right .h-login .login-menu {
  display: none;
  position: absolute;
  top: 76px;
  left: -180px;
  width: 240px;
  height: 120px;
  border-radius: 2px;
  background: #fff;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
}
.lm-header .h-right .h-login .login-menu > h2 {
  color: rgba(31, 44, 92, 0.8);
  font-size: 20px;
  font-family: CamptonBookBold;
}
.lm-header .h-right .h-login .login-menu > a {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  height: 34px;
  line-height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 40px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-right .h-login .login-menu > a:hover {
  color: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-right .h-login .login-menu .lm-currency {
  margin-top: 0;
  background: url('../../../images/EN/lm-currency.png') left center no-repeat;
  background-size: 20px;
  text-align: right;
  color: #8ec060;
}
.lm-header .h-right .h-login .login-menu .lm-personal-center {
  background: url('../../../images/EN/personal-icon.png') left center no-repeat;
  margin-top: 0;
}
.lm-header .h-right .h-login .login-menu .lm-logout {
  background: url('../../../images/EN/loginout-icon.png') left center no-repeat;
}
.lm-header .h-right .h-login .login-menu::before {
  position: absolute;
  top: -14px;
  right: 12px;
  z-index: 9;
  filter: alpha(opacity=0);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
}
.lm-header .h-right .success-h-login .loginBtn .head-portrait {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 50%;
  background-size: 30px 30px;
}
.lm-header .h-right .success-h-login > a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.lm-header .h-right .success-h-login:hover .login-menu {
  display: block;
}
.lm-header .h-right .success-h-login ~ .dot-login {
  display: none;
}
.lm-header .h-right .success-h-login ~ .h-registered {
  display: none;
}
.lm-header .h-phone {
  position: absolute;
  left: -50px;
  width: 80px;
  height: 80px;
  background: url('../../../images/EN/phone.png') center 20px no-repeat;
}
.lm-header .h-phone .phone-menu {
  display: none;
  position: absolute;
  top: 76px;
  left: -70px;
  width: 220px;
  border-radius: 2px;
  background: #fff;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
}
.lm-header .h-phone .phone-menu > h2 {
  color: rgba(31, 44, 92, 0.8);
  font-size: 20px;
  font-family: CamptonBookBold;
}
.lm-header .h-phone .phone-menu > p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  height: 25px;
  line-height: 32px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 40px;
  background: url('../../../images/EN/phone-bg.png') left center no-repeat;
}
.lm-header .h-phone .phone-menu .p1 {
  margin-top: 20px;
}
.lm-header .h-phone .phone-menu::before {
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -14px;
  z-index: 9;
  filter: alpha(opacity=0);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
}
.lm-header .h-phone:hover .phone-menu {
  display: block;
}
.lm-header .h-lang {
  position: absolute;
  right: -20px;
  width: 70px;
  height: 80px;
}
.lm-header .h-lang > p {
  width: 70px;
  height: 80px;
  background: url('../../../images/EN/lang-en.png') center 15px no-repeat;
}
.lm-header .h-lang .lang-menu {
  display: none;
  position: absolute;
  top: 76px;
  left: -216px;
  width: 278px;
  height: 160px;
  border-radius: 2px;
  background: #fff;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
}
.lm-header .h-lang .lang-menu > h2 {
  color: rgba(31, 44, 92, 0.8);
  font-size: 20px;
  font-family: CamptonBookBold;
}
.lm-header .h-lang .lang-menu > a {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  height: 34px;
  line-height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 40px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-lang .lang-menu > a:hover {
  color: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-lang .lang-menu .lang-en {
  margin-top: 20px;
  background: url('../../../images/EN/lang-en.png') left center no-repeat;
}
.lm-header .h-lang .lang-menu .lang-zh {
  background: url('../../../images/EN/lang-zh.png') left center no-repeat;
}
.lm-header .h-lang .lang-menu::before {
  position: absolute;
  top: -14px;
  right: 12px;
  z-index: 9;
  filter: alpha(opacity=0);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
}
.lm-header .h-lang:hover .lang-menu {
  display: block;
}
.lm-sub-header {
  position: relative;
  top: 0;
}
.lm-sub-header .h-menu,
.lm-sub-header .menu-guide {
  display: none;
}
.lm-sub-header .h-logo-wrap {
  margin: 0;
  display: block;
  cursor: pointer;
}
.lm-sub-header .h-right .h-phone {
  left: -150px;
}
.lm-sub-header .h-right .v-line,
.lm-sub-header .h-right .h-login,
.lm-sub-header .h-right .dot-login,
.lm-sub-header .h-right .h-registered {
  display: none;
}
.lm-subLogin-header .h-right .h-phone {
  left: -50px;
}
.lm-subLogin-header .h-right .v-line,
.lm-subLogin-header .h-right .h-login,
.lm-subLogin-header .h-right .dot-login,
.lm-subLogin-header .h-right .h-registered {
  display: inline-block;
}
/* 返回页面顶部 */
.BackToTop {
  display: none;
  position: fixed;
  right: 0;
  bottom: 130px;
  z-index: 99999;
  border-radius: 2px;
  width: 50px;
  height: 50px;
  padding-top: 7px;
  text-align: center;
  cursor: pointer;
  background: #1f2c5c;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.BackToTop img {
  margin-bottom: 2px;
}
.BackToTop .QRcode {
  margin-bottom: 15px;
}
.BackToTop .QRcode p {
  line-height: 14px;
  margin-bottom: 8px;
}
.BackToTop .QRcode .small-code:hover + .big-code {
  display: block;
}
.BackToTop .QRcode .big-code {
  display: none;
  position: absolute;
  left: -200px;
  top: 0;
}
.BackToTop p {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}
.BackToTop:hover {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  background: #8ec060;
  border-color: transparent;
}
/* loading */
.lm-loading {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  position: fixed;
  z-index: 99999;
  background: #f2f2f2;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.lm-loading img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.lm-footer {
  width: 100%;
  height: 270px;
  padding-top: 30px;
  text-align: center;
  background: #1f2c5c;
}
.lm-footer .footer-left {
  width: 400px;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}
.lm-footer .footer-right {
  height: 186px;
  margin-left: 400px;
  overflow: hidden;
}
.lm-footer .footer-bottom {
  padding-left: 96px;
  padding-right: 30px;
  margin-top: 20px;
}
.lm-footer .footer-bottom .f-local {
  display: block;
  float: left;
  margin-top: 0;
}
.lm-footer .footer-bottom .copyright {
  display: block;
  float: right;
  margin-top: 0;
}
.lm-footer .footer-box {
  float: left;
  width: 25%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.lm-footer .footer-box h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lm-footer .footer-box a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-footer .footer-box a:hover {
  color: #8ec060;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-footer .lm-logo {
  width: 140px;
  height: 53px;
  margin: 0 auto;
  background: url('../../../images/EN/lanmeiFooterLogo.png') center no-repeat;
}
.lm-footer .facebook {
  margin-top: 28px;
}
.lm-footer .facebook > .a1 {
  margin-right: 40px;
}
.lm-footer .facebook a {
  color: #07133e;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
.lm-footer .facebook a:hover {
  color: #8ec060;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
.lm-footer .f-email {
  color: #fff;
  margin-top: 28px;
}
.lm-footer .f-email > i {
  margin-right: 12px;
}
.lm-footer .f-local {
  display: none;
  margin-top: 14px;
}
.lm-footer .f-local > i {
  margin-right: 12px;
}
.lm-footer .f-local > i::before {
  color: #fff;
}
.lm-footer .f-local a {
  color: #fff;
}
.lm-footer .copyright {
  display: none;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.lm-footer .copyright a {
  color: rgba(255, 255, 255, 0.4);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-footer .copyright a:hover {
  color: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.ie8 .lm-header .h-phone .phone-menu > h2,
.ie8 .lm-header .h-lang .lang-menu > h2 {
  color: #4C567D;
}
.ie8 .lm-header .h-phone .phone-menu > p,
.ie8 .lm-header .h-lang .lang-menu a {
  color: #4C4C4C;
}
.ie8 .lm-header .h-phone .phone-menu > p:hover,
.ie8 .lm-header .h-lang .lang-menu a:hover {
  color: #8ec060;
}
.ie8 .lm-footer .copyright {
  color: #808080;
}
.ie8 .lm-footer .footer-box a {
  color: #808080;
}
.ie8 .icon-local::before {
  color: #fff;
}
/* 移动端新增代码 */
@media screen and (max-width: 1200px) {
  .lm-header .h-logo {
    display: none;
  }
  .lm-header .menu-guide {
    display: none;
  }
  .lm-header .mobile-logo {
    display: inline-block;
    height: 40px;
  }
  .lm-header .h-right .v-line {
    margin-left: 10px;
    margin-right: 10px;
  }
  .lm-header .h-right .v-line-2 {
    margin-right: 40px;
  }
  .lm-header .h-login span,
  .lm-header .h-registered span {
    display: none;
  }
  .lm-sub-header .h-right .h-phone {
    left: -110px;
  }
  .lm-sub-header .h-right .h-phone .phone-menu {
    width: 186px;
    height: 80px;
    padding: 10px;
  }
  .lm-sub-header .h-right .h-phone .phone-menu > h2 {
    font-size: 16px;
  }
  .lm-sub-header .h-right .h-phone .phone-menu > p {
    font-size: 14px;
    padding-left: 30px;
    background-size: 16px;
  }
  .lm-sub-header .h-right .h-phone .phone-menu .p1 {
    margin-top: 12px;
  }
  .lm-sub-header .h-lang .lang-menu {
    left: -130px;
    width: 190px;
    height: 126px;
    padding: 10px;
  }
  .lm-sub-header .h-lang .lang-menu > h2 {
    font-size: 16px;
  }
  .lm-sub-header .h-lang .lang-menu .lang-en {
    margin-top: 12px;
  }
  .lm-subLogin-header .h-right .h-phone {
    left: -50px;
  }
  .lm-footer {
    height: 240px;
  }
  .lm-footer .footer-right,
  .lm-footer .footer-bottom {
    display: none;
  }
  .lm-footer .footer-left {
    width: auto;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .lm-footer .f-local,
  .lm-footer .copyright {
    display: block;
  }
  .lm-footer .facebook,
  .lm-footer .f-email {
    margin-top: 16px;
  }
  .BackToTop {
    display: none;
    width: 0.3rem;
    height: 0.6rem;
    padding: 0.08rem 0 0.1rem;
  }
  .BackToTop .QRcode {
    height: 0.2rem;
    line-height: 0.2rem;
    margin-bottom: 0.04rem;
  }
  .BackToTop .QRcode p {
    display: none;
  }
  .BackToTop .QRcode .small-code {
    width: 0.2rem;
  }
  .BackToTop .QRcode .bg-code {
    width: 1rem;
    left: -1rem;
  }
  .BackToTop .top {
    height: 0.2rem;
    line-height: 0.2rem;
  }
  .BackToTop .top img {
    width: 0.14rem;
  }
  .BackToTop .top p {
    display: none;
  }
}
@media (max-width: 767px) {
  /*滚动条整体部分,必须要设置*/
  ::-webkit-scrollbar {
    width: 0px;
    background-color: #B0AEDA;
  }
  /*滚动条的轨道*/
  ::-webkit-scrollbar-track {
    width: 0px;
    background-color: #fff;
  }
  /*滚动条的滑块按钮*/
  ::-webkit-scrollbar-thumb {
    background-color: #8ec060;
    border: solid 1px #8ec060;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8ec060;
  }
  /*滚动条的上下两端的按钮*/
  ::-webkit-scrollbar-button {
    height: 0px;
    background-color: #1f2c5c;
  }
  .lm-header {
    position: absolute;
    z-index: 9;
    padding: 0 15px;
  }
  .lm-header .h-menu {
    width: 38px;
    background-image: url('../../../images/EN/svg/menu.svg');
  }
  .lm-header .h-menu span {
    display: none;
  }
  .lm-header .h-logo-wrap {
    width: 100px;
    background: url('../../../images/EN/svg/lanmeiFooterLogo.svg') center no-repeat;
    background-size: 100px;
  }
  .lm-header .h-right > div {
    display: none;
  }
  .lm-header .h-right .h-login {
    display: block;
    height: 60px;
  }
  .lm-header .h-right .h-login .loginBtn {
    width: 30px;
  }
  .lm-header .h-right .h-login .loginBtn .head-portrait {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    background: url('../../../images/EN/svg/m-login.svg') right center no-repeat;
    background-size: 30px 30px;
  }
  .lm-header .h-right .h-login .login-menu {
    top: 60px;
    left: -114px;
    width: 150px;
    height: 76px;
    padding: 6px;
  }
  .lm-header .h-right .h-login .login-menu .lm-personal-center {
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin-top: 0;
    margin-left: 10px;
    padding-left: 30px;
    background: url('../../../images/EN/svg/personal-icon.svg') left center no-repeat;
    background-size: 16px;
  }
  .lm-header .h-right .h-login .login-menu .lm-logout {
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin-top: 8px;
    margin-left: 10px;
    padding-left: 30px;
    background: url('../../../images/EN/svg/loginout-icon.svg') left center no-repeat;
    background-size: 16px;
  }
  .lm-header .h-right .h-login .login-menu::before {
    top: -7px;
    right: 12px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
  }
  .lm-header .h-lang > p {
    height: 60px;
  }
  .lm-sub-header {
    position: relative;
  }
  .lm-sub-header .h-right > div {
    height: 60px;
    display: block;
  }
  .lm-sub-header .h-phone {
    background: url('../../../images/EN/svg/phone.svg') center 20px no-repeat;
  }
  .lm-sub-header .h-phone .phone-menu > p {
    background: url('../../../images/EN/svg/phone-bg.svg') left center no-repeat;
  }
  .lm-sub-header .h-phone .phone-menu::before {
    left: 60%;
  }
  .lm-sub-header .h-lang > p {
    background: url('../../../images/EN/svg/lang-en.svg') center 15px no-repeat;
  }
  .lm-sub-header .h-lang .lang-menu .lang-en {
    background: url('../../../images/EN/svg/lang-en.svg') left center no-repeat;
  }
  .lm-sub-header .h-lang .lang-menu .lang-zh {
    background: url('../../../images/EN/svg/lang-zh.svg') left center no-repeat;
  }
  .lm-subLogin-header .h-right .h-phone,
  .lm-subLogin-header .h-right .v-line,
  .lm-subLogin-header .h-right .dot-login,
  .lm-subLogin-header .h-right .h-registered {
    display: none;
  }
  .lm-subLogin-header .h-right .v-line-2 {
    display: inline-block;
  }
  .lm-footer {
    height: 240px;
    padding-top: 20px;
  }
  .lm-footer .lm-logo {
    width: 100px;
    height: 38px;
    margin: 0 auto;
    background: url('../../../images/EN/svg/lanmeiFooterLogo.svg') center no-repeat;
  }
  .lm-footer .facebook {
    margin-top: 12px;
  }
  .lm-footer .facebook > a i {
    font-size: 20px;
  }
  .lm-footer .facebook .a1 {
    margin-right: 20px;
  }
  .lm-footer .f-email {
    margin-top: 12px;
  }
  .lm-footer .f-email > i {
    margin-right: 8px;
  }
  .lm-footer .f-local {
    margin-top: 8px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .lm-footer .f-local a {
    font-size: 12px;
    color: #fff;
  }
  .lm-footer .f-local > i {
    margin-right: 8px;
  }
  .lm-footer .f-local > i::before {
    color: #fff;
  }
  .lm-footer .copyright {
    margin-top: 8px;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .lm-footer .copyright a {
    font-size: 12px;
  }
  .lm-loading img {
    width: 160px;
  }
}
/* 登录窗口适配 */
@media screen and (max-width: 500px) {
  .modal .modal-dialog {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .modal .modal-dialog .modal-content {
    width: 100%;
  }
  .modal .modal-dialog .modal-content .modal-header {
    background-size: 110px 28px;
    padding: 8px;
  }
  .modal .modal-dialog .modal-content .modal-header .close {
    top: 0;
    font-size: 14px;
  }
  .modal .modal-dialog .modal-content .modal-header .close span {
    top: 0;
    font-size: 16px;
  }
  .modal .modal-dialog .modal-content .modal-body .loginTitle {
    font-size: 18px;
    margin-top: 10px;
  }
  .modal .modal-dialog .modal-content .modal-body form {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .modal .modal-dialog .modal-content .modal-body form input,
  .modal .modal-dialog .modal-content .modal-body form .on_changes,
  .modal .modal-dialog .modal-content .modal-body form button {
    width: 90%;
  }
  .modal .modal-dialog .modal-content .modal-body form input {
    height: 40px;
    font-size: 12px;
  }
  .modal .modal-dialog .modal-content .modal-body form #LanmeiPassword {
    margin-top: 10px;
  }
  .modal .modal-dialog .modal-content .modal-body form .on_changes {
    top: 39px;
    left: 5%;
  }
  .modal .modal-dialog .modal-content .modal-body form #f-LanmeiPassword {
    width: 50%;
  }
  .modal .modal-dialog .modal-content .modal-body form #f-getPasswordBtn {
    width: 38%;
    margin-left: 2%;
  }
  .modal .modal-dialog .modal-content .modal-body form .userLoginBtn {
    margin-top: 0;
  }
  .modal .modal-dialog .modal-content .modal-body form .agree {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .modal .modal-dialog .modal-content .modal-body form .agree p {
    width: 90%;
    font-size: 12px;
    line-height: 16px;
  }
  .modal .modal-dialog .modal-content .modal-body form .agree p a {
    font-size: 12px;
  }
  .modal .modal-dialog .modal-content .modal-body form .agree span {
    margin-top: 1px;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper > h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper > img {
    display: none;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerContent {
    margin-top: 10px;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerContent .agree {
    padding: 0 !important;
    width: 90%;
    margin: 0 auto 10px;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerContent .agree p {
    width: 88%;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerInfo input {
    padding-left: 50px !important;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerInfo img {
    left: 36px;
    top: 14px;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerInfo p {
    padding: 1px 10px 1px 29px;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerPassword img,
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .repeatPassword img {
    left: 36px;
    top: 10px;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerPassword p,
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .repeatPassword p {
    padding: 1px 10px 1px 29px;
  }
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .registerPassword p span,
  .modal .modal-dialog .modal-content .modal-body .registerWrapper .repeatPassword p span {
    display: none;
  }
  .modal .modal-dialog .modal-content .modal-footer {
    padding-bottom: 20px;
  }
  #logonModal .agree p {
    display: none;
    width: 65%;
  }
  #logonModal .agree span {
    display: none;
  }
  #logonModal .agree a {
    height: 25px;
    line-height: 25px;
  }
}
/* 游记弹出框样式 */
.travel-diary .diaryModal {
  background: #ffffff;
}
.travel-diary .modal-content {
  width: 100%;
  height: 760px;
  background: rgba(241, 250, 255, 0.8);
  box-shadow: 0 0 50px 0 rgba(111, 162, 246, 0.5);
  border-radius: 10px;
  border: none;
}
.travel-diary .close-diary {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: 300px;
  background: url('../../../images/EN/mobal-close.png') center no-repeat #fff;
  box-shadow: 0 0 30px 0 rgba(170, 199, 249, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  opacity: 1;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .travel-diary .close-diary {
    top: 20px;
  }
}
/* 公共按钮 */
.lm-btn {
  color: #fff;
  border: none;
  outline: none;
  border-radius: 2px;
  text-align: center;
  background: #1f2c5c;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-btn:hover {
  color: #fff;
  background: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
