@charset "utf-8";

/* 引入字体 */
@font-face {
	font-family: CamptonBook;
	src: url(../fonts/Campton/Rene.Bieder_Campton.Book.otf);
}
@font-face {
	font-family: CamptonBookLight;
	src: url(../fonts/Campton/Rene.Bieder_Campton.Light.otf);
}
@font-face {
	font-family: CamptonBookBold;
	src: url(../fonts/Campton/Rene.Bieder_Campton.Bold.otf);
	font-weight:bold;
}
/* 定义变量 */
@url:"../../../images/EN/";
@url2:"../../../imgage_demo/";
/* 定义颜色变量 */
@green:#8ec060;
@purple:#1f2c5c;
@webkit-linear:-webkit-linear-gradient(left, #42958a 0%, #1f2c5c 100%);
@o-linear:-o-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
@moz-linear:-moz-linear-gradient(right, #42958a 0%, #1f2c5c 100%);
@linear:linear-gradient(to right, #42958a 0%, #1f2c5c 100%);
@filter:alpha progid:DXImageTransform.Microsoft.gradient(startcolorstr=#42958a, endcolorstr=#1f2c5c, gradientType=1); /*ie8*/
@FBook:CamptonBook;
@FBold:CamptonBookBold;
@FLight:CamptonBookLight;

.greenRgb(@opacity){
	color: rgba(142,192,96,@opacity);
}
.purpleRgb(@opacity){
	color: rgba(31,44,92,@opacity);
}
.blackRgb(@opacity){
	color: rgba(0,0,0,@opacity);
}
.blackBgRgb(@opacity){
	background: rgba(0,0,0,@opacity);
}
.whiteRgb(@opacity){
	color: rgba(255,255,255,@opacity);
}
.whiteBgRgb(@opacity){
	background: rgba(255,255,255,@opacity);
}
.purpleBgRgb(@opacity){
	background: rgba(31,44,92,@opacity);
}

/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar{
	width: 8px;
	background-color: #B0AEDA;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track{
	width: 8px;
	background-color: #fff;
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb{
	background-color: #8ec060;
	border: solid 1px #8ec060;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #8ec060;
}
/*滚动条的上下两端的按钮*/
::-webkit-scrollbar-button{
	height: 0px;
	background-color: #1f2c5c;
}

/* IE下滚动条 */
/*三角箭头的颜色*/
*{
	scrollbar-arrow-color: #1f2c5c;
	/*滚动条滑块按钮的颜色*/
	scrollbar-face-color: #8ec060;
	/*滚动条整体颜色*/
	scrollbar-highlight-color: #8ec060;
	/*滚动条阴影*/
	scrollbar-shadow-color: none;
	/*滚动条轨道颜色*/
	scrollbar-track-color: #fff;
}

/* reset.css */
body,h1,h2,h3,h4,h5,h6,p,ul,li,input {
	margin: 0;
	padding: 0;
}
ul,li {
	list-style: none;
}
a {
	color:#666;
	text-decoration: none;
}
a:hover,
a:focus {
	/*color:#ff0700;*/
	text-decoration:none;
	outline:none;
}
input {
	border:0;
	outline: none;
}
img {
	vertical-align:middle;
	border:none;
}
input::-ms-clear{display : none; }
.ovfHiden{overflow: hidden;height: 100%;}

/* project mcins style sheet*/
body {
	min-width: 320px;
	max-width: 1920px;
	font-family: CamptonBook,"Microsoft YaHei",sans-serif;
	font-size: 14px;
	color: #fff;
	background: #FAFBFF;
}

/* 页面顶部 */
.lm-header{
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	text-align: center;
	background: @webkit-linear;
	background: @o-linear;
	background: @moz-linear;
	background: @linear;
	.h-menu{
		position: absolute;
		width: 110px;
		height: 60px;
		font-size:18px;
		text-align: right;
		cursor: pointer;
		background: url('@{url}menu.png') left center no-repeat;
		>img{margin-right: 20px;}
	}
	.h-logo-wrap{
		width: 262px;
		height: 60px;
		margin:0 auto;
		background: url('@{url}logo.png') center no-repeat;
	}
	.h-right{
		position: absolute;
		right: 20px;
		top: 0;
		>div{
			float: left;
			>a{
				color:#fff;
				&:hover{
					color: #fff;
				}
			}
		}
		.v-line{
			margin-left: 20px;
			margin-right: 20px;
		}
		.v-line-2{margin-right: 46px;}
		.dot-login{
			margin-left: 10px;
			margin-right: 10px;
		}
		.h-login>img,.h-registered>img{margin-right: 6px;}
		.h-login{
			position: relative;
			height: 80px;
			.loginBtn{
				display: inline-block;
				height: 60px;
			    text-align: right;
			    .head-portrait{
			    	float: left;
			    	width: 24px;
			    	height: 60px;
			    	background: url('@{url}login.png') left center no-repeat;
			    }
			}
			.login-menu{
				display: none;
				position: absolute;
				top: 76px;
				left: -180px;
				width: 240px;
				height: 120px;
				border-radius: 2px;
				background: #fff;
				padding: 20px;
				text-align: left;
				box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
				>h2{
					.purpleRgb(.8);
					font-size: 20px;
					font-family: @FBold;
				}
				>a{
					display: block;
					font-size: 16px;
					.blackRgb(.7);
					height: 34px;
					line-height: 40px;
					margin-top: 10px;
					margin-left: 10px;
					padding-left: 40px;
					transition:all .3s;
					-webkit-transition:all .3s;
					&:hover{
						color: @green;
						transition:all .3s;
						-webkit-transition:all .3s;
					}
				}
				.lm-currency{
					margin-top: 0;
					background: url('@{url}lm-currency.png') left center no-repeat;
					background-size: 20px;
					text-align: right;
					color: @green;
				}
				.lm-personal-center{
					background: url('@{url}personal-icon.png') left center no-repeat;
					margin-top: 0;
				}
				.lm-logout{
					background: url('@{url}loginout-icon.png') left center no-repeat;
				}
				&::before{
					position: absolute;
					top: -14px;
					right: 12px;
					z-index: 9;
					filter:alpha(opacity=0);
					content: "";
					display: block;
					width: 0;
					height: 0;
					border-left: 14px solid transparent;
					border-right: 14px solid transparent;
					border-bottom: 14px solid #fff;
				}
			}
		}
		.success-h-login{
			.loginBtn{
				.head-portrait{
					width: 30px;
				    height: 30px;
				    margin-right: 10px;
			        margin-top: 15px;
				    border-radius: 50%;
					background-size: 30px;
				}
			}
			>a{
				img{
					width: 30px;
					height: 30px;
					border-radius: 50%;
				}
			}
			&:hover{
				.login-menu{display: block;}
			}
		}
	}
	.h-phone{
		position: absolute;
		left: -50px;
		width: 80px;
		height: 80px;
		.phone-menu{
			display: none;
			position: absolute;
			top: 76px;
			left: -66px;
			width: 220px;
			height: 178px;
			border-radius: 2px;
			background: #fff;
			padding: 20px;
			text-align: left;
			box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
			>h2{
				.purpleRgb(.8);
				font-size: 20px;
				font-family: @FBold;
			}
			>p{
				font-size: 16px;
				.blackRgb(.7);
				height: 25px;
				line-height: 32px;
				margin-top: 10px;
				margin-left: 10px;
				padding-left: 40px;
				background: url('@{url}phone-bg.png') left center no-repeat;
			}
			.p1{margin-top: 20px;}
			&::before{
				position: absolute;
				top: -14px;
				left: 96px;
				z-index: 9;
				filter:alpha(opacity=0);
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-left: 14px solid transparent;
				border-right: 14px solid transparent;
				border-bottom: 14px solid #fff;
			}
		}
		&:hover{.phone-menu{display: block;}}
	}
	.h-lang{
		position: absolute;
		right: -20px;
		width: 70px;
		height: 80px;
		.lang-menu{
			display: none;
			position: absolute;
			top: 76px;
			left: -216px;
			width: 278px;
			height: 160px;
			border-radius: 2px;
			background: #fff;
			padding: 20px;
			text-align: left;
			box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
			>h2{
				.purpleRgb(.8);
				font-size: 20px;
				font-family: @FBold;
			}
			>a{
				display: block;
				font-size: 16px;
				.blackRgb(.7);
				height: 34px;
				line-height: 40px;
				margin-top: 10px;
				margin-left: 10px;
				padding-left: 40px;
				transition:all .3s;
				-webkit-transition:all .3s;
				&:hover{
					color: @green;
					transition:all .3s;
					-webkit-transition:all .3s;
				}
			}
			.lang-en{
				margin-top: 20px;
				background: url('@{url}lang-en.png') left center no-repeat;
			}
			.lang-zh{
				background: url('@{url}lang-zh.png') left center no-repeat;
			}
			&::before{
				position: absolute;
				top: -14px;
				right: 12px;
				z-index: 9;
				filter:alpha(opacity=0);
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-left: 14px solid transparent;
				border-right: 14px solid transparent;
				border-bottom: 14px solid #fff;
			}
		}
		&:hover{.lang-menu{display: block;}}
	}
}
/* 返回页面顶部 */
.BackToTop{
	display: none;
	position: fixed;
	right: 0;
	bottom: 130px;
	z-index: 99999;
	border-radius: 2px;
	width: 50px;
	height: 50px;
	padding-top: 7px;
	text-align: center;
	cursor: pointer;
	background: @green;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	img{margin-bottom: 2px;}
	.QRcode{
		margin-bottom: 15px;
		p{
			line-height: 14px;
			margin-bottom: 8px;
		}
		.small-code{
			&:hover+.big-code{
				display: block;
			}
		}
		.big-code{
			display: none;
			position: absolute;
			left: -200px;
			top: 0;
		}
	}
	p{
		font-size:12px;
		color:#fff;
		letter-spacing:0;
		text-align:center;
	}
	&:hover{
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		background: #8ec060;
		border-color:transparent;
	}
}
/* loading */
.lm-loading{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	// background: url("@{url}gif-bg.jpg") center no-repeat;
	background: #f2f2f2;
	img{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin:auto;
	}
}

.lm-footer{
	width: 100%;
	height: 250px;
	padding-top: 30px;
	text-align: center;
	background: @purple;
	.lm-logo{
		width: 140px;
		height: 53px;
		margin:0 auto;
		background: url('@{url}lanmeiFooterLogo.png') center no-repeat;
	}
	.facebook{
		margin-top: 16px;
		>.a1{margin-right: 40px;}
		a{
			color: #07133e;
			-webkit-transition-duration: .5s;
			transition-duration: .5s;
			&:hover{
				color: #8ec060;
				-webkit-transition-duration: .5s;
				transition-duration: .5s;
			}
		}
	}
	.f-email{
		margin-top: 18px;
		>i{margin-right: 12px;}
	}
	.f-local{
		margin-top: 14px;
		>i{
			margin-right: 12px;
			&::before{color: #fff;}
		}
		a{
			color: #fff;
		}
	}
	.copyright{
		margin-top: 14px;
		color:rgba(255,255,255,.4);
		a{
			color:rgba(255,255,255,.4);
			transition:all .3s;
			-webkit-transition:all .3s;
			&:hover{
				color: @green;
				transition:all .3s;
				-webkit-transition:all .3s;
			}
		}
	}
}

.lte_ie9{
	.lm-header{
		background: #42958a;
	}
}

.ie8{
	.lm-header .h-phone .phone-menu > h2,
	.lm-header .h-lang .lang-menu > h2{
		color: #4C567D;
	}
	.lm-header .h-phone .phone-menu > p,
	.lm-header .h-lang .lang-menu a{
		color: #4C4C4C;
	}
	.lm-header .h-phone .phone-menu > p:hover,
	.lm-header .h-lang .lang-menu a:hover{
		color: #8ec060;
	}
}

/* 移动端新增代码 */
@media screen and (max-width: 992px) {
	.lm-header{
		.h-logo{display: none;}
		.mobile-logo{
			display: inline-block;
			height: 40px;
		}
		.h-right{
			.v-line{margin-left: 10px;margin-right: 10px;}
			.v-line-2{margin-right: 40px;}
		}
		.h-login,.h-registered {
			span{display: none;}
		}
	}
	.BackToTop{
		display: none;
		width: 0.3rem;
		height: 0.6rem;
		padding: 0.08rem 0 0.1rem;
		.QRcode{
			height: 0.2rem;
			line-height: 0.2rem;
			margin-bottom: 0.04rem;
			p{display: none;}
			.small-code{width: 0.2rem;}
			.bg-code{
				width: 1rem;
				left: -1rem;
			}
		}
		.top{
			height: 0.2rem;
			line-height: 0.2rem;
			img{width: 0.14rem;}
			p{display: none;}
		}
	}
}

@media (max-width: 767px){
	/*滚动条整体部分,必须要设置*/
	::-webkit-scrollbar{
		width: 0px;
		background-color: #B0AEDA;
	}
	/*滚动条的轨道*/
	::-webkit-scrollbar-track{
		width: 0px;
		background-color: #fff;
	}
	/*滚动条的滑块按钮*/
	::-webkit-scrollbar-thumb{
		background-color: #8ec060;
		border: solid 1px #8ec060;
		border-radius: 4px;
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: #8ec060;
	}
	/*滚动条的上下两端的按钮*/
	::-webkit-scrollbar-button{
		height: 0px;
		background-color: #1f2c5c;
	}

	.lm-header{
		position: absolute;
		z-index: 9;
		padding:0 15px;
		.h-menu {
			width: 38px;
			background-image: url('@{url}svg/menu.svg');
			span{display: none;}
		}
		.h-logo-wrap{
		    width: 100px;
			background: url('@{url}svg/lanmeiFooterLogo.svg') center no-repeat;
			background-size: 100px;
		}
		.h-right > div{display: none;}
		.h-right .h-login{
			display: block;
			height: 60px;
			.loginBtn{
				width: 30px;
				.head-portrait{
					width: 30px;
					height: 30px;
					margin-top: 15px;
					background: url('@{url}svg/m-login.svg') right center no-repeat;
				}
			}
			.login-menu{
				top: 60px;
				left: -114px;
				width: 150px;
				height: 76px;
				padding: 6px;
				.lm-personal-center{
					background-size: 16px;
					font-size: 12px;
					height: 26px;
					line-height: 26px;
					margin-top: 0;
					margin-left: 10px;
					padding-left: 30px;
					background: url('@{url}svg/personal-icon.svg') left center no-repeat;
					background-size: 16px;
				}
				.lm-logout{
					background-size: 16px;
					font-size: 12px;
					height: 26px;
					line-height: 26px;
					margin-top: 8px;
					margin-left: 10px;
					padding-left: 30px;
					background: url('@{url}svg/loginout-icon.svg') left center no-repeat;
					background-size: 16px;
				}
				&::before{
					top: -7px;
					right: 12px;
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 7px solid #fff;
				}
			}
		}
	}

	.lm-footer{
		height: 240px;
		padding-top: 20px;
		.lm-logo{
			width: 100px;
			height: 38px;
			margin:0 auto;
			background: url('@{url}svg/lanmeiFooterLogo.svg') center no-repeat;
		}
		.facebook{
			margin-top: 12px;
			>a{
				i{font-size: 20px;}
			}
			.a1{margin-right: 20px;}
		}
		.f-email{
			margin-top: 12px;
			>i{margin-right: 8px;}
		}
		.f-local{
			margin-top: 8px;
			padding-left: 10px;
			padding-top: 10px;
			a{font-size: 12px;color: #fff;}
			>i{
				margin-right: 8px;
				&::before{color: #fff;}
			}
		}
		.copyright{
			margin-top: 8px;
			font-size: 12px;
			padding-left: 8px;
			padding-right: 8px;
			a{font-size: 12px;}
		}
	}

	.lm-loading img{width: 160px;}
}

/* 登录窗口适配 */
@media screen and (max-width: 500px) {
	.modal{
		.modal-dialog{
			width: 80%;
			margin:0 auto;
			margin-top: 50px;
			.modal-content{
				width: 100%;
				.modal-header{
					background-size: 110px 28px;
					padding:8px;
					.close{
						top:0;
						font-size: 14px;
						span{
							top: -2px;
							font-size: 24px;
						}
					}
				}
				.modal-body{
					.loginTitle{
						font-size: 18px;
						margin-top: 10px;
					}
					form{
						margin-top: 10px;
						margin-bottom: 10px;
						input,.on_changes,button{
							width: 90%;
						}
						input{
							height: 40px;
							font-size: 12px;
						}
						#LanmeiPassword{
							margin-top: 10px;
						}
						.on_changes{
							top: 39px;
							left: 5%;
						}
						#f-LanmeiPassword{width: 50%;}
						#f-getPasswordBtn{
							width: 38%;
							margin-left: 2%;
						}
						.userLoginBtn{
							margin-top: 0;
						}
						.agree{
							margin-top: 10px;
							margin-bottom: 10px;
							p{
								width: 90%;
								font-size: 12px;
								line-height: 16px;
								a{font-size: 12px;}
							}
							span{margin-top: 1px;}
						}
					}
					.registerWrapper{
						>h2{
							font-size: 18px;
							margin-top: 10px;
						}
						>img{display: none;}
						.registerContent{
							margin-top: 10px;
							.agree{
								padding: 0 !important;
								width: 90%;
								margin: 0 auto 10px;
								p{width: 88%;}
							}
						}
						.registerInfo{
							input{padding-left: 50px !important;}
							img{
								left: 36px;
								top: 14px;
							}
							p{
								padding: 1px 10px 1px 29px;
							}
						}
						.registerPassword,.repeatPassword{
							img{
								left: 36px;
								top: 10px;
							}
							p{
								padding: 1px 10px 1px 29px;
								span{display: none;}
							}
						}
					}
				}
				.modal-footer{
					padding-bottom: 20px;
				}
			}
		}
	}
	#logonModal{
		.agree{
			p{
				display: none;
				width: 65%;
			}
			span{display: none;}
			a{
				height: 25px;
				line-height: 25px;
			}
		}
	}
}	
