@charset "utf-8";
/* 定义变量 */
/* 定义颜色变量 */
.siteMapBanner {
  position: absolute;
  top: 60px;
  z-index: -1;
  width: 100%;
  height: 200px;
  background: url('../images/site-map-bg.png') center no-repeat;
}
.siteMapBanner h2 {
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  background: -webkit-linear-gradient(left, rgba(66, 149, 138, 0.6), rgba(31, 44, 92, 0.6));
  background: -o-linear-gradient(right, rgba(66, 149, 138, 0.6), rgba(31, 44, 92, 0.6));
  background: -moz-linear-gradient(right, rgba(66, 149, 138, 0.6), rgba(31, 44, 92, 0.6));
  background: linear-gradient(to right, rgba(66, 149, 138, 0.6), rgba(31, 44, 92, 0.6));
  filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#42958a, endcolorstr=#1f2c5c, gradientType=1);
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
.siteMapWrapper {
  width: 960px;
  min-height: 300px;
  margin: 220px auto 56px;
  padding: 0 10px;
}
.siteMapWrapper .site-map-box {
  background: #fff;
  border-radius: 10px;
  padding: 0 20px;
  margin-bottom: 20px;
}
.siteMapWrapper .site-map-box .site-map-title {
  height: 60px;
  padding: 0 10px;
  cursor: pointer;
}
.siteMapWrapper .site-map-box .site-map-title h2 {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #1f2c5c;
}
.siteMapWrapper .site-map-box .site-map-title img {
  float: right;
  margin-top: 28px;
}
.siteMapWrapper .site-map-box .site-map-title .img01 {
  display: none;
  margin-top: 20px;
}
.siteMapWrapper .site-map-box .site-map-content {
  overflow: hidden;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;
}
.siteMapWrapper .site-map-box .site-map-content > li {
  float: left;
  width: 20%;
  height: 160px;
  margin-top: 20px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.siteMapWrapper .site-map-box .site-map-content > li > a {
  display: inline-block;
  width: 160px;
  font-size: 14px;
  color: #1f2c5c;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.siteMapWrapper .site-map-box .site-map-content > li > ul li {
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.siteMapWrapper .site-map-box .site-map-content > li > ul li a {
  display: inline-block;
  width: 160px;
  color: #808080;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.siteMapWrapper .site-map-box .site-map-content > li > ul li a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #8ec060;
}
.siteMapWrapper .site-map-box .site-about-us li,
.siteMapWrapper .site-map-box .site-travel li,
.siteMapWrapper .site-map-box .site-shopping li {
  height: 30px;
}
/* 配置屏幕 */
@media screen and (max-width: 992px) {
  .siteMapBanner {
    position: static;
    height: 1.3rem;
  }
  .siteMapBanner h2 {
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0.3rem;
  }
  .siteMapWrapper {
    width: 100%;
    padding: 15px;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }
  .siteMapWrapper .site-map-box .site-map-content > li {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .siteMapWrapper .site-map-box .site-map-content > li {
    width: 50%;
  }
}
