/* 定义变量 */
/* 定义颜色变量 */
.lm-section {
  width: 940px;
  min-height: 300px;
  margin: 0 auto;
}
.lm-section .title h1 {
  font-size: 50px;
  color: #1f2c5c;
}
.lm-section .check-steps {
  margin-top: 30px;
  margin-bottom: 50px;
}
.lm-section .check-steps h2 {
  font-size: 18px;
  font-weight: bold;
  color: #1f2c5c;
  margin: 20px 0 10px;
  line-height: 28px;
}
.lm-section .check-steps p {
  font-size: 14px;
  color: #808080;
  margin-top: 20px;
  line-height: 26px;
}
@media screen and (max-width: 992px) {
  .lm-section {
    width: 100%;
    padding: 15px;
  }
  .lm-section .title h1 {
    font-size: 0.26rem;
    text-align: center;
  }
  .lm-section .check-steps {
    margin-top: 0;
  }
}
