@charset "utf-8";

@url:"../images/icon/";
@url2:"../images/resource/";
@color_1: #42958a;
@purple: #1f2c5c;
@purple: #1f2c5c;
@green: #8ec060;
@gray: #181819;

body{
	background: #F8FAFE;
	// background: url('@{url2}body.jpg') center no-repeat;
    background-size: cover;
}
.lm-sub-header{
	background: #253F64;
}
.lm-logo-wrap{
	text-align: center;
	margin-top: 50px;
	color: @purple;
    font-size: 36px;
}

.lm-search-wrap{
	width: 550px;
	margin: 50px auto;
	margin-top: 30px;
	input{
		width: 500px;
		height: 40px;
		padding:10px;
		background: #fff;
		border: 1px solid @color_1;
	}
	.search-button{
		width: 50px;
		height: 40px;
		float: right;
		background: url('@{url}icon-search.png') center no-repeat @color_1;
		background-size: 22px;
		cursor: pointer;
	}
}

.lm-hotSearch-wrap{
	width: 1190px;
	padding-top: 50px;
	margin: 0 auto 50px;
	.hotSearch-box{
		overflow: hidden;
		>li{
			float: left;
			width: 10%;
			height: 62px;
			text-align: center;
			p{
				margin-top: 10px;
				font-size: 14px;
				color: @gray;
				overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
			img{
				width: 100%;
				height: 100%;
				transition: all .3s;
				-webkit-transition: all .3s;
			}
			&:hover{
				img{
					box-shadow: 0px 8px 12px #ddd;
					transition: all .3s;
					-webkit-transition: all .3s;
				}
			}
		}
	}
}

.lm-searchList-wrap{
	width: 1190px;
	margin: 20px auto 100px;
	overflow: hidden;
	.searchList-box{
		width: 100%;
		margin-bottom: 30px;
		h2{
			color: @purple;
			font-size: 22px;
			border-left: 4px solid #253F64;
			padding-left: 10px;
			// img{
			// 	margin-right: 10px;
			// 	height: 26px;
			//     vertical-align: bottom;
			// }
		}
		.list-inner{
			display: inline-block;
			width: 100%;
			li{
				width: 20%;
				float: left;
			    margin-top: 20px;
			    padding-left: 10px;
			    padding-right: 10px;
		        text-overflow: ellipsis;
		        white-space: nowrap;
		        >div{
		        	width: 100%;
		        	height: 100%;
		        	padding: 10px;
		        	background: #fff;
		        	box-shadow: 0 2px 2px rgba(84, 48, 132, 0.06);
		        	cursor: pointer;
        		    overflow: hidden;
        	        text-overflow: ellipsis;
        	        white-space: nowrap;
		        	-webkit-transition: all .2s;
		        	transition: all .2s;
		        	&:hover{
		        		box-shadow: 0 30px 28px -16px rgba(0, 0, 0, 0.26);
	        		    transform: translate(0, -4px);
	        		    -webkit-transition: all .2s;
	        		    transition: all .2s;
		        	}
		        }
			    a{
			    	color: @gray;
			    	font-size: 16px;
			    	transition: color .3s;
			    	-webkit-transition: color .3s;
			    	&:hover{
			    		color: @green;
			    		transition: color .3s;
			    		-webkit-transition: color .3s;
			    	}
			    }
			    p{
			    	margin-top: 10px;
			    	font-size: 14px;
			    	color: rgba(31,44,92,.3);
	    		    overflow: hidden;
	    	        text-overflow: ellipsis;
	    	        white-space: nowrap;
			    }
			}
		}
	}
}

@media (max-width: 1200px){
	.section-wrap{
		padding-left: 20px;
		padding-right: 20px;
	}
	.lm-hotSearch-wrap{
		width: 100%;
	}
	.lm-searchList-wrap{
		width: 100%;
	}
}
@media (max-width: 992px){
	.lm-hotSearch-wrap {
		.hotSearch-box {
			> li{
				width: 20%;
				height: auto;
			}
		}
	}
	.lm-searchList-wrap {
		.searchList-box {
			.list-inner li{width: 25%;}
		}
	}
}
@media (max-width: 767px){
	.section-wrap{
		padding-left: 10px;
		padding-right: 10px;
	}
	.lm-hotSearch-wrap{
		padding-top: 20px;
		margin-bottom: 20px;
		.hotSearch-box {
			> li{
				width: 25%;
			}
		}
	}
	.lm-searchList-wrap {
		margin-bottom: 30px;
		.searchList-box {
			margin-bottom: 20px;
			h2{
				font-size: 18px;
				// img{height: 20px;}
			}
			.list-inner li{
				width: 50%;
				margin-top: 10px;
				padding-left: 5px;
				padding-right: 5px;
				&:nth-child(odd){
					padding-left: 0;
				}
				&:nth-child(even){
					padding-right: 0;
				}
				>div{
					&:hover{
						box-shadow: 0 20px 10px -16px rgba(0, 0, 0, 0.26);
					}
				}
				a{font-size: 14px;}
				p{
					margin-top: 6px;
					font-size: 12px;
				}
			}
		}
	}
}
