@charset "utf-8";
.lm-logo-wrap {
  text-align: center;
  margin-top: 50px;
  color: #1f2c5c;
  font-size: 36px;
}
.lm-search-wrap {
  width: 550px;
  margin: 50px auto;
  margin-top: 30px;
}
.lm-search-wrap input {
  width: 500px;
  height: 40px;
  padding: 10px;
  background: #fff;
  border: 1px solid #42958a;
}
.lm-search-wrap .search-button {
  width: 50px;
  height: 40px;
  float: right;
  background: url('../images/icon-search.png') center no-repeat #42958a;
  background-size: 22px;
  cursor: pointer;
}
.lm-hotSearch-wrap {
  width: 1190px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.lm-hotSearch-wrap .hotSearch-box {
  overflow: hidden;
}
.lm-hotSearch-wrap .hotSearch-box > li {
  float: left;
  width: 50px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 30px;
}
.lm-hotSearch-wrap .hotSearch-box > li p {
  margin-top: 10px;
  font-size: 14px;
  color: #7C7D7F;
}
.lm-hotSearch-wrap .hotSearch-box > li img {
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-hotSearch-wrap .hotSearch-box > li:hover img {
  box-shadow: 0px 8px 12px #ddd;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-searchList-wrap {
  width: 1190px;
  margin: 20px auto 100px;
  overflow: hidden;
}
.lm-searchList-wrap .searchList-box {
  width: 32%;
  height: 150px;
  float: left;
  margin-bottom: 30px;
}
.lm-searchList-wrap .searchList-box h2 {
  color: #1f2c5c;
  font-size: 24px;
}
.lm-searchList-wrap .searchList-box .list-inner {
  overflow: hidden;
}
.lm-searchList-wrap .searchList-box .list-inner li {
  width: 33.33%;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lm-searchList-wrap .searchList-box .list-inner li a {
  color: #7C7D7F;
  font-size: 16px;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-searchList-wrap .searchList-box .list-inner li a:hover {
  color: #8ec060;
  transition: color .3s;
  -webkit-transition: color .3s;
}
.lm-searchList-wrap .searchList-center {
  margin-left: 2%;
  margin-right: 2%;
}
@media (max-width: 992px) {
  .lm-hotSearch-wrap {
    width: 100%;
  }
  .lm-hotSearch-wrap .hotSearch-box > li {
    width: 12.5%;
    margin-left: 0;
  }
  .lm-searchList-wrap {
    width: 100%;
  }
  .lm-searchList-wrap .searchList-box {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .lm-search-wrap {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .lm-search-wrap input {
    width: 80%;
  }
  .lm-search-wrap .search-button {
    width: 20%;
  }
  .lm-hotSearch-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .lm-hotSearch-wrap .hotSearch-box > li {
    width: 20%;
    margin-bottom: 0.2rem;
  }
  .lm-hotSearch-wrap .hotSearch-box > li img {
    width: 30px;
  }
  .lm-hotSearch-wrap .hotSearch-box > li p {
    font-size: 0.12rem;
  }
  .lm-logo-wrap {
    margin-top: 0.3rem;
    font-size: 0.24rem;
  }
  .lm-search-wrap {
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
  }
  .lm-searchList-wrap {
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
  }
  .lm-searchList-wrap .searchList-box h2 {
    font-size: 0.2rem;
  }
  .lm-searchList-wrap .searchList-box .list-inner li {
    height: 0.3rem;
    line-height: 0.3rem;
  }
  .lm-searchList-wrap .searchList-box .list-inner li a {
    font-size: 0.14rem;
  }
}
