@charset "utf-8";
/* 引入字体 */
@font-face {
  font-family: NotoSansBold;
  src: url(../../../common/CN/fonts/NotoSans/SourceHanSansCN-Bold.otf);
  font-weight: bold;
}
/* 定义颜色变量 */
.headBanner {
  width: 100%;
  height: 200px;
}
.headBanner > h2 {
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  background: -webkit-linear-gradient(left, rgba(66, 149, 138, 0.6), rgba(31, 44, 92, 0.6));
  background: -o-linear-gradient(right, rgba(66, 149, 138, 0.6), rgba(31, 44, 92, 0.6));
  background: -moz-linear-gradient(right, rgba(66, 149, 138, 0.6), rgba(31, 44, 92, 0.6));
  background: linear-gradient(to right, rgba(66, 149, 138, 0.6), rgba(31, 44, 92, 0.6));
  filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#42958a, endcolorstr=#1f2c5c, gradientType=1);
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
.joinUs-headBanner {
  background: url(../aboutUs/images/join-us-bg.jpg) center top no-repeat;
}
.lm-section {
  width: 940px;
  min-height: 664px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.lm-section .lm-title {
  margin-bottom: 30px;
}
.lm-section .lm-title h1 {
  font-size: 36px;
  color: #1f2c5c;
  text-align: center;
  font-family: NotoSansBold;
}
.lm-section .lm-content {
  margin-bottom: 30px;
}
.lm-section .lm-content .c-1 {
  padding-top: 20px;
}
.lm-section .lm-content h1 {
  font-size: 36px;
  color: #1f2c5c;
  font-family: NotoSansBold;
  margin-bottom: 30px;
}
.lm-section .lm-content h2 {
  font-size: 24px;
  color: #181819;
  margin-bottom: 20px;
  padding-top: 14px;
  line-height: 36px;
}
.lm-section .lm-content h3 {
  color: #1f2c5c;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 28px;
}
.lm-section .lm-content p {
  font-size: 16px;
  color: #7C7D7F;
  margin-bottom: 16px;
  line-height: 24px;
  word-wrap: break-word;
}
.lm-section .lm-content a {
  color: #4aa374;
}
.lm-section .lm-content span {
  color: #1f2c5c;
}
.nextBtn a {
  float: right;
  display: inline-block;
  background: #1f2c5c;
  border-radius: 2px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.nextBtn a img {
  position: relative;
  left: 30px;
}
.nextBtn a:hover {
  background: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.table-hover > tbody > tr:hover {
  background-color: #F1F3F9;
}
@media screen and (max-width: 992px) {
  .headBanner {
    height: 1rem;
  }
  .headBanner h2 {
    height: 1rem;
    line-height: 1rem;
    font-size: 0.3rem;
  }
  .lm-section {
    width: 100%;
    padding: 0.3rem 0.15rem 0.1rem;
  }
  .lm-section .lm-title {
    margin-bottom: 0.2rem;
  }
  .lm-section .lm-title h1 {
    font-size: 0.2rem;
  }
  .lm-section .lm-content {
    margin-top: 0;
  }
  .lm-section .lm-content h1 {
    font-size: 0.2rem;
  }
  .lm-section .lm-content h2 {
    font-size: 0.16rem;
    margin-bottom: 0.2rem;
    line-height: 0.3rem;
  }
  .lm-section .lm-content h3 {
    color: #1f2c5c;
    font-size: 0.14rem;
    margin-bottom: 0.2rem;
    line-height: 0.26rem;
  }
  .lm-section .lm-content p {
    font-size: 0.14rem;
    margin-bottom: 0.2rem;
    line-height: 0.26rem;
  }
}
