/* 定义变量 */
.lm-video-play {
  width: 1480px;
  margin: 0 auto;
  margin-top: 30px;
}
.lm-video-play .v-play-title {
  height: 100px;
}
.lm-video-play .v-play-title .v-play-title-head {
  float: left;
}
.lm-video-play .v-play-title .v-play-title-head img {
  width: 100px;
  height: 100px;
}
.lm-video-play .v-play-title .v-play-title-con {
  float: left;
  margin-left: 30px;
}
.lm-video-play .v-play-title .v-play-title-con > h2 {
  font-weight: normal;
  font-size: 30px;
  color: #1a1a1a;
}
.lm-video-play .v-play-title .v-play-title-con > div {
  height: 20px;
  margin-top: 20px;
}
.lm-video-play .v-play-title .v-play-title-con > div p {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 18px;
  color: #8ec060;
}
.lm-video-play .v-play-title .v-play-title-con > div .v-search-left {
  height: 20px;
  display: inline-block;
  color: #1f2c5c;
  font-size: 18px;
  vertical-align: top;
  margin-left: 50px;
}
.lm-video-play .v-play-title .v-play-title-con > div .v-search-left > div {
  position: relative;
  float: left;
  cursor: pointer;
}
.lm-video-play .v-play-title .v-play-title-con > div .v-search-left > div > ul {
  display: none;
  position: absolute;
  top: 36px;
  left: 0px;
  z-index: 99;
  width: 120px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99000000", endColorstr="#99000000");
}
.lm-video-play .v-play-title .v-play-title-con > div .v-search-left > div > ul li {
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
  color: #1f2c5c;
}
.lm-video-play .v-play-title .v-play-title-con > div .v-search-left > div > ul li:hover {
  color: #8ec060;
}
.lm-video-play .v-play-title .v-play-title-con > div > span {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 18px;
  color: #1f2c5c;
  margin-left: 50px;
  margin-right: 10px;
}
.lm-video-play .v-play-content {
  height: 700px;
  background: url("../../images/EN/v-play-content.png") center no-repeat;
  margin-top: 62px;
}
.lm-video-play .v-play-content img {
  width: 1120px;
  height: 630px;
}
.lm-video-wrap-1 {
  width: 960px;
  margin: 0 auto;
  padding: 50px 10px;
  padding-bottom: 0;
}
.lm-video-wrap-1 .lm-video-detail {
  margin-top: 0;
}
.lm-video-wrap-2 {
  width: 960px;
  margin: 0 auto;
  padding: 50px 10px 140px 10px;
}
.lm-video-wrap-2 .lm-video-detail {
  margin-top: 0;
}
.lm-video-wrap-2 .lm-video-detail .v-detail-inner .v-detail-content-large {
  width: 470px;
}
.lm-video-wrap-2 .lm-video-detail .v-detail-inner .v-detail-content-large .v-detail-content .v-detail-content-bg {
  width: 470px;
  height: 260px;
  line-height: 260px;
}
/* 配置屏幕 */
@media screen and (max-width: 960px), (max-device-width: 960px) {
  .lm-header,
  .lm-footer {
    width: 960px;
  }
}
@media screen and (max-width: 1600px), (max-device-width: 1600px) {
  .lm-video-play {
    width: 1200px;
  }
  .lm-video-play .v-play-content img {
    width: 980px;
  }
}
