@charset "utf-8";
/* 引入字体 */
@font-face {
  font-family: NotoSansBold;
  src: url(../../../../common/CN/fonts/NotoSans/SourceHanSansCN-Bold.otf);
  font-weight: bold;
}
/* 定义颜色变量 */
/* 机场服务公共样式 */
.airport-section {
  width: 960px;
  min-height: 473px;
  margin: 50px auto;
}
.airport-section .lm-title {
  margin-bottom: 30px;
}
.airport-section .lm-title h1 {
  font-size: 36px;
  color: #1f2c5c;
  text-align: center;
  font-family: NotoSansBold;
}
.airport-wrap {
  margin-top: 40px;
}
.airport-title {
  font-size: 24px;
  font-family: NotoSansBold;
  color: #181819;
  padding: 0 10px;
}
.airport-title img {
  margin-right: 20px;
}
.airport-content {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}
.airport-content > h2 {
  font-size: 14px;
  font-family: NotoSansBold;
  margin-top: 20px;
  color: #1f2c5c;
}
.airport-content > .nth-child1 {
  margin-top: 20px;
}
.airport-content > p {
  font-size: 14px;
  margin-top: 10px;
  color: #7C7D7F;
}
.airport-content .airport-content-title {
  text-align: center;
  font-size: 16px;
  color: #1f2c5c;
}
.airport-content .airport-content-title img {
  margin-right: 10px;
}
.airport-content .airport-content-inner {
  width: 100%;
  margin-top: 20px;
}
.airport-content .airport-content-inner th,
.airport-content .airport-content-inner td {
  font-size: 14px;
  color: #7C7D7F;
  padding: 10px;
  text-align: center;
}
.airport-content .airport-content-inner .content-inner-title {
  background: #42958a;
  border-radius: 6px;
}
.airport-content .airport-content-inner .content-inner-title th {
  color: #fff;
}
.airport-content .airport-bashi-inner {
  text-align: center;
}
.airport-content .airport-bashi-inner .p1 {
  margin-top: 20px;
}
.airport-content .airport-bashi-inner > p {
  color: #1f2c5c;
  font-size: 14px;
  line-height: 26px;
}
.airport-content .additional-charge {
  margin-top: 30px;
}
.airport-content .airport-stop-inner .content-inner-title {
  margin-top: 10px;
}
.airport-content .airport-stop-p1 {
  color: #7C7D7F;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 20px;
}
.airport-content .airport-stop-tip {
  font-size: 14px;
  color: #d0021b;
  margin-top: 10px;
  padding-left: 10px;
}
/* 机场平面图 */
.airport-planeGraph .airport-content img {
  width: 100%;
  margin-top: 10px;
}
/* 机场交通 */
.airport-traffic {
  margin-top: 40px;
}
/* 机场电话 */
.airport-call {
  margin-top: 40px;
}
.airport-call .airport-call-content {
  padding: 30px;
}
.airport-call .airport-call-content > h2 {
  font-size: 14px;
  font-family: NotoSansBold;
  margin-top: 20px;
  color: #1f2c5c;
}
.airport-call .airport-call-content > h2:first-child {
  margin-top: 0;
}
.airport-call .airport-call-content > p {
  font-size: 14px;
  color: #7C7D7F;
}
/* 温馨提示 */
.warm-prompt {
  font-size: 14px;
  color: #d0021b;
  margin-top: 20px;
  padding-left: 30px;
}
@media screen and (max-width: 992px) {
  .airport-section {
    width: 100%;
    padding: 0.3rem 0.15rem;
    margin: 0;
  }
  .airport-section .lm-title {
    margin-bottom: 0.2rem;
  }
  .airport-section .lm-title h1 {
    font-size: 0.2rem;
  }
  .airport-content p img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .airport-title {
    font-size: 0.14rem;
  }
  .airport-title img {
    height: 0.2rem;
    margin-right: 0.1rem;
  }
  .airport-wrap,
  .airport-traffic,
  .airport-call {
    margin-top: 0.2rem;
  }
  .airport-content {
    margin-top: 0.1rem;
    padding: 0.1rem;
  }
  .airport-content > h2,
  .airport-content > p {
    font-size: 12px;
  }
  .airport-content .airport-content-inner {
    margin-top: 0.1rem;
  }
  .airport-content .airport-content-inner th,
  .airport-content .airport-content-inner td {
    font-size: 12px;
  }
  .airport-content .airport-bashi-inner > p {
    text-align: left;
    font-size: 12px;
  }
  .airport-content .airport-bashi-inner > .p1 {
    margin-top: 0.1rem;
    text-align: left;
  }
  .airport-content .airport-stop-p1,
  .airport-content .airport-stop-tip {
    font-size: 12px;
  }
  .airport-content .airport-content-title {
    font-size: 0.14rem;
  }
  .airport-content .airport-content-title img {
    width: 0.2rem;
  }
  .airport-call .airport-call-content {
    padding: 0.1rem;
  }
  .airport-call .airport-call-content > h2,
  .airport-call .airport-call-content > p {
    font-size: 12px;
  }
  .airport-content .airport-content-inner th,
  .airport-content .airport-content-inner td {
    padding: 6px;
  }
}
