/* 定义变量 */
/* 定义颜色变量 */
.lm-section {
  width: 940px;
  min-height: 300px;
  margin: 0 auto;
}
.lm-section .lm-content .subMenu {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
.lm-section .lm-content .subMenu ul li {
  width: 300px;
  list-style: none;
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
  /*遮罩*/
}
.lm-section .lm-content .subMenu ul li .a1 img {
  width: 100%;
}
.lm-section .lm-content .subMenu ul li .a1 .divA {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.lm-section .lm-content .subMenu ul li .a1 .divA .p1 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  background: rgba(31, 44, 92, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F1F2C5C', endColorstr='#7F1F2C5C');
  padding: 0 10px;
}
.lm-section .lm-content .subMenu ul li .a2 {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 200px;
  text-align: center;
  color: white;
  background: rgba(31, 44, 92, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F1F2C5C', endColorstr='#7F1F2C5C');
  transition: all 0.5s;
}
.lm-section .lm-content .subMenu ul li .a2 .p4 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 34px;
  left: -300px;
  color: #8ABD60;
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.2s 0.1s ease-out;
}
.lm-section .lm-content .subMenu ul li .a2 .p5 {
  width: 100%;
  text-align: center;
  line-height: 20px ;
  position: absolute;
  top: 40px;
  left: -300px;
  margin: 30px  0 10px;
  padding: 0 10px;
  font-size: 14px;
  color: white;
  transition: all 0.2s 0.2s ease-out;
}
.lm-section .lm-content .subMenu ul li .a2 .p6 {
  position: absolute;
  top: 140px;
  left: 175px;
  transform: scale(1.4);
  transition: all 0.3s 0.2s ;
}
.lm-section .lm-content .subMenu ul li .a2 .p6 span {
  font-family: Arial;
  font-size: 36px;
  font-weight: 700;
  color: white;
}
.lm-section .lm-content .subMenu ul li .a2 .p7 {
  position: absolute;
  bottom: -50px;
  left: 145px;
  width: 160px;
  height: 38px;
  line-height: 38px;
  border-radius: 20px;
  margin: 10px auto;
  border: 1px solid;
  transition: all 0.2s 0.5s ;
}
.lm-section .lm-content .subMenu ul .n2,
.lm-section .lm-content .subMenu ul .n5 {
  margin: 0 20px;
}
.lm-section .searchFlight {
  background: #F1F3F9;
  height: 70px;
  padding: 15px;
  overflow: hidden;
}
.lm-section .searchFlight h2 {
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 32px;
  color: #1f2c5c;
}
.lm-section .searchFlight h2 img {
  margin-right: 10px;
}
@media screen and (max-width: 992px) {
  .lm-section {
    width: 100%;
    padding: 0.15rem;
  }
  .lm-section .lm-content {
    margin-top: 0;
    margin-bottom: 0;
  }
  .lm-section .lm-content > h2 {
    font-size: 0.16rem;
    margin-top: 0;
  }
  .lm-section .lm-content .subMenu {
    margin-top: 0.15rem;
  }
  .lm-section .lm-content .subMenu ul li {
    width: 50%;
    margin-bottom: 0.15rem;
    padding: 0 15px;
    /*遮罩*/
  }
  .lm-section .lm-content .subMenu ul li .a1 img {
    width: 100%;
  }
  .lm-section .lm-content .subMenu ul li .a1 .divA {
    padding: 0 15px;
  }
  .lm-section .lm-content .subMenu ul li .a1 .divA .p1 {
    font-size: 0.16rem;
  }
  .lm-section .lm-content .subMenu ul li .a2 {
    display: none;
  }
  .lm-section .lm-content .subMenu ul .n2,
  .lm-section .lm-content .subMenu ul .n5 {
    margin: 0 0 0.15rem;
  }
  .lm-section .searchFlight {
    height: 0.5rem;
    padding: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }
  .lm-section .searchFlight h2 {
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.14rem;
  }
  .lm-section .searchFlight h2 img {
    width: 0.2rem;
  }
  .lm-section .searchFlight > a {
    width: 1.1rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.14rem;
    font-weight: normal;
  }
  .lm-section .searchFlight > a img {
    width: 0.14rem;
    left: 0.06rem;
  }
}
@media screen and (max-width: 767px) {
  .lm-section .lm-content .subMenu ul li {
    width: 100%;
    padding: 0;
  }
  .lm-section .lm-content .subMenu ul li .a1 .divA {
    padding: 0;
  }
}
