/* 定义变量 */
/* 定义颜色变量 */
.lm-section {
  width: 940px;
  min-height: 300px;
  margin: 0 auto;
}
.lm-section .title h1 {
  font-size: 50px;
  color: #1f2c5c;
}
.lm-section .check-start {
  height: 140px;
  background: rgba(31, 44, 92, 0.8);
  padding: 35px 20px;
  border-radius: 6px;
  margin-top: 20px;
}
.lm-section .check-start > div {
  float: left;
  width: 28%;
  margin-right: 20px;
}
.lm-section .check-start > div > p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
  line-height: 26px;
}
.lm-section .check-start > div input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-radius: 2px;
  font-size: 14px;
  color: #121c3e;
  padding: 0 20px;
}
.lm-section .check-start .startBtn {
  margin-bottom: 0;
  margin-top: 30px;
}
.lm-section .check-start .startBtn a {
  float: left;
  width: 120px;
  font-size: 16px;
}
.lm-section .check-start .startBtn a img {
  left: 8px;
}
.lm-section .check-steps {
  margin-top: 30px;
  margin-bottom: 50px;
}
.lm-section .check-steps h2 {
  font-size: 18px;
  font-weight: bold;
  color: #1f2c5c;
  margin-bottom: 20px;
  line-height: 28px;
}
.lm-section .check-steps .h2-steps {
  font-size: 14px;
  text-indent: 2em;
}
.lm-section .check-steps h3 {
  font-size: 16px;
  font-weight: bold;
  color: #1f2c5c;
  margin-bottom: 20px;
  line-height: 28px;
  text-indent: 2em;
}
.lm-section .check-steps p {
  font-size: 14px;
  color: #808080;
  margin-bottom: 20px;
  line-height: 26px;
  text-indent: 2em;
}
@media screen and (max-width: 992px) {
  .lm-section {
    width: 100%;
    padding: 15px;
  }
}
@media screen and (max-width: 767px) {
  .lm-section .title h1 {
    font-size: 0.26rem;
    text-align: center;
  }
  .lm-section .check-start {
    height: 250px;
    padding: 15px;
  }
  .lm-section .check-start > div {
    float: none;
    width: 2.6rem;
  }
  .lm-section .check-start .startBtn {
    float: left;
  }
  .lm-section .check-start .startBtn a {
    font-weight: normal;
  }
  .lm-section .check-start .c-2,
  .lm-section .check-start .startBtn {
    margin-top: 15px;
  }
}
