/* 定义变量 */
/* 定义颜色变量 */
.lm-section .lm-content .img {
  width: 100%;
}
.lm-section .lm-content .img img {
  width: 100%;
}
.lm-section .lm-content .getPassport {
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}
.lm-section .lm-content .getPassport a {
  color: #fff;
  float: left;
}
.lm-section .lm-content .getPassport a img {
  left: 14px;
}
.lm-section .searchFlight {
  width: 100%;
  height: 70px;
  padding: 15px;
  background: #F1F3F9;
  overflow: hidden;
}
.lm-section .searchFlight h2 {
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 32px;
  color: #1f2c5c;
}
.lm-section .searchFlight h2 img {
  margin-right: 10px;
}
/*************** 屏幕适配 ********************/
/* pad端 */
@media screen and (max-width: 992px) {
  .lm-section .lm-content {
    margin-top: 0.15rem;
    margin-bottom: 0;
  }
  .lm-section .lm-content > h2 {
    font-size: 0.16rem;
  }
  .lm-section .lm-content > p {
    font-size: 0.14rem;
  }
  .lm-section .lm-content .getPassport {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    text-align: center;
  }
  .lm-section .lm-content .getPassport a {
    float: none;
    width: 1.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.14rem;
    font-weight: normal;
  }
  .lm-section .lm-content .getPassport a img {
    width: 0.14rem;
    left: 0.06rem;
  }
  .lm-section .searchFlight {
    height: 0.5rem;
    padding: 0.1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
  }
  .lm-section .searchFlight h2 {
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.14rem;
  }
  .lm-section .searchFlight h2 img {
    width: 0.2rem;
  }
  .lm-section .searchFlight > a {
    width: 1.1rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.14rem;
    font-weight: normal;
  }
  .lm-section .searchFlight > a img {
    width: 0.14rem;
    left: 0.06rem;
  }
}
/* 手机端 */
